@model API.Catalogos.Perfil

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.GrupoId)

    <div class="card card-flush py-4 ">
        <!--begin::Card header-->
        <div class="card-header">
            <div class="card-title">
                <h2>Crear Perfil</h2>
            </div>
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Input group-->
            <h3 class="mb-5">Permisos generales</h3>
            <div class="fv-row">
                <!--begin::Input-->
                <div class="form-check form-check-custom form-check-solid mb-2">
                    @Html.EditorFor(model => model.Insercion, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">Crear</label>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-check form-check-custom form-check-solid mb-2">
                    @Html.EditorFor(model => model.Edicion, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">Editar</label>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-check form-check-custom form-check-solid mb-2">
                    @Html.EditorFor(model => model.Borrado, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">Borrar</label>
                </div>
                <!--end::Input-->
            </div>

            <div class="separator separator-dashed my-5"></div>

            <!--begin::Input group-->
            <h3 class="mb-5">Permisos generales</h3>
            <div class="fv-row">
                <!--begin::Input-->
                <div class="form-check form-check-custom form-check-solid mb-2">
                    @Html.EditorFor(model => model.Insercion, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">Crear</label>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-check form-check-custom form-check-solid mb-2">
                    @Html.EditorFor(model => model.Edicion, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">Editar</label>
                </div>
                <!--end::Input-->
                <!--begin::Input-->
                <div class="form-check form-check-custom form-check-solid mb-2">
                    @Html.EditorFor(model => model.Borrado, new { htmlAttributes = new { @class = "form-check-input" } })
                    <label class="form-check-label">Borrar</label>
                </div>
                <!--end::Input-->
            </div>



            <div class="separator my-5"></div>
            <div class="d-flex justify-content-end">
                <!--begin::Button-->
                <a href="@Url.Action("Index", "Perfiles")" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancelar</a>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary">
                    <span class="indicator-label">Guardar</span>
                </button>
                <!--end::Button-->
            </div>
        </div>
        <!--end::Card Body-->
    </div>
}


