@model API.Models.DocumentosPagos.DocumentosPagosModel

@{
    ViewBag.Title = "Cargar Layout";
}



@using (Html.BeginForm("CargaLayout", "DocumentosPagos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row g-5 g-xl-8">
        <div class="col-6">
            <!--begin::List Widget 1-->
            <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Archivo</span>
                        <span class="text-muted mt-1 fw-semibold fs-7">Selecciona archivo en CSV correspondiente y podrás previsualizar el procesamiento de las lineas que hayas cargado, si deseas que se procese finalmente, quita el check en Previsualización</span>
                    </h3>
                </div>

                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                    <div class="row d-flex align-items-center">
                        <!--begin::Section-->
                        <div class="form-group col-6">
                            <input class="w-100 btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" type="file" name="Archivo" typeof="Archivo" accept=".csv, .CSV" />
                        </div>
                        <!--end::Section-->
                        <!--begin::Section-->
                        <div class="form-check col-3">
                            @Html.EditorFor(model => model.Previsualizacion, new { htmlAttributes = new { @class = "form-check-input" } })
                            @Html.LabelFor(model => model.Previsualizacion, htmlAttributes: new { @class = "form-check-label" })
                        </div>
                        <!--end::Section-->
                        <!--begin::Actions-->
                        <div class="d-flex justify-content-end col-3">
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">Procesar</span>
                            </button>
                        </div>
                        <!--end::Actions-->
                    </div>
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 1-->
        </div>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="col-6">
                <!--begin::List Widget 2-->
                <div class="card card-stretch mb-xl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0">
                        <h3 class="card-title fw-bold text-gray-900">Resultado de la validación</h3>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-2">
                        <!--begin::Alert-->
                        <div class="alert bg-light-danger d-flex flex-column flex-sm-row p-5 mb-10">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-shield-cross fs-2hx text-danger me-4 mb-5 mb-sm-0">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                            </i>
                            <!--end::Icon-->
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column pe-0 pe-sm-10">
                                <!--begin::Title-->
                                <h4 class="fw-semibold fs-6">CFDi con errores</h4>
                                <!--end::Title-->
                                <!--begin::Content-->
                                <span>El CFDi no ha cumplido con las especificaciones comerciales o fiscales para procesarlo exitosamente.</span>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Alert-->
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <!--begin::Item-->
                            <div class="d-flex align-items-center mb-7">
                                <!--begin::Symbol-->
                                <div class="symbol symbol-50px me-5">
                                    <span class="symbol-label bg-light-danger">
                                        <i class="ki-duotone ki-disconnect fs-2x text-danger">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                            <span class="path5"></span>
                                        </i>
                                    </span>
                                </div>
                                <!--end::Symbol-->
                                <!--begin::Text-->
                                <div class="d-flex flex-column">
                                    <span class="fs-6">@modelError.ErrorMessage</span>
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Item-->
                        }
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::List Widget 2-->
            </div>
        }
    </div>




    if (Model.Pagos != null && Model.Pagos.Count > 0)
    {
        var i = 0;

        foreach (var pago in Model.Pagos)
        {
            i++;
            <div class="card card-flush mb-8">
                <div class="card-body pt-0">
                    <div class="row">


                        <div class="col-12 border rounded border-dashed border-primary p-10 my-7">
                            <span class="fs-2">
                                <i class="ki-duotone ki-bill fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                    <span class="path6"></span>
                                </i>
                                Pago @i
                            </span>

                            <div class="separator separator-dashed border-primary my-3"></div>

                            <div class="row mb-8">
                                <div class="col-4">
                                    <span class="fs-3">@pago.SocioComercial.RazonSocial</span><br />
                                    <span class="text-gray-700">Receptor del pago</span>
                                </div>
                                <div class="col-4">
                                    <span class="fs-3">@pago.FechaPago.ToString("dd/MM/yyyy")</span><br />
                                    <span class="text-gray-700">Fecha de Pago</span>
                                </div>
                                <div class="col-4">
                                    <span class="fs-3">@pago.Total.ToString("c") <span class="fs-5">@pago.Moneda</span></span><br />
                                    <span class="text-gray-700">Monto del pago</span>
                                </div>
                            </div>
                            <div class="row mb-8">
                                <div class="col-4">
                                    <span class="fs-3">@pago.BancoSucursal.Nombre</span><br />
                                    <span class="text-gray-700">Cuenta Bancaria Emisora / Ref CentroCFDi</span>
                                </div>
                                <div class="col-4">
                                    <span class="fs-3">@pago.ReferenciaBancaria</span><br />
                                    <span class="text-gray-700">Referencia Bancaria / Numero Operación</span>
                                </div>
                                <div class="col-4">
                                    <span class="fs-3">@pago.ReferenciaERP</span><br />
                                    <span class="text-gray-700">Referencia ERP</span>
                                </div>
                            </div>

                            <div class="row d-flex justify-content-end">
                                <div class="col-11 border rounded border-dashed border-primary p-10 pb-2">
                                    @if (pago.DocumentosPagados != null && pago.DocumentosPagados.Count > 0)
                                    {
                                        var h = 0;

                                        foreach (var documentoPagado in pago.DocumentosPagados)
                                        {
                                            h++;

                                            <div class="mb-10">
                                                <span class="fs-2">
                                                    <i class="ki-duotone ki-document fs-2">
                                                        <span class="path1"></span>
                                                        <span class="path2"></span>
                                                    </i>
                                                    Documento Pagado @h
                                                </span>

                                                <div class="separator separator-dashed border-primary my-3"></div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <span class="fs-3">@documentoPagado.UUID</span><br />
                                                        <span class="text-gray-700">UUID</span>
                                                    </div>
                                                    <div class="col-2">
                                                        <span class="fs-3">@documentoPagado.Serie / @documentoPagado.Folio</span><br />
                                                        <span class="text-gray-700">Serie / Folio</span>
                                                    </div>
                                                    <div class="col-2">
                                                        <span class="fs-3">@documentoPagado.MetodoPago / @documentoPagado.FormaPago</span><br />
                                                        <span class="text-gray-700">Método y Forma Pago</span>
                                                    </div>
                                                    <div class="col-3">
                                                        <span class="fs-3">@documentoPagado.Total.Value.ToString("c") <span class="fs-5">@pago.Moneda</span></span><br />
                                                        <span class="text-gray-700">Total</span>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        }
    }
}


<div class="hiddenDiv">
    <div class="d-flex align-items-center py-3 py-md-1" id="tools">
        <!--begin::Button-->
        <div class="me-4">
            <a href="#" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-white" data-bs-toggle="modal" data-bs-target="#modal">
                <i class="ki-duotone ki-message-question fs-2 me-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                </i>
                Ayuda
            </a>
        </div>
        <!--end::Button-->
        <!--begin::Button-->
        <div class="me-0">
            <a href="@Url.Action("Exportar", "DocumentosPagos")" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-white">
                <i class="ki-duotone ki-cloud-download fs-2 me-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
                Descargar Layout Vacío
            </a>
        </div>
        <!--end::Button-->
    </div>
</div>

