@model API.Operaciones.OperacionesProveedores.DocumentosRecibidosDR


@using (Html.BeginForm("Revision", "DocumentosPagos", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Procesado)
    @Html.HiddenFor(model => model.PathArchivoXml)
    @Html.HiddenFor(model => model.PathArchivoPdf)
    @Html.HiddenFor(model => model.SocioComercial_Id)
    @Html.HiddenFor(model => model.Validaciones.Detalle)
    @Html.HiddenFor(model => model.Validaciones.Fecha)
    @Html.HiddenFor(model => model.Validaciones_Detalle)
    @Html.HiddenFor(model => model.Usuario_Id)
    @Html.HiddenFor(model => model.CfdiRecibidos_Id)
    @Html.HiddenFor(model => model.CfdiRecibidos_Serie)
    @Html.HiddenFor(model => model.CfdiRecibidos_Folio)
    @Html.HiddenFor(model => model.Moneda_Id)
    @Html.HiddenFor(model => model.CfdiRecibidos_UUID)
    @Html.HiddenFor(model => model.EstadoComercial)
    @Html.HiddenFor(model => model.FechaComprobante)
    @Html.HiddenFor(model => model.FechaEntrega)
    @Html.HiddenFor(model => model.TipoDocumentoRecibido)
    @Html.HiddenFor(model => model.Monto)
    @Html.HiddenFor(model => model.EstadoPago)


    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        <div class="col-xl-6">
            @Html.Partial("~/Views/DocumentosRecibidosPartials/_InformacionDocumento.cshtml", Model)
        </div>

        <div class="col-6">
            @Html.Partial("~/Views/DocumentosRecibidosPartials/_EstadoComercialPagoDocumento.cshtml", Model)
        </div>
    </div>
    <!--end::Row-->

    <div class="row g-5 gx-lg-8">
        <div class="col-6">
            <div class="row">
                <div class="col-12 ">
                    @if (!Model.isProveedor && Model.EstadoComercial == API.Enums.c_EstadoComercial.Aprobado)
                    {
                        <!--begin::List Widget 7-->
                        <div class="card shadow card-xl-stretch mb-8">
                            <!--begin::Body-->
                            <div class="card-body">

                                <div class="d-flex flex-column flex-xl-row">
                                    <!--begin::Content-->
                                    <div class="flex-lg-row-fluid col-6">
                                        <!--begin::Ticket view-->
                                        <div class="mb-0">
                                            <!--begin::Heading-->
                                            <div class="d-flex align-items-center">
                                                <div class="w-100">
                                                    <!--end::Stat-->
                                                    <!--begin::Option-->
                                                    <input type="radio" class="btn-check" name="radio_buttons_2" id="aprobado" />
                                                    <label class="btn btn-outline btn-outline-dashed btn-outline-success btn-active-light-success p-7 d-flex align-items-center mb-5" for="aprobado">
                                                        <i class="ki-duotone ki-file-added fs-4x me-4">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                        </i>
                                                        <span class="d-block fw-semibold text-start">
                                                            <span class="text-gray-900 fw-bold d-block fs-3">Aprobar</span>
                                                            <span class="text-muted fw-semibold fs-6">Al aprobar el documento empezará el proceso administrativo y de pago.</span>
                                                        </span>
                                                    </label>

                                                    <!--end::Option-->
                                                    <!--begin::Option-->
                                                    <input type="radio" class="btn-check" name="radio_buttons_2" id="rechazado" />
                                                    <label class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger p-7 d-flex align-items-center" for="rechazado">
                                                        <i class="ki-duotone ki-tablet-delete fs-4x me-4">
                                                            <span class="path1"></span>
                                                            <span class="path2"></span>
                                                            <span class="path3"></span>
                                                        </i>
                                                        <span class="d-block fw-semibold text-start">
                                                            <span class="text-gray-900 fw-bold d-block fs-3">Rechazar</span>
                                                            <span class="text-muted fw-semibold fs-6">
                                                                Al rechazar el Comprobante, se le enviará un email al usuario que lo entregó informando el motivo de su rechazo.
                                                            </span>
                                                        </span>
                                                    </label>
                                                    <div class="border border-gray-400 border-dashed rounded py-3 px-4 mt-5" id="motivo-rechazo" style="display:none">
                                                        <div class="form-group col-xs-12">
                                                            @Html.LabelFor(model => model.AprobacionesDR.DetalleRechazo, htmlAttributes: new { @class = "control-label" })
                                                            @Html.EditorFor(model => model.AprobacionesDR.DetalleRechazo, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.AprobacionesDR.DetalleRechazo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <!--end::Option-->

                                                </div>
                                                <!--end::Heading-->
                                            </div>
                                        </div>
                                        <!--end::Ticket view-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 7-->
                    }

                </div>
            </div>

        </div>
    </div>


    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        <div class="col-xl-6">
            <!--begin::List Widget 2-->
            <div class="card shadow card-xl-stretch  mb-8">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title fw-bold text-gray-900">Resultado de la validación</h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <!--begin::Alert-->
                    <div class="alert bg-light-primary d-flex flex-column flex-sm-row p-5 mb-10">
                        <!--begin::Icon-->
                        <i class="ki-duotone ki-shield-tick fs-2hx text-primary me-4 mb-5 mb-sm-0">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                        <!--end::Icon-->
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column pe-0 pe-sm-10">
                            <!--begin::Title-->
                            <h4 class="fw-semibold fs-6">CFDi validado exitosamente</h4>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <span>El CFDi cumple con las condiciones para ser cargado en el sistema y procesado para pago.</span>
                            <!--end::Content-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Alert-->
                    <!--begin::Alert-->
                    <div class="d-flex align-items-center mb-7">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-50px me-5">
                            <span class="symbol-label bg-light-primary">
                                <i class="ki-duotone ki-double-check fs-2x text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Text-->
                        <div class="d-flex flex-column">
                            <h4 class="fw-semibold fs-6">El Receptor del CFDi es correcto</h4>
                            <span class="text-muted fw-bold"> </span>
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Alert-->
                    <!--begin::Alert-->
                    <div class="d-flex align-items-center mb-7">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-50px me-5">
                            <span class="symbol-label bg-light-primary">
                                <i class="ki-duotone ki-double-check fs-2x text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Text-->
                        <div class="d-flex flex-column">
                            <h4 class="fw-semibold fs-6">El Emisor del CFDi es correcto</h4>
                            <span class="text-muted fw-bold">@ViewBag.Emisor</span>
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Alert-->
                    <!--begin::Alert-->
                    <div class="d-flex align-items-center mb-7">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-50px me-5">
                            <span class="symbol-label bg-light-primary">
                                <i class="ki-duotone ki-double-check fs-2x text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Text-->
                        <div class="d-flex flex-column">
                            <h4 class="fw-semibold fs-6">El CFDi no se ha cargado previamente</h4>
                            <span class="text-muted fw-bold">@Html.DisplayFor(model => model.CfdiRecibidos_UUID)</span>
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Alert-->
                    <!--begin::Alert-->
                    <div class="d-flex align-items-center mb-7">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-50px me-5">
                            <span class="symbol-label bg-light-primary">
                                <i class="ki-duotone ki-double-check fs-2x text-primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Text-->
                        <div class="d-flex flex-column">
                            <h4 class="fw-semibold fs-6">La fecha del CFDi está dentro del mes actual</h4>
                            <span class="text-muted fw-bold">@Html.DisplayFor(model => model.FechaComprobante)</span>
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Alert-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>

        <div class="col-6 hiddenDiv">
            <!--begin::List Widget 2-->
            <div class="card shadow card-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0">
                    <h3 class="card-title fw-bold text-gray-900">Resultado de la validación</h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <!--begin::Alert-->
                    <div class="alert bg-light-danger d-flex flex-column flex-sm-row p-5 mb-10">
                        <!--begin::Icon-->
                        <i class="ki-duotone ki-shield-cross fs-2hx text-danger me-4 mb-5 mb-sm-0">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                        <!--end::Icon-->
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column pe-0 pe-sm-10">
                            <!--begin::Title-->
                            <h4 class="fw-semibold fs-6">CFDi con errores</h4>
                            <!--end::Title-->
                            <!--begin::Content-->
                            <span>El CFDi no ha cumplido con las especificaciones comerciales o fiscales para procesarlo exitosamente.</span>
                            <!--end::Content-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Alert-->
                    @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <!--begin::Item-->
                        <div class="d-flex align-items-center mb-7">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-50px me-5">
                                <span class="symbol-label bg-light-danger">
                                    <i class="ki-duotone ki-disconnect fs-2x text-danger">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                                </span>
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Text-->
                            <div class="d-flex flex-column">
                                <h4 class="fw-semibold fs-6">@modelError.ErrorMessage</h4>
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Item-->
                    }
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 2-->
        </div>

        <div class="col-xl-6">
            <!--begin::List Widget 4-->
            <div class="card shadow card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Informe de validación SAT</span>

                        <span class="text-muted mt-1 fw-semibold fs-7">Respuesta de validación de timbrado</span>
                    </h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-5">
                    @foreach (var detalle in Model.DetalleArrays)
                    {
                        if (@detalle.Split(':')[0] != "")
                        {
                            <!--begin::Item-->
                            <div class="d-flex align-items-center bg-light-success rounded p-5 mb-7">
                                <i class="ki-duotone ki-abstract-26 text-success fs-1 me-5"><span class="path1"></span><span class="path2"></span></i>
                                <!--begin::Title-->
                                <div class="flex-grow-1 me-2">
                                    <h4 class="fw-semibold fs-6">@detalle.Split(':')[0]</h4>
                                    @if (detalle.Split(':')[1].Length > 1)
                                    {
                                        <span class="text-muted fw-semibold d-block">@detalle.Split(':')[1]</span>
                                    }
                                    @if (detalle.Split(':')[2].Length > 1)
                                    {
                                        <span class="text-muted fw-semibold d-block">@detalle.Split(':')[2]</span>
                                    }
                                </div>
                                <!--end::Title-->
                                <!--begin::Lable-->
                                @*<span class="fw-bold text-success py-1">+50%</span>*@
                                <!--end::Lable-->
                            </div>
                            <!--end::Item-->
                        }
                    }

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 4-->
        </div>

    </div>
    <!--end::Row-->


    <div class="d-flex justify-content-end">
        <!--begin::Button-->
        <a href="@Url.Action("Index","DocumentosPagos")" class="btn btn-light me-5">
            Cancelar
        </a>
        <!--end::Button-->
        <!--begin::Button-->
        <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary">
            <span class="indicator-label">
                Guardar
            </span>
        </button>
        <!--end::Button-->
    </div>

}



@Html.Partial("~/Views/DocumentosRecibidosPartials/_DocumentoRecibidoPagoScripts.cshtml")
