@model API.Operaciones.OperacionesProveedores.DocumentosRecibidos


@using (Html.BeginForm("Revision", "DocumentosPagos", FormMethod.Post, new { enctype = "multipart/form-data", id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Procesado)
    @Html.HiddenFor(model => model.PathArchivoXml)
    @Html.HiddenFor(model => model.PathArchivoPdf)
    @Html.HiddenFor(model => model.SocioComercialId)
    @Html.HiddenFor(model => model.Validaciones.Detalle)
    @Html.HiddenFor(model => model.Validaciones.Fecha)
    @Html.HiddenFor(model => model.ValidacionesDetalle)
    @Html.HiddenFor(model => model.UsuarioId)
    @Html.HiddenFor(model => model.CfdiRecibidosId)
    @Html.HiddenFor(model => model.CfdiRecibidosSerie)
    @Html.HiddenFor(model => model.CfdiRecibidosFolio)
    @Html.HiddenFor(model => model.MonedaId)
    @Html.HiddenFor(model => model.CfdiRecibidosUUID)
    @Html.HiddenFor(model => model.FechaComprobante)
    @Html.HiddenFor(model => model.FechaEntrega)
    @Html.HiddenFor(model => model.TipoDocumentoRecibido)
    @Html.HiddenFor(model => model.Monto)
    @Html.HiddenFor(model => model.EstadoComercial)
    @Html.HiddenFor(model => model.EstadoPago)


    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
        <!--begin:::Tab item-->
        <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#ValidacionComercial" aria-selected="true" role="tab">Validación Comercial</a>
        </li>
        <!--end:::Tab item-->
        <!--begin:::Tab item-->
        <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#ValidacionFiscal" data-kt-initialized="1" aria-selected="false" role="tab" tabindex="-1">Validacion Fiscal</a>
        </li>
        <!--end:::Tab item-->
        <!--begin:::Tab item-->
        <li class="nav-item" role="presentation">
            <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#ArchivoAdjuntos" aria-selected="false" role="tab" tabindex="-1">Archivos Adjuntos</a>
        </li>
        <!--end:::Tab item-->
    </ul>


    <div class="tab-content" id="myTabContent">

        <div class="tab-pane fade active show" id="ValidacionComercial" role="tabpanel">
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-6">
                    @Html.Partial("~/Views/DocumentosRecibidosPartials/_InformacionDocumento.cshtml", Model)
                </div>

                <div class="col-6">
                    @Html.Partial("~/Views/DocumentosRecibidosPartials/_EstadoComercialPagoDocumento.cshtml", Model)
                </div>
            </div>

            <div class="row g-5 g-xl-8">
                <div class="col-12">
                    <!--begin::List Widget 1-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Body-->
                        <div class="card-body pt-5">
                            <div class="w-100">
                                <!--begin::Title-->
                                <label for="Referencia" class="form-label fs-5 fw-semibold text-gray-800">Referencia</label>
                                <!--end::Title-->
                                <!--begin::Title-->
                                <div class="d-flex">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-45px w-40px me-5">
                                        <span class="symbol-label bg-lighten">
                                            <i class="ki-duotone ki-element-11 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control me-3 flex-grow-1", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })
                                </div>
                                <!--end::Title-->
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 1-->
                </div>
            </div>
            <!--end::Row-->
        </div>

        <div class="tab-pane fade" id="ValidacionFiscal" role="tabpanel">
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                    @Html.Partial("~/Views/DocumentosRecibidosPartials/_ValidacionFiscalDocumento.cshtml", Model)
            </div>
            <!--end::Row-->
        </div>

        <div class="tab-pane fade" id="ArchivoAdjuntos" role="tabpanel">
            <div class="row g-5 g-xl-8 mb-20">
                @Html.Partial("~/Views/DocumentosRecibidosPartials/_ArchivosAdjuntos.cshtml", Model)
            </div>
        </div>

    </div>

    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        @Html.Partial("~/Views/DocumentosRecibidosPartials/_AprobacionRechazoComercialPago.cshtml", Model)
    </div>
    <!--end::Row-->


    <div class="d-flex justify-content-end">
        <!--begin::Button-->
        <a href="@Url.Action("Index","DocumentosPagos")" class="btn btn-light me-5">
            Cancelar
        </a>
        <!--end::Button-->
        <!--begin::Button-->
        <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary">
            <span class="indicator-label">
                Guardar
            </span>
        </button>
        <!--end::Button-->
    </div>

}

@Html.Partial("~/Views/DocumentosRecibidosPartials/_DocumentoRecibidoPagoScripts.cshtml")


