@model IEnumerable<API.Operaciones.Expedientes.ExpedienteLegal>
@using APBox.Context;

@{
    var _db = new APBoxContext();
    var usuarioId = Convert.ToInt32(Session["UsuarioId"]);
    var usuario = _db.Usuarios.Find(usuarioId);

}
<div class="card card-flush shadow-sm py-4">
   
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
            <table class="table align-middle rounded table-row-dashed g-5">
                <thead>
                    <tr class="text-start text-gray-600 fw-bold fs-7 text-uppercase">
                        <th class="min-w-100px">
                            Nombre
                        </th>
                        <th class="min-w-100px">
                            Descarga
                        </th>
                        <th class="min-w-100px">
                            Comentarios
                        </th>
                        <th class="min-w-100px">
                            Usuario
                        </th>
                        <th class="min-w-100px">
                            Fecha
                        </th>
                        <th class="min-w-100px">
                            Estatus
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="fs-7 align-text-top">
                            <td>
                                @if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                                { 
                                    <h4 class="fw-semibold fs-7">Acta Constitutiva</h4>
                                }
                                else
                                {
                                    <!--begin::Alert-->
                                    <div class="d-flex align-items-center mb-1">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-50px me-5">
                                            <span class="symbol-label bg-light-primary">
                                                <i class="ki-duotone ki-double-check fs-2x text-primary">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Text-->
                                        <div class="d-flex flex-column">
                                            <h4 class="fw-semibold fs-7">Acta Constitutiva</h4>
                                            <span class="text-muted fw-bold"> </span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Alert-->
                                }
                            </td>
                            @if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                            {
                                <td colspan="5" class="text-center"><span class="badge badge-light-warning">No disponible</span></td>
                            }
                            else
                            {
                                <td class="ki-text-align-center">
                                    
                                    <a id="downloadlinkCSF" href="@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathActaConstitutiva })"><i class="ki-outline ki-cloud-download" style="font-size: 35px;"></i></a>
                                </td>
                                <td rowspan="5">
                                    @if (string.IsNullOrEmpty(item.Comentarios))
                                    {
                                        @:&nbsp; <!-- Render a non-breaking space -->
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Comentarios)
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.UsuarioActaConstitutiva.NombreCompleto)</td>
                                <td>@Html.DisplayFor(modelItem => item.FechaCreacionActaConstitutiva)</td>
                                <td>
                                    @if (item.AprobacionActaConstitutiva.HasValue && item.AprobacionActaConstitutiva == 1)
                                    {
                                        <span class="badge badge-light-success">Aprobado</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-light-dark">Pendiente</span>
                                    }
                                </td>
                            }
                        </tr>
                    <tr class="fs-7 align-text-top">
                        <td>
                            @if (string.IsNullOrEmpty(item.PathCedulaIdentificacionFiscal))
                            {
                                <h4 class="fw-semibold fs-7">RFC</h4>
                            }
                            else
                            {
                                <!--begin::Alert-->
                                <div class="d-flex align-items-center mb-1">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-50px me-5">
                                        <span class="symbol-label bg-light-primary">
                                            <i class="ki-duotone ki-double-check fs-2x text-primary">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column">
                                        <h4 class="fw-semibold fs-7">RFC</h4>
                                        <span class="text-muted fw-bold"> </span>
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Alert-->
                            }
                        </td>
                        @if (string.IsNullOrEmpty(item.PathCedulaIdentificacionFiscal))
                        {
                            <td colspan="5" class="text-center"><span class="badge badge-light-warning">No disponible</span></td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathCedulaIdentificacionFiscal })"><i class="ki-outline ki-cloud-download" style="font-size: 35px;"></i></a>
                            </td>
                            if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                            {
                                <td rowspan="5">
                                    @if (string.IsNullOrEmpty(item.Comentarios))
                                    {
                                        @:&nbsp; <!-- Render a non-breaking space -->
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Comentarios)
                                    }
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.UsuarioCedulaIdentificacionFiscal.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCreacionCedulaIdentificacionFiscal)</td>
                            <td>
                                @if (item.AprobacionCedulaIdentificacionFiscal.HasValue && item.AprobacionCedulaIdentificacionFiscal == 1)
                                {
                                    <span class="badge badge-light-success">Aprobado</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-dark">Pendiente</span>
                                }
                            </td>
                        }
                    </tr>
                    <tr class="fs-7 align-text-top">
                        <td>
                            @if (string.IsNullOrEmpty(item.PathComprobanteDomicilio))
                            {
                                <h4 class="fw-semibold fs-7">Comprobante de Domicilio</h4>
                            }
                            else
                            {
                                <!--begin::Alert-->
                                <div class="d-flex align-items-center mb-1">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-50px me-5">
                                        <span class="symbol-label bg-light-primary">
                                            <i class="ki-duotone ki-double-check fs-2x text-primary">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column">
                                        <h4 class="fw-semibold fs-7">Comprobante de Domicilio</h4>
                                        <span class="text-muted fw-bold"> </span>
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Alert-->
                            }
                        </td>
                        @if (string.IsNullOrEmpty(item.PathComprobanteDomicilio))
                        {
                            <td colspan="5" class="text-center"><span class="badge badge-light-warning">No disponible</span></td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathComprobanteDomicilio })"><i class="ki-outline ki-cloud-download" style="font-size: 35px;"></i></a>
                            </td>
                            if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                            {
                                <td rowspan="5">
                                    @if (string.IsNullOrEmpty(item.Comentarios))
                                    {
                                        @:&nbsp; <!-- Render a non-breaking space -->
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Comentarios)
                                    }
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.UsuarioComprobanteDomicilio.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCreacionComprobanteDomicilio)</td>
                            <td>
                                @if (item.AprobacionComprobanteDomicilio.HasValue && item.AprobacionComprobanteDomicilio == 1)
                                {
                                    <span class="badge badge-light-success">Aprobado</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-dark">Pendiente</span>
                                }
                            </td>
                        }
                    </tr>
                    <tr class="fs-7 align-text-top">
                        <td>
                            @if (string.IsNullOrEmpty(item.PathIdentificacionOficialRepLeg))
                            {
                                <h4 class="fw-semibold fs-7">Identificación Oficial</h4>
                            }
                            else
                            {
                                <!--begin::Alert-->
                                <div class="d-flex align-items-center mb-1">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-50px me-5">
                                        <span class="symbol-label bg-light-primary">
                                            <i class="ki-duotone ki-double-check fs-2x text-primary">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column">
                                        <h4 class="fw-semibold fs-7">Identificación Oficial</h4>
                                        <span class="text-muted fw-bold"> </span>
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Alert-->
                            }
                        </td>
                        @if (string.IsNullOrEmpty(item.PathIdentificacionOficialRepLeg))
                        {
                            <td colspan="5" class="text-center"><span class="badge badge-light-warning">No disponible</span></td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathIdentificacionOficialRepLeg })"><i class="ki-outline ki-cloud-download" style="font-size: 35px;"></i></a>
                            </td>
                            if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                            {
                                <td rowspan="5">
                                    @if (string.IsNullOrEmpty(item.Comentarios))
                                    {
                                        @:&nbsp; <!-- Render a non-breaking space -->
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Comentarios)
                                    }
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.UsuarioIdentificacionOficialRepLeg.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCreacionIdentificacionOficialRepLeg)</td>
                            <td>
                                @if (item.AprobacionIdentificacionOficialRepLeg.HasValue && item.AprobacionIdentificacionOficialRepLeg == 1)
                                {
                                    <span class="badge badge-light-success">Aprobado</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-dark">Pendiente</span>
                                }
                            </td>
                        }
                    </tr>
                    <tr class="fs-7 align-text-top">
                        <td>
                            @if (string.IsNullOrEmpty(item.PathEstadoCuentaBancario))
                            {
                                <h4 class="fw-semibold fs-7">Estado Cuenta Bancario</h4>
                            }
                            else
                            {
                                <!--begin::Alert-->
                                <div class="d-flex align-items-center mb-1">
                                    <!--begin::Symbol-->
                                    <div class="symbol symbol-50px me-5">
                                        <span class="symbol-label bg-light-primary">
                                            <i class="ki-duotone ki-double-check fs-2x text-primary">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>
                                        </span>
                                    </div>
                                    <!--end::Symbol-->
                                    <!--begin::Text-->
                                    <div class="d-flex flex-column">
                                        <h4 class="fw-semibold fs-7">Estado Cuenta Bancario</h4>
                                        <span class="text-muted fw-bold"> </span>
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Alert-->
                            }
                        </td>
                        @if (string.IsNullOrEmpty(item.PathEstadoCuentaBancario))
                        {
                            <td colspan="5" class="text-center"><span class="badge badge-light-warning">No disponible</span></td>
                        }
                        else
                        {
                            <td>
                                <a href="@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathEstadoCuentaBancario })"><i class="ki-outline ki-cloud-download" style="font-size: 35px;"></i></a>
                            </td>
                            if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                            {
                                <td rowspan="5">
                                    @if (string.IsNullOrEmpty(item.Comentarios))
                                    {
                                        @:&nbsp; <!-- Render a non-breaking space -->
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Comentarios)
                                    }
                                </td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.UsuarioEstadoCuentaBancario.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaCreacionEstadoCuentaBancario)</td>
                            <td>
                                @if (item.AprobacionEstadoCuentaBancario.HasValue && item.AprobacionEstadoCuentaBancario == 1)
                                {
                                    <span class="badge badge-light-success">Aprobado</span>
                                }
                                else
                                {
                                    <span class="badge badge-light-dark">Pendiente</span>
                                }
                            </td>
                        }
                    </tr>
                    }
            </table>
        </div>
    </div>
    <!--end::Card header-->
</div>

<div class="hiddenDiv">
    <div class="d-flex align-items-center py-3 py-md-1" id="tools">
        <!--begin::Wrapper-->
        <div class="me-4">
            @if (usuario.esProveedor)
            {
                <!--begin::Menu-->
                <a href="@Url.Action("Edit","SociosComerciales",  new { id = usuario.SocioComercialId})" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-white">
                    <i class="ki-duotone ki-notepad-edit fs-5 me-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    Regresar
                </a>
                <!--end::Menu-->
            }
            else
            {
                <!--begin::Menu-->
                <a href="@Url.Action("Index","SociosComerciales")" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-white">
                    <i class="ki-duotone ki-notepad-edit fs-5 me-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    Regresar
                </a>
                <!--end::Menu-->
            }
        </div>
        <!--end::Wrapper-->
        @if (Model != null && Model.Any())
        {
            <!--begin::Button-->
            <a href="@Url.Action("Edit", "ExpedientesLegales", new { socioComercialId = ViewBag.SocioComercialId })" class="btn btn-secondary">
                Editar
            </a>
            <!--end::Button-->
        }
        else
        {
            <!--begin::Button-->
            <a href="@Url.Action("Create", "ExpedientesLegales", new { socioComercialId = ViewBag.SocioComercialId })" class="btn btn-secondary">
                Nuevo
            </a>
            <!--end::Button-->
        }
    </div>
</div>
