@model IEnumerable<API.Operaciones.Expedientes.ExpedienteLegal>
@using APBox.Context;

@{
    var _db = new APBoxContext();
    var usuarioId = Convert.ToInt32(Session["UsuarioId"]);
    var usuario = _db.Usuarios.Find(usuarioId);

}
<div class="card card-flush shadow-sm py-4">

    <!--begin::Card body-->
    <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
            <table class="table align-middle rounded table-row-dashed g-5">
                <thead>
                    <tr class="text-start text-gray-600 fw-bold fs-7 text-uppercase">
                        <th>
                            Documento
                        </th>
                        <th class="text-center">
                            Fecha de carga
                        </th>
                        <th class="text-center">
                            Estatus
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr class="align-text-top">
                            <td>Acta Constitutiva</td>
                            <td class="text-center">
                                @if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                                {
                                }
                                else
                                {
                                    @item.FechaCreacionActaConstitutiva.Value.ToString("dd-MM-yyyy");
                                }
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                                    {
                                        <span>Sin documento cargado</span>
                                    }
                                    else
                                    {
                                        if (item.AprobacionActaConstitutiva.HasValue && item.AprobacionActaConstitutiva == 1)
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="Aprobado">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-check-circle text-success fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                </button>
                                            </div>
                                            <div>
                                                <i class="ki-duotone ki-user-tick">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                                <span class="text-gray-800">@item.UsuarioActaConstitutiva.NombreCompleto</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="En Revisión">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-search-list text-primary fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathActaConstitutiva))
                                    {

                                    }
                                    else
                                    {
                                        <div data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-trigger="hover focus"
                                             data-bs-original-title="Descarga">
                                            <button type="button" class="btn btn-icon"
                                                    onclick="window.location.href='@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathActaConstitutiva })';">
                                                <i class="ki-duotone ki-file-down fs-1 text-primary">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>


                        <tr class="align-text-top">
                            <td>Cédula de identificación fiscal</td>
                            <td class="text-center">
                                @if (string.IsNullOrEmpty(item.PathCedulaIdentificacionFiscal))
                                {
                                }
                                else
                                {
                                    @item.FechaCreacionCedulaIdentificacionFiscal.Value.ToString("dd-MM-yyyy");
                                }
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathCedulaIdentificacionFiscal))
                                    {
                                        <span>Sin documento cargado</span>
                                    }
                                    else
                                    {
                                        if (item.AprobacionCedulaIdentificacionFiscal.HasValue
                                            && item.AprobacionCedulaIdentificacionFiscal == 1)
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="Aprobado">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-check-circle text-success fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                </button>
                                            </div>
                                            <div>
                                                <i class="ki-duotone ki-user-tick">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                                <span class="text-gray-800">@item.UsuarioCedulaIdentificacionFiscal.NombreCompleto</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="En Revisión">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-search-list text-primary fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathCedulaIdentificacionFiscal))
                                    {

                                    }
                                    else
                                    {
                                        <div data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-trigger="hover focus"
                                             data-bs-original-title="Descarga">
                                            <button type="button" class="btn btn-icon"
                                                    onclick="window.location.href='@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathCedulaIdentificacionFiscal })';">
                                                <i class="ki-duotone ki-file-down fs-1 text-primary">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>


                        <tr class="align-text-top">
                            <td>Comprobante de domicilio</td>
                            <td class="text-center">
                                @if (string.IsNullOrEmpty(item.PathComprobanteDomicilio))
                                {
                                }
                                else
                                {
                                    @item.FechaCreacionComprobanteDomicilio.Value.ToString("dd-MM-yyyy");
                                }
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathComprobanteDomicilio))
                                    {
                                        <span>Sin documento cargado</span>
                                    }
                                    else
                                    {
                                        if (item.AprobacionComprobanteDomicilio.HasValue && item.AprobacionComprobanteDomicilio == 1)
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="Aprobado">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-check-circle text-success fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                </button>
                                            </div>
                                            <div>
                                                <i class="ki-duotone ki-user-tick">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                                <span class="text-gray-800">@item.UsuarioComprobanteDomicilio.NombreCompleto</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="En Revisión">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-search-list text-primary fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathComprobanteDomicilio))
                                    {

                                    }
                                    else
                                    {
                                        <div data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-trigger="hover focus"
                                             data-bs-original-title="Descarga">
                                            <button type="button" class="btn btn-icon"
                                                    onclick="window.location.href='@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathComprobanteDomicilio })';">
                                                <i class="ki-duotone ki-file-down fs-1 text-primary">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>


                        <tr class="align-text-top">
                            <td>Identificación Oficial del Representante Legal</td>
                            <td class="text-center">
                                @if (string.IsNullOrEmpty(item.PathIdentificacionOficialRepLeg))
                                {
                                }
                                else
                                {
                                    @item.FechaCreacionIdentificacionOficialRepLeg.Value.ToString("dd-MM-yyyy");
                                }
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathIdentificacionOficialRepLeg))
                                    {
                                        <span>Sin documento cargado</span>
                                    }
                                    else
                                    {
                                        if (item.AprobacionIdentificacionOficialRepLeg.HasValue
                                            && item.AprobacionIdentificacionOficialRepLeg == 1)
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="Aprobado">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-check-circle text-success fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                </button>
                                            </div>
                                            <div>
                                                <i class="ki-duotone ki-user-tick">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                                <span class="text-gray-800">@item.UsuarioIdentificacionOficialRepLeg.NombreCompleto</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="En Revisión">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-search-list text-primary fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>

                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathIdentificacionOficialRepLeg))
                                    {

                                    }
                                    else
                                    {
                                        <div data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-trigger="hover focus"
                                             data-bs-original-title="Descarga">
                                            <button type="button" class="btn btn-icon"
                                                    onclick="window.location.href='@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathIdentificacionOficialRepLeg })';">
                                                <i class="ki-duotone ki-file-down fs-1 text-primary">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>


                        <tr class="align-text-top">
                            <td>Estado Cuenta Bancario</td>
                            <td class="text-center">
                                @if (string.IsNullOrEmpty(item.PathEstadoCuentaBancario))
                                {
                                }
                                else
                                {
                                    @item.FechaCreacionEstadoCuentaBancario.Value.ToString("dd-MM-yyyy");
                                }
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathEstadoCuentaBancario))
                                    {
                                        <span>Sin documento cargado</span>
                                    }
                                    else
                                    {
                                        if (item.AprobacionEstadoCuentaBancario.HasValue
                                            && item.AprobacionEstadoCuentaBancario == 1)
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="Aprobado">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-check-circle text-success fs-1"><span class="path1"></span><span class="path2"></span></i>
                                                </button>
                                            </div>
                                            <div>
                                                <i class="ki-duotone ki-user-tick">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                                <span class="text-gray-800">@item.UsuarioEstadoCuentaBancario.NombreCompleto</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-trigger="hover focus"
                                                 data-bs-original-title="En Revisión">
                                                <button type="button" class="btn btn-icon">
                                                    <i class="ki-duotone ki-search-list text-primary fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                </button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>

                            <td class="text-center">
                                <div class="d-flex justify-content-center">
                                    @if (string.IsNullOrEmpty(item.PathEstadoCuentaBancario))
                                    {

                                    }
                                    else
                                    {
                                        <div data-bs-toggle="tooltip"
                                             data-bs-placement="top"
                                             data-bs-trigger="hover focus"
                                             data-bs-original-title="Descarga">
                                            <button type="button" class="btn btn-icon"
                                                    onclick="window.location.href='@Url.Action("Download", "ExpedientesLegales", new { filePath = item.PathEstadoCuentaBancario })';">
                                                <i class="ki-duotone ki-file-down fs-1 text-primary">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </td>
                        </tr>

                    </tbody>
                }


            </table>
        </div>

        <hr class="py-0 mb-10" />


        <div class="d-flex flex-column">
            <h3>Comentarios</h3>
            <p>Comentarios guardados</p>
        </div>
    </div>
    <!--end::Card header-->
</div>

<div class="hiddenDiv">
    <div class="d-flex align-items-center py-3 py-md-1" id="tools">
        <!--begin::Wrapper-->
        <div class="me-4">
            @if (usuario.esProveedor)
            {
                <!--begin::Menu-->
                <a href="@Url.Action("Edit","SociosComerciales",  new { id = usuario.SocioComercialId})" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-white">
                    <i class="ki-duotone ki-notepad-edit fs-5 me-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    Regresar
                </a>
                <!--end::Menu-->
            }
            else
            {
                <!--begin::Menu-->
                <a href="@Url.Action("Index","SociosComerciales")" class="btn btn-custom btn-active-white btn-flex btn-color-white btn-active-color-white">
                    <i class="ki-duotone ki-notepad-edit fs-5 me-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    Regresar
                </a>
                <!--end::Menu-->
            }
        </div>
        <!--end::Wrapper-->
        @if (Model != null && Model.Any())
        {
            <!--begin::Button-->
            <a href="@Url.Action("Edit", "ExpedientesLegales", new { socioComercialId = ViewBag.SocioComercialId })" class="btn btn-secondary">
                Editar
            </a>
            <!--end::Button-->
        }
        else
        {
            <!--begin::Button-->
            <a href="@Url.Action("Create", "ExpedientesLegales", new { socioComercialId = ViewBag.SocioComercialId })" class="btn btn-secondary">
                Nuevo
            </a>
            <!--end::Button-->
        }
    </div>
</div>