@model IEnumerable<API.Catalogos.Departamento>

@{
    ViewBag.Title = "Departamentos";
}

@if (User.IsInRole("DEPARTAMENTOS"))
{
    <div class="card card-flush">
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
            <div class="row">
                <div class="card-title">
                    <p>Crea y modifica Departamentos para asignar y estructurar gastos</p>
                </div>
            </div>
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <i class="fa fa-magnifying-glass position-absolute ms-4"></i>
                <input type="text" data-kt-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Buscar" />
            </div>
            <!--end::Search-->
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <table class="table align-middle rounded table-row-dashed fs-6 g-5" id="kt_datatable">
                    <thead>
                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase">
                            <th class="min-w-100px">
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th class="min-w-100px">
                                @Html.DisplayNameFor(model => model.Clave)
                            </th>
                            <th class="min-w-100px">Opciones</th>
                        </tr>
                    </thead>

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <table class="table table-condensed dataTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                        </th>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa-caret-down"></span> Acciones
                                </button>
                                <ul class="dropdown-menu float-left">
                                    <li>@Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "font-size-13" })</li>
                                    <li>@Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "font-size-13" })</li>
                                    <li>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "font-size-13" })</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                        }
                </tbody>

                                    </div>
                                    <!--end::Menu-->
                                    <!--end::Action-->

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
}