@model API.Models.Control.HomeModel
@*
    agregar widgets de este homepage
        https://preview.keenthemes.com/metronic8/demo2/dashboards/online-courses.html
*@




@using APBox.Context;
@using System.Globalization;

@{
    var _db = new APBoxContext();
    var sucursal = _db.Sucursales.Find(Convert.ToInt32(Session["SucursalId"]));
    var usuario = _db.Usuarios.Find(Convert.ToInt32(Session["UsuarioId"]));
    var configuraciones = _db.ConfiguracionesDR.Where(c => c.SucursalId == sucursal.Id).FirstOrDefault();
    var socioComercialId = usuario.SocioComercialId != null ? usuario.SocioComercialId : 0;
}

@{
    // Renderiza el script si existe en TempData
    string mensaje = TempData["Mensaje"] as string;
    if (!string.IsNullOrEmpty(mensaje))
    {
        Html.Raw("alert('" + mensaje + "');");
        <script>

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toastr-bottom-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "500",
                "hideDuration": "500",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr.error("", '@Html.Raw(mensaje)');
        </script>
    }
}
@if (Request.IsAuthenticated && sucursal.Id != 0)
{

    // home si el usuario es interno
    if (User.IsInRole("RECEPCION") && !usuario.esProveedor)
    {
        <div class="row g-5 mb-10 d-flex">
            <!--begin::Col-->
            <div class="col-3">
                <!--begin::Engage widget 1-->
                <div class="card border-transparent card-stretch shadow h-100">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column flex-center">
                        <!--begin::Heading-->
                        <div class="mb-2">
                            <!--begin::Title-->
                            <h1 class="fw-semibold text-gray-800 text-center lh-lg">
                                Bienvenido a
                                <br>
                                <span class="fw-bolder">CentroCFDi</span>
                            </h1>
                            <!--end::Title-->
                            <!--begin::Illustration-->
                            <div class="py-10 text-center">
                                <img src="~/_CDN/assets/media/svg/illustrations/easy/8.svg" class="theme-light-show w-200px" alt="">
                            </div>
                            <!--end::Illustration-->
                        </div>
                        <!--end::Heading-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Engage widget 1-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-3">
                <!--begin::Card widget 3-->
                <div class="card border-transparent card-flush shadow bgi-no-repeat bgi-size-contain bgi-position-x-end h-100" style="background-color: #7239EA;background-image:url('/_CDN/assets/media/svg/shapes/wave-bg-purple.svg')">
                    <!--begin::Header-->
                    <div class="card-header pt-5 mb-3">
                        <!--begin::Icon-->
                        <div class="d-flex flex-center rounded-circle h-80px w-80px" style="border: 1px dashed rgba(255, 255, 255, 0.4);background-color: #7239EA">
                            <i class="ki-duotone ki-search-list text-white fs-4x lh-0">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                            </i>
                        </div>
                        <!--end::Icon-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body d-flex align-items-end mb-3">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center">
                            <span class="fs-4hx text-white fw-bold me-6">@Model.DocumentosRecibidosEnRevisionUsuario</span>

                            <div class="fw-bold fs-6 text-white">
                                <span class="d-block">CFDi Recibidos Pendientes</span>
                                <span class="">Para @usuario.Nombre @usuario.ApellidoPaterno</span>
                            </div>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer" style="border-top: 1px solid rgba(255, 255, 255, 0.3);background: rgba(0, 0, 0, 0.15);">
                        <!--begin::Progress-->
                        <div class="fw-bold text-white py-2">
                            <span class="fs-1 d-block">@Model.DocumentosRecibidosDepartamentoUsuario</span>
                            <span class="opacity-50">CFDi Pendientes para: <br /> @usuario.Departamento.Nombre</span>
                        </div>
                        <!--end::Progress-->
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card widget 3-->
            </div>
            <!--end::Col-->


            <div class="col-6">
                <!--begin::Engage widget 9-->
                <div class="card border-transparent mb-5 shadow" style="background: linear-gradient(112.14deg, #FF8A00 0%, #E96922 100%)">
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Row-->
                        <div class="row align-items-center">
                            <!--begin::Col-->
                            <div class="col-sm-7 pe-0 mb-5 mb-sm-0">
                                <!--begin::Wrapper-->
                                <div class="d-flex justify-content-between h-100 flex-column pt-xl-5 pb-xl-2 ps-xl-7">
                                    <!--begin::Container-->
                                    <div class="mb-7">
                                        <!--begin::Title-->
                                        <div class="mb-6">
                                            <h3 class="fs-2x fw-semibold text-white">Documentos y Pagos</h3>
                                            <span class="fw-semibold text-white opacity-75">Parte final del clico de cuentas por pagar para dar seguimiento.</span>
                                        </div>
                                        <!--end::Title-->
                                        <!--begin::Items-->
                                        <div class="d-flex align-items-center flex-wrap d-grid gap-2 ">
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center me-5 me-xl-13">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <i class="ki-duotone ki-abstract-41 fs-4 text-white"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="#" class="text-white text-opacity-75 fs-8">En Revisión para Pago</a>
                                                    <span class="fw-bold text-white fs-7 d-block">@Model.DocumentosPagosRevisionUsuario</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <i class="ki-duotone ki-abstract-26 fs-4 text-white"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="#" class="text-white text-opacity-75 fs-8">Aprobadas esperando Pago</a>
                                                    <span class="fw-bold text-white fs-7 d-block">@Model.DocumentosPagosAprobadoUsuario</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                        </div>
                                        <!--end::Items-->
                                    </div>
                                    <!--end::Container-->
                                    <!--begin::Action-->
                                    <div class="m-0">
                                        <a href="@Url.Action("Pagos", "DocumentosPagos")" class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold">
                                            Pagos
                                        </a>
                                    </div>
                                    <!--begin::Action-->
                                </div>
                                <!--end::Wrapper-->
                            </div>
                            <!--begin::Col-->
                            <!--begin::Col-->
                            <div class="col-sm-5">
                                <!--begin::Illustration-->
                                <img src="~/_CDN/assets/media/svg/illustrations/easy/2.svg" class="h-auto my-n6" alt="">
                                <!--end::Illustration-->
                            </div>
                            <!--begin::Col-->
                        </div>
                        <!--begin::Row-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Engage widget 9-->
                <!--begin::Col-->
                <div class="row">
                    <!--begin::Col-->
                    <div class="col-6">
                        <!--begin::Tiles Widget 5-->
                        <a href="#" class="card border-transparent shadow card-stretch bg-body h-100">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column justify-content-between">
                                <i class="ki-duotone ki-percentage text-primary fs-2hx ms-n1 flex-grow-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                <div class="d-flex flex-column mt-4">
                                    <div class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">
                                        @Model.PorcentajeAprobacionUsuario.ToString("0") %
                                    </div>

                                    <div class="text-muted fw-semibold fs-6">
                                        Porcentaje de Aprobación<br />
                                        útimos 30 días.
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Tiles Widget 5-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-6 mb-5 mb-xl-0">
                        <!--begin::Tiles Widget 5-->
                        <a href="#" class="card border-transparent shadow card-stretch bg-body h-100">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column justify-content-between">
                                <i class="ki-duotone ki-clipboard text-success fs-2hx ms-n1 flex-grow-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                                <div class="d-flex flex-column mt-4">
                                    <div class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">
                                        @Model.DocumentosRecibidos30DiasUsuario
                                    </div>

                                    <div class="text-muted fw-semibold fs-6">
                                        Documentos Recibidos Totales <br />
                                        últimos 30 días
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Tiles Widget 5-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Col-->
            </div>
        </div>

    }

    // home si el usuario es proveedor
    if (User.IsInRole("RECEPCION") && usuario.esProveedor)
    {
        var existeExpediente = Model.ExpedientesFiscales != null;


        if (existeExpediente == false || Model.DiasVigencia <= 5)
        {
            <div class="row g-5 mb-5 d-flex">
                <div class="col-12">
                    <div class="card border-transparent shadow" style="background-color: #1C325E;">
                        <!--begin::Body-->
                        <div class="card-body d-flex ps-xl-15">
                            <!--begin::Wrapper-->
                            <div class="m-0">
                                <!--begin::Title-->
                                <div class="position-relative fs-3 z-index-2 text-white pe-20 me-20 mb-7">
                                    <span class="me-2">

                                        @if (existeExpediente == false)
                                        {
                                            <span>
                                                No has cargado tu Expediente Fiscal, recuerda que es necesario para poder entregar tus facturas.
                                                @sucursal.RazonSocial pide que se actualice la Constancia de Situación Fiscal y Opinión de Cumplimiento de SAT cada
                                                <span class="text-danger bolded fs-2">@configuraciones.DiasVigenciaExpedienteFiscal</span> días.
                                            </span>
                                        }
                                        @if (Model.DiasVigencia <= 5 && Model.DiasVigencia > 0)
                                        {
                                            <span>
                                                Tu Expediente Fiscal esta a <span class="text-danger bolded fs-2">@Model.DiasVigencia</span> días de vencer su vigencia.
                                            </span>
                                        }
                                        @if (Model.DiasVigencia <= 0)
                                        {
                                            <span>
                                                Tu Expediente Fiscal esta <span class="text-danger bolded fs-2">VENCIDO</span>. Actualiza tu expediente lo antes posible para continuar con tus operaciones.
                                            </span>
                                        }
                                    </span>
                                </div>
                                <!--end::Title-->
                                <!--begin::Action-->
                                <div class="mb-3">
                                    <a href="@Url.Action("Edit", "SociosComerciales", new { id = socioComercialId })" class="btn btn-danger fw-semibold me-2">
                                        Ir a Expediente
                                    </a>
                                </div>
                                <!--begin::Action-->
                            </div>
                            <!--begin::Wrapper-->
                            <!--begin::Illustration-->
                            <img src="~/_CDN/assets/media/illustrations/sigma-1/17-dark.png" class="position-absolute me-3 bottom-0 end-0 h-150px" alt="">
                            <!--end::Illustration-->
                        </div>
                        <!--end::Body-->
                    </div>
                </div>
            </div>
        }

        <div class="row g-5 mb-10 d-flex">
            <!--begin::Col-->
            <div class="col-3">
                <!--begin::Engage widget 1-->
                <div class="card border-transparent card-stretch shadow h-100">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column flex-center">
                        <!--begin::Heading-->
                        <div class="mb-2">
                            <!--begin::Title-->
                            <h1 class="fw-semibold text-gray-800 text-center lh-lg">
                                Bienvenido a
                                <br>
                                <span class="fw-bolder">CentroCFDi</span>
                            </h1>
                            <!--end::Title-->
                            <!--begin::Illustration-->
                            <div class="py-10 text-center">
                                <img src="~/_CDN/assets/media/svg/illustrations/easy/8.svg" class="theme-light-show w-200px" alt="">
                            </div>
                            <!--end::Illustration-->
                        </div>
                        <!--end::Heading-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Engage widget 1-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-3">
                <!--begin::Card widget 3-->
                <div class="card border-transparent card-flush shadow bgi-no-repeat bgi-size-contain bgi-position-x-end h-100" style="background-color: #7239EA;background-image:url('/_CDN/assets/media/svg/shapes/wave-bg-purple.svg')">
                    <!--begin::Header-->
                    <div class="card-header pt-5 mb-3">
                        <!--begin::Icon-->
                        <div class="d-flex flex-center rounded-circle h-80px w-80px" style="border: 1px dashed rgba(255, 255, 255, 0.4);background-color: #7239EA">
                            <i class="ki-duotone ki-search-list text-white fs-4x lh-0">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                            </i>
                        </div>
                        <!--end::Icon-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body d-flex align-items-end mb-3">
                        <!--begin::Info-->
                        <div class="d-flex align-items-center">
                            <span class="fs-4hx text-white fw-bold me-6">@Model.DocumentosRecibidosEnRevisionUsuarioSC</span>

                            <div class="fw-bold fs-6 text-white">
                                <span class="d-block">CFDi Entregados En Revisión</span>
                                <span class="">Por @usuario.Nombre @usuario.ApellidoPaterno</span>
                            </div>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Card footer-->
                    <div class="card-footer" style="border-top: 1px solid rgba(255, 255, 255, 0.3);background: rgba(0, 0, 0, 0.15);">
                        <!--begin::Progress-->
                        <div class="fw-bold text-white py-2">
                            <span class="fs-1 d-block">@Model.DocumentosRecibidosEnRevisionSC</span>
                            <span class="opacity-50">CFDi Pendientes para: <br /> @usuario.SocioComercial.RazonSocial</span>
                        </div>
                        <!--end::Progress-->
                    </div>
                    <!--end::Card footer-->
                </div>
                <!--end::Card widget 3-->
            </div>
            <!--end::Col-->


            <div class="col-6">
                <!--begin::Engage widget 9-->
                <div class="card border-transparent mb-5 shadow" style="background: linear-gradient(112.14deg, #FF8A00 0%, #E96922 100%)">
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Row-->
                        <div class="row align-items-center">
                            <!--begin::Col-->
                            <div class="col-sm-7 pe-0 mb-5 mb-sm-0">
                                <!--begin::Wrapper-->
                                <div class="d-flex justify-content-between h-100 flex-column pt-xl-5 pb-xl-2 ps-xl-7">
                                    <!--begin::Container-->
                                    <div class="mb-7">
                                        <!--begin::Title-->
                                        <div class="mb-6">
                                            <h3 class="fs-2x fw-semibold text-white">Documentos y Pagos</h3>
                                            <span class="fw-semibold text-white opacity-75">Parte final del clico de cuentas por pagar para dar seguimiento.</span>
                                        </div>
                                        <!--end::Title-->
                                        <!--begin::Items-->
                                        <div class="d-flex align-items-center flex-wrap d-grid gap-2 ">
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center me-5 me-xl-13">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <i class="ki-duotone ki-abstract-41 fs-4 text-white"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="#" class="text-white text-opacity-75 fs-8">En Revisión para Pago</a>
                                                    <span class="fw-bold text-white fs-7 d-block">@Model.DocumentosPagosRevisionSC</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="d-flex align-items-center">
                                                <!--begin::Symbol-->
                                                <div class="symbol symbol-30px symbol-circle me-3">
                                                    <span class="symbol-label" style="background: rgba(255, 255, 255, 0.15);">
                                                        <i class="ki-duotone ki-abstract-26 fs-4 text-white"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                </div>
                                                <!--end::Symbol-->
                                                <!--begin::Info-->
                                                <div class="m-0">
                                                    <a href="#" class="text-white text-opacity-75 fs-8">Aprobadas esperando Pago</a>
                                                    <span class="fw-bold text-white fs-7 d-block">@Model.DocumentosPagosAprobadosSC</span>
                                                </div>
                                                <!--end::Info-->
                                            </div>
                                            <!--end::Item-->
                                        </div>
                                        <!--end::Items-->
                                    </div>
                                    <!--end::Container-->
                                    <!--begin::Action-->
                                    <div class="m-0">
                                        <a href="@Url.Action("ComplementosPagosCargados", "DocumentosPagos")" class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold">
                                            Pagos
                                        </a>
                                    </div>
                                    <!--begin::Action-->
                                </div>
                                <!--end::Wrapper-->
                            </div>
                            <!--begin::Col-->
                            <!--begin::Col-->
                            <div class="col-sm-5">
                                <!--begin::Illustration-->
                                <img src="~/_CDN/assets/media/svg/illustrations/easy/2.svg" class="h-auto my-n6" alt="">
                                <!--end::Illustration-->
                            </div>
                            <!--begin::Col-->
                        </div>
                        <!--begin::Row-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Engage widget 9-->
                <!--begin::Col-->
                <div class="row">
                    <!--begin::Col-->
                    <div class="col-6">
                        <!--begin::Tiles Widget 5-->
                        <a href="#" class="card border-transparent shadow card-stretch bg-body h-100">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column justify-content-between">
                                <i class="ki-duotone ki-percentage text-primary fs-2hx ms-n1 flex-grow-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                <div class="d-flex flex-column mt-4">
                                    <div class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">
                                        @Model.PorcentajeAprobacionSC.ToString("0") %
                                    </div>

                                    <div class="text-muted fw-semibold fs-6">
                                        Porcentaje de Aprobación <br />
                                        útimos 30 días.
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Tiles Widget 5-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-6 mb-5 mb-xl-0">
                        <!--begin::Tiles Widget 5-->
                        <a href="#" class="card border-transparent shadow card-stretch bg-body h-100">
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column justify-content-between">
                                <i class="ki-duotone ki-clipboard text-success fs-2hx ms-n1 flex-grow-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                </i>
                                <div class="d-flex flex-column mt-4">
                                    <div class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">
                                        @Model.DocumentosRecibidos30DiasSC
                                    </div>

                                    <div class="text-muted fw-semibold fs-6">
                                        Documentos Recibidos Totales <br />
                                        últimos 30 días
                                    </div>
                                </div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Tiles Widget 5-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Col-->
            </div>
        </div>

    }


    <div class="row g-5 mb-10 visually-hidden">
        <!--begin::Col-->
        <div class="col-xl-3 col-lg-4">
            <!--begin::Card widget 3-->
            <div class="card border-transparent card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color: #009fc0; background-image: url('~_/CDN/assets/media/svg/shapes/wave-bg-red.svg')">
                <!--begin::Header-->
                <div class="card-header pt-5 mb-3">
                    <!--begin::Icon-->
                    <div class="d-flex flex-center rounded-circle h-80px w-80px" style="border: 1px dashed rgba(255, 255, 255, 0.4); background-color: #009fc0">
                        <i class="ki-duotone ki-people text-white fs-2qx lh-0">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                        </i>
                    </div>
                    <!--end::Icon-->
                </div>
                <!--end::Header-->
                <!--begin::Card body-->
                <div class="card-body d-flex align-items-end mb-3">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <span class="fs-4hx text-white fw-bold me-6">@Model.CfdiEmitidos</span>
                        <div class="fw-bold fs-6 text-white">
                            <span class="d-block">CFDi</span>
                            <span class="">Emitidos en el mes</span>
                        </div>
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::Card body-->
                <!--begin::Card footer-->
                <div class="card-footer" style="border-top: 1px solid rgba(255, 255, 255, 0.3);background: rgba(0, 0, 0, 0.15);">
                    <!--begin::Progress-->
                    <div class="fw-bold text-white py-2">
                        <span class="fs-1 d-block">@Model.Total</span>
                        <span class="opacity-50">CFDi pendienes sin timbrar</span>
                    </div>
                    <!--end::Progress-->
                </div>
                <!--end::Card footer-->
            </div>
            <!--end::Card widget 3-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-3 col-lg-4">
            <!--begin::Card widget 3-->
            <div class="card border-transparent card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end h-xl-100" style="background-color: #7239EA;background-image:url('assets/media/svg/shapes/wave-bg-purple.svg')">
                <!--begin::Header-->
                <div class="card-header pt-5 mb-3">
                    <!--begin::Icon-->
                    <div class="d-flex flex-center rounded-circle h-80px w-80px" style="border: 1px dashed rgba(255, 255, 255, 0.4);background-color: #7239EA">
                        <i class="ki-duotone ki-folder-down text-white fs-2qx lh-0">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </div>
                    <!--end::Icon-->
                </div>
                <!--end::Header-->
                <!--begin::Card body-->
                <div class="card-body d-flex align-items-end mb-3">
                    <!--begin::Info-->
                    <div class="d-flex align-items-center">
                        <span class="fs-4hx text-white fw-bold me-6">12</span>
                        <div class="fw-bold fs-6 text-white">
                            <span class="d-block">CFDI Recibidos</span>
                            <span class="">Por revisar</span>
                        </div>
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::Card body-->
                <!--begin::Card footer-->
                <div class="card-footer" style="border-top: 1px solid rgba(255, 255, 255, 0.3);background: rgba(0, 0, 0, 0.15);">
                    <!--begin::Progress-->
                    <div class="fw-bold text-white py-2">
                        <span class="fs-1 d-block">35</span>
                        <span class="opacity-50">Recibidos por Departamento</span>
                    </div>
                    <!--end::Progress-->
                </div>
                <!--end::Card footer-->
            </div>
            <!--end::Card widget 3-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-6 col-lg-4">
            <!--begin::Chart widget 36-->
            <div class="row gy-5 g-xl-10">
                <!--begin::Col-->
                <div class="col-sm-6 mb-xl-10">
                    <!--begin::Card widget 2-->
                    <div class="card border-transparent h-lg-100">
                        <!--begin::Body-->
                        <div class="card-body d-flex justify-content-between align-items-start flex-column">
                            <!--begin::Icon-->
                            <div class="m-0">
                                <i class="ki-duotone ki-compass fs-2hx text-gray-600">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Section-->
                            <div class="d-flex flex-column my-7">
                                <!--begin::Number-->
                                <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">327</span>
                                <!--end::Number-->
                                <!--begin::Follower-->
                                <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">Projects</span>
                                </div>
                                <!--end::Follower-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card widget 2-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-sm-6 mb-xl-10">
                    <!--begin::Card widget 2-->
                    <div class="card border-transparent h-lg-100">
                        <!--begin::Body-->
                        <div class="card-body d-flex justify-content-between align-items-start flex-column">
                            <!--begin::Icon-->
                            <div class="m-0">
                                <i class="ki-duotone ki-chart-simple fs-2hx text-gray-600">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Section-->
                            <div class="d-flex flex-column my-7">
                                <!--begin::Number-->
                                <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">27,5M</span>
                                <!--end::Number-->
                                <!--begin::Follower-->
                                <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">Stock Qty</span>
                                </div>
                                <!--end::Follower-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card widget 2-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Chart widget 36-->
            <!--begin::Chart widget 36-->
            <div class="row gy-5 g-xl-10">
                <!--begin::Col-->
                <div class="col-sm-6 mb-xl-10">
                    <!--begin::Card widget 2-->
                    <div class="card border-transparent h-lg-100">
                        <!--begin::Body-->
                        <div class="card-body d-flex justify-content-between align-items-start flex-column">
                            <!--begin::Icon-->
                            <div class="m-0">
                                <i class="ki-duotone ki-compass fs-2hx text-gray-600">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Section-->
                            <div class="d-flex flex-column my-7">
                                <!--begin::Number-->
                                <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">327</span>
                                <!--end::Number-->
                                <!--begin::Follower-->
                                <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">Projects</span>
                                </div>
                                <!--end::Follower-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card widget 2-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-sm-6 mb-xl-10">
                    <!--begin::Card widget 2-->
                    <div class="card border-transparent h-lg-100">
                        <!--begin::Body-->
                        <div class="card-body d-flex justify-content-between align-items-start flex-column">
                            <!--begin::Icon-->
                            <div class="m-0">
                                <i class="ki-duotone ki-chart-simple fs-2hx text-gray-600">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                            </div>
                            <!--end::Icon-->
                            <!--begin::Section-->
                            <div class="d-flex flex-column my-7">
                                <!--begin::Number-->
                                <span class="fw-semibold fs-3x text-gray-800 lh-1 ls-n2">27,5M</span>
                                <!--end::Number-->
                                <!--begin::Follower-->
                                <div class="m-0">
                                    <span class="fw-semibold fs-6 text-gray-500">Stock Qty</span>
                                </div>
                                <!--end::Follower-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card widget 2-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Chart widget 36-->
        </div>
        <!--end::Col-->
    </div>

    <!--begin::Row-->
    <div class="row g-5 g-xl-8 visually-hidden">
        <div class="col-xl-3">
            <!--begin::Statistics Widget 5-->
            <a href="#" class="card border-transparent bg-body hoverable card-xl-stretch mb-xl-8">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
                    <span class="svg-icon svg-icon-primary svg-icon-3x ms-n1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="8" y="9" width="3" height="10" rx="1.5" fill="currentColor" />
                            <rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="currentColor" />
                            <rect x="18" y="11" width="3" height="8" rx="1.5" fill="currentColor" />
                            <rect x="3" y="13" width="3" height="6" rx="1.5" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <div class="text-gray-900 fw-bold fs-2 mb-2 mt-5">@Model.Clientes</div>
                    <div class="fw-semibold text-gray-400">Clientes Totales</div>
                </div>
                <!--end::Body-->
            </a>
            <!--end::Statistics Widget 5-->
        </div>
        <div class="col-xl-3">
            <!--begin::Statistics Widget 5-->
            <a href="#" class="card border-transparent bg-dark hoverable card-xl-stretch mb-xl-8">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm008.svg-->
                    <span class="svg-icon svg-icon-gray-100 svg-icon-3x ms-n1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M18 21.6C16.3 21.6 15 20.3 15 18.6V2.50001C15 2.20001 14.6 1.99996 14.3 2.19996L13 3.59999L11.7 2.3C11.3 1.9 10.7 1.9 10.3 2.3L9 3.59999L7.70001 2.3C7.30001 1.9 6.69999 1.9 6.29999 2.3L5 3.59999L3.70001 2.3C3.50001 2.1 3 2.20001 3 3.50001V18.6C3 20.3 4.3 21.6 6 21.6H18Z" fill="currentColor" />
                            <path d="M12 12.6H11C10.4 12.6 10 12.2 10 11.6C10 11 10.4 10.6 11 10.6H12C12.6 10.6 13 11 13 11.6C13 12.2 12.6 12.6 12 12.6ZM9 11.6C9 11 8.6 10.6 8 10.6H6C5.4 10.6 5 11 5 11.6C5 12.2 5.4 12.6 6 12.6H8C8.6 12.6 9 12.2 9 11.6ZM9 7.59998C9 6.99998 8.6 6.59998 8 6.59998H6C5.4 6.59998 5 6.99998 5 7.59998C5 8.19998 5.4 8.59998 6 8.59998H8C8.6 8.59998 9 8.19998 9 7.59998ZM13 7.59998C13 6.99998 12.6 6.59998 12 6.59998H11C10.4 6.59998 10 6.99998 10 7.59998C10 8.19998 10.4 8.59998 11 8.59998H12C12.6 8.59998 13 8.19998 13 7.59998ZM13 15.6C13 15 12.6 14.6 12 14.6H10C9.4 14.6 9 15 9 15.6C9 16.2 9.4 16.6 10 16.6H12C12.6 16.6 13 16.2 13 15.6Z" fill="currentColor" />
                            <path d="M15 18.6C15 20.3 16.3 21.6 18 21.6C19.7 21.6 21 20.3 21 18.6V12.5C21 12.2 20.6 12 20.3 12.2L19 13.6L17.7 12.3C17.3 11.9 16.7 11.9 16.3 12.3L15 13.6V18.6Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <div class="text-gray-100 fw-bold fs-2 mb-2 mt-5">@Model.CfdiEmitidos</div>
                    <div class="fw-semibold text-gray-100">CFDI Generados del mes presente</div>
                </div>
                <!--end::Body-->
            </a>
            <!--end::Statistics Widget 5-->
        </div>
        <div class="col-xl-3">
            <!--begin::Statistics Widget 5-->
            <a href="#" class="card border-transparent bg-warning hoverable card-xl-stretch mb-xl-8">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
                    <span class="svg-icon svg-icon-white svg-icon-3x ms-n1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M20 15H4C2.9 15 2 14.1 2 13V7C2 6.4 2.4 6 3 6H21C21.6 6 22 6.4 22 7V13C22 14.1 21.1 15 20 15ZM13 12H11C10.5 12 10 12.4 10 13V16C10 16.5 10.4 17 11 17H13C13.6 17 14 16.6 14 16V13C14 12.4 13.6 12 13 12Z" fill="currentColor" />
                            <path d="M14 6V5H10V6H8V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5V6H14ZM20 15H14V16C14 16.6 13.5 17 13 17H11C10.5 17 10 16.6 10 16V15H4C3.6 15 3.3 14.9 3 14.7V18C3 19.1 3.9 20 5 20H19C20.1 20 21 19.1 21 18V14.7C20.7 14.9 20.4 15 20 15Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <div class="text-white fw-bold fs-2 mb-2 mt-5">@Model.Total</div>
                    <div class="fw-semibold text-white">CFDI Pendientes sin timbrar</div>
                </div>
                <!--end::Body-->
            </a>
            <!--end::Statistics Widget 5-->
        </div>
        <div class="col-xl-3">
            <!--begin::Statistics Widget 5-->
            <a href="#" class="card border-transparent bg-info hoverable card-xl-stretch mb-5 mb-xl-8">
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Svg Icon | path: icons/duotune/graphs/gra007.svg-->
                    <span class="svg-icon svg-icon-white svg-icon-3x ms-n1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path opacity="0.3" d="M10.9607 12.9128H18.8607C19.4607 12.9128 19.9607 13.4128 19.8607 14.0128C19.2607 19.0128 14.4607 22.7128 9.26068 21.7128C5.66068 21.0128 2.86071 18.2128 2.16071 14.6128C1.16071 9.31284 4.96069 4.61281 9.86069 4.01281C10.4607 3.91281 10.9607 4.41281 10.9607 5.01281V12.9128Z" fill="currentColor" />
                            <path d="M12.9607 10.9128V3.01281C12.9607 2.41281 13.4607 1.91281 14.0607 2.01281C16.0607 2.21281 17.8607 3.11284 19.2607 4.61284C20.6607 6.01284 21.5607 7.91285 21.8607 9.81285C21.9607 10.4129 21.4607 10.9128 20.8607 10.9128H12.9607Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <div class="text-white fw-bold fs-2 mb-2 mt-5">@Model.MontoCFDI</div>
                    <div class="fw-semibold text-white">Monto de CFDI de Ingreso del Mes</div>
                </div>
                <!--end::Body-->
            </a>
            <!--end::Statistics Widget 5-->
        </div>
    </div>

    <!--begin::Row-->
    <div class="row g-5 g-xl-8 visually-hidden">
        <div class="col-xl-6">
            <!--begin::Charts Widget 3-->
            <div class="card border-transparent card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold fs-3 mb-1">Total de Ingresos de los Ultimos 6 meses</span>
                        <span class="text-muted fw-semibold fs-7">Ingresos por cada Mes hasta la fecha</span>
                    </h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body">
                    <!--begin::Chart-->
                    <div id="chart_clientes_por_mes" style="height: 350px"></div>
                    <!--end::Chart-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Charts Widget 3-->
        </div>

    </div>
    <!--end::Row-->



}


<script>

    $(document).ready(function() {
        var Mestotal1 = @Model.MontoCFDI;
        var Mestotal2 = @Model.Mes2total;
        var Mestotal3 = @Model.Mes3total;
        var Mestotal4 = @Model.Mes4total;
        var Mestotal5 = @Model.Mes5total;
        var Mestotal6 = @Model.Mes6total;

        var mes1 = '@Model.Mes1';
        var mes2 = '@Model.Mes2';
        var mes3 = '@Model.Mes3';
        var mes4 = '@Model.Mes4';
        var mes5 = '@Model.Mes5';
        var mes6 = '@Model.Mes6';

        var element = document.getElementById('chart_clientes_por_mes');
        var labelColor = KTUtil.getCssVariableValue('--kt-gray-500');
        var borderColor = KTUtil.getCssVariableValue('--kt-gray-200');
        var baseColor = KTUtil.getCssVariableValue('--kt-primary');
        var secondaryColor = KTUtil.getCssVariableValue('--kt-gray-300');

        if (!element) {
            return;
        }

        var options = {
            series: [{

                name: 'Beneficio Neto',
                data: [Mestotal1, Mestotal2, Mestotal3, Mestotal4, Mestotal5, Mestotal6]
            }, {
                    name: 'Ingresos',
                data: [Mestotal1, Mestotal2, Mestotal3, Mestotal4, Mestotal5, Mestotal6]
                }],
            chart: {
                fontFamily: 'inherit',
                type: 'bar',
                height: '350',
                toolbar: {
                    show: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: ['30%'],
                    endingShape: 'rounded'
                },
            },
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: [mes1, mes2, mes3, mes4, mes5, mes6],
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    style: {
                        colors: labelColor,
                        fontSize: '12px'
                    }
                }
            },
            yaxis: {
                labels: {
                    style: {
                        colors: labelColor,
                        fontSize: '12px'
                    }
                }
            },
            fill: {
                opacity: 1
            },
            states: {
                normal: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                hover: {
                    filter: {
                        type: 'none',
                        value: 0
                    }
                },
                active: {
                    allowMultipleDataPointsSelection: false,
                    filter: {
                        type: 'none',
                        value: 0
                    }
                }
            },
            tooltip: {
                style: {
                    fontSize: '12px'
                },
                y: {
                    formatter: function (val) {
                        return '$' + val
                    }
                }
            },
            colors: [baseColor, secondaryColor],
            grid: {
                borderColor: borderColor,
                strokeDashArray: 4,
                yaxis: {
                    lines: {
                        show: true
                    }
                }
            }
        };

        var chart = new ApexCharts(element, options);
        chart.render();
    });


</script>




















