@using Microsoft.AspNet.Identity
@model APBox.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Html.ValidationSummary() != null)
    {
        <div class="row">
            <div class="pb-10">
                <!--begin::Information-->
                <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                    <!--begin::Icon-->
                    <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                    <span class="svg-icon svg-icon-3x svg-icon-primary me-5">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"></rect>
                            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"></rect>
                            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <!--end::Icon-->
                    <!--begin::Description-->
                    <div class="text-gray-700 fs-6">
                        @Html.ValidationSummary()
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::Information-->
            </div>
        </div>
    }


    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
            @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control mb-2" })
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
            @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mb-2" })
        </div>

        <div class="clearfix"></div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mb-2" })
        </div>
    </div>

    <div class="separator my-5"></div>

    <div class="d-flex justify-content-end">
        <!--begin::Button-->
        <a href="@Url.Action("Index", "Home")" class="btn btn-light me-5">Cancelar</a>
        <!--end::Button-->
        <!--begin::Button-->
        <button type="submit" id="submit" class="btn btn-primary">
            <span class="indicator-label">Guardar</span>
        </button>
        <!--end::Button-->
    </div>
}


