@model API.Models.Dto.DataRestore

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Restore", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card card-flush py-4">
        <div class="card-header">
            <div class="card-title">
                <h2>Recuperación de Contraseña</h2>
            </div>
        </div>
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Alert-->
            <div class="alert bg-light-info d-flex flex-column flex-sm-row p-5 mb-7">
                <!--begin::Icon-->
                <i class="ki-duotone ki-some-files fs-2hx text-info me-4 mb-5 mb-sm-0">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
                <!--end::Icon-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-column pe-0 pe-sm-10">
                    <!--begin::Title-->
                    <h4 class="fw-semibold fs-6">Info</h4>
                    <!--end::Title-->
                    <!--begin::Content-->
                    <span>
                        Para recuperar tu contraseña, sigue estos pasos:<br><br>
                        1. Nombre de Usuario: Introduce tu nombre de usuario en el campo correspondiente.<br>
                        2. Correo Electrónico: Proporciona la dirección de correo electrónico asociada a tu cuenta.<br><br>
                        Una vez que hayas ingresado tu nombre de usuario y correo electrónico, recibirás un correo con las instrucciones para restablecer tu contraseña. Sigue los pasos detallados en el correo para completar el proceso de recuperación de tu cuenta.<br><br>
                        Si no recibes el correo en unos minutos, revisa tu carpeta de spam o correo no deseado. Si aún así no logras encontrar el correo, contacta a nuestro soporte técnico en <a href="mailto:soporte@centrocfdi.com">soporte@centrocfdi.com</a> para recibir asistencia adicional.
                    </span>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Alert-->

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }
            @Html.ValidationSummary(true, "", new { @class = "label-blue-alt", @style = "color:red;" })
            <div class="d-flex mb-7 row ">
                <div class="mb-10 row">
                    <div class="form-group col-4 ">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-label required" })
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control mb-2" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-4 ">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label required" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-2" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <!--begin::Guardar-->
                    <div class="form-group col-4 d-flex align-items-center">
                        <!--begin::Button-->
                        <button type="submit" class="btn btn-primary">
                            <span class="indicator-label">
                                Enviar
                            </span>
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Guardar-->
                    <!--begin::Regresar-->
                    
                        <div class="text-center mt-5">
                            <a href="~/Account/Login" class="btn btn-primary">Regresar al Login</a>
                        </div>
                        <!--end::Button-->
                    
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

}
<script>
    $(document).ready(function () {
        //quita espacios al inicio, final y centro
        $('#Username').on('input', function () {
            var cleanedValue = $(this).val().replace(/\s+/g, '');
            $(this).val(cleanedValue);
        });
        $('#Email').on('input', function () {
            var cleanedValue = $(this).val().replace(/\s+/g, '');
            $(this).val(cleanedValue);
        });
        
    });
    

</script>

