@model API.Models.Dto.DataRestore

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card card-flush py-4">
        <div class="card-header">
            <div class="card-title">
                <h2>Restaurar Contraseña</h2>
            </div>
        </div>
        <!--begin::Card body-->
        <div class="card-body pt-0">
            <!--begin::Alert-->
            <div class="alert bg-light-info d-flex flex-column flex-sm-row p-5 mb-7">
                <!--begin::Icon-->
                <i class="ki-duotone ki-some-files fs-2hx text-info me-4 mb-5 mb-sm-0">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
                <!--end::Icon-->
                <!--begin::Wrapper-->
                <div class="d-flex flex-column pe-0 pe-sm-10">
                    <!--begin::Title-->
                    <h4 class="fw-semibold fs-6">Info</h4>
                    <!--end::Title-->
                    <!--begin::Content-->
                    <span>
                        Por favor, ingresa tu nueva contraseña en los campos a continuación. Asegúrate de que ambas contraseñas coincidan.
                    </span>
                    <!--end::Content-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Alert-->

            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }
            @Html.ValidationSummary(true, "", new { @class = "label-blue-alt", @style = "color:red;" })
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.Token)
            <div class="d-flex mb-7 row ">
                <div class="mb-10 row">
                    <div class="form-group col-4 ">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label required" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control mb-2" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-4 ">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label required" })
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control mb-2" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <!--begin::Guardar-->
                    <div class="form-group col-4 d-flex align-items-center">

                        <!--begin::Button-->
                        <button type="submit" class="btn btn-primary">
                            <span class="indicator-label">
                                Enviar
                            </span>
                        </button>
                        <!--end::Button-->
                    </div>
                    <!--end::Guardar-->
                </div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
<script>
    $(document).ready(function () {
        //quita espacios al inicio, final y centro
        $('#Username').on('input', function () {
            var cleanedValue = $(this).val().replace(/\s+/g, '');
            $(this).val(cleanedValue);
        });
        $('#Email').on('input', function () {
            var cleanedValue = $(this).val().replace(/\s+/g, '');
            $(this).val(cleanedValue);
        });
    });


</script>


