@model API.Operaciones.OperacionesProveedores.PagosDR

@using APBox.Context;

@if (Model.ComplementoPago != null)
{
<div class="card card-xl-stretch mb-xl-8">
    <!--begin::Body-->
    <div class="card-body p-0">
        <!--begin::Header-->
        <div class="px-9 pt-7 card-rounded h-275px w-100 bg-primary">
            <!--begin::Balance-->
            <div class="d-flex text-center flex-column text-white pt-8">
                <h3 class="card-title fw-bold text-white">Datos Complemento Pago Cargado</h3>
                <span class="fw-semibold fs-7">Importe Total</span>
                <span class="fw-bold fs-3x pt-1">@Model.ComplementoPago.Monto.ToString("C", new System.Globalization.CultureInfo("mx-MX")) <span class="fs-2">@Model.ComplementoPago.Moneda</span></span>
            </div>
            <!--end::Balance-->
        </div>
        <!--end::Header-->
        <!--begin::Items-->
        <div class="bg-body shadow-sm card-rounded mx-9 mb-9 px-6 py-9 position-relative z-index-1" style="margin-top: -100px">
              <!--begin::Item-->
                <div class="d-flex align-items-center mb-6">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-45px w-40px me-5">
                        <span class="symbol-label bg-lighten">
                            <i class="ki-duotone ki-safe-home fs-1">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Description-->
                    <div class="d-flex align-items-center flex-wrap w-100">
                        <!--begin::Title-->
                        <div class="mb-1 pe-3 flex-grow-1">
                            <h4 class="fw-semibold fs-6">@Model.ComplementoPago.NombreEmisor</h4>
                            <div class="text-gray-600 fw-semibold fs-7">Emisor</div>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-home">
                        </i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">@Model.ComplementoPago.NombreReceptor</h4>
                        <div class="text-gray-600 fw-semibold fs-7">Receptor</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-compass fs-1"><span class="path1"></span><span class="path2"></span></i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">@Model.ComplementoPago.Serie - @Model.ComplementoPago.Folio</h4>
                        <div class="text-gray-600 fw-semibold fs-7">Serie - Folio</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-element-11 fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">@Model.ComplementoPago.Uuid</h4>
                        <div class="text-gray-600 fw-semibold fs-7">Folio Fiscal</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-calendar-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                        </i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">@Model.ComplementoPago.FechaPago</h4>
                        <div class="text-gray-600 fw-semibold fs-7">Fecha de generación de Pago</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-triangle">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                        </i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">@Model.ComplementoPago.FormaPago</h4>
                        <div class="text-gray-600 fw-semibold fs-7">Forma de Pago</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-mouse-square">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">
                            @if (Model.ComplementoPago.TipoComprobante == API.Enums.c_TipoDeComprobante.I)
                            {
                                <text>Ingreso</text>
                            }
                            else if (@Model.ComplementoPago.TipoComprobante == API.Enums.c_TipoDeComprobante.E)
                            {
                                <text>Nota de Crédito</text>
                            }
                            else if (@Model.ComplementoPago.TipoComprobante == API.Enums.c_TipoDeComprobante.T)
                            {
                                <text>Traslado</text>
                            }
                            else if (Model.ComplementoPago.TipoComprobante == API.Enums.c_TipoDeComprobante.P)
                            {
                                <text>Pago</text>
                            }
                            else
                            {
                                <text>Otro</text>
                            }

                        </h4>
                        <div class="text-gray-600 fw-semibold fs-7">Tipo de comprobante</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="d-flex align-items-center mb-6">
                <!--begin::Symbol-->
                <div class="symbol symbol-45px w-40px me-5">
                    <span class="symbol-label bg-lighten">
                        <i class="ki-duotone ki-share">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                            <span class="path6"></span>
                        </i>
                    </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-wrap w-100">
                    <!--begin::Title-->
                    <div class="mb-1 pe-3 flex-grow-1">
                        <h4 class="fw-semibold fs-6">@Model.ComplementoPago.Moneda - @Model.ComplementoPago.TipoCambio</h4>
                        <div class="text-gray-600 fw-semibold fs-7">Moneda y Tipo de Cambio</div>
                    </div>
                    <!--end::Title-->
                </div>
                <!--end::Description-->
            </div>
            <!--end::Item-->
            
        </div>
        <!--end::Items-->
    </div>
    <!--end::Body-->
</div>
}

