<script>
    $(function () {

        //ACTIVA CAMPO PARTE TRANSPORTE
        $('#TipoFiguraTransporte').change(function () {
            var TipoFiguraTransporte = $(this).val();
            
            if (TipoFiguraTransporte === "02" || TipoFiguraTransporte === "03") {

                $('#ActivaCampoPartesTransporte').show(200);
            } else { $('#ActivaCampoPartesTransporte').hide(200); }
        });

        ///obtiene ubicaciones y genera un dropdow en la vista detalle mercancia
        $(".getMercancias").click(function () {
            var ubicacionesLength = $('.ubicacion').length;
            
            if (ubicacionesLength > 0) {
                var ubicacionesJson = [];
                var data = $("#Mercancias_Mercancia_CantidadTransportada_IDOrigen");
                $(".ubicacion").each(function (index, element) {
                    var IDClaveUbicacion = $(element).find('#IdUbicacion').text().trim();
                    var validaTipo = IDClaveUbicacion.indexOf("OR")
                   
                    console.log(IDClaveUbicacion);
                  //  if (validaTipo !== -1) {
                       
                       // $("#Mercancias_Mercancia_CantidadTransportada_ddlIDOrigen").removeAttr('disabled');
                       // $("#Mercancias_Mercancia_CantidadTransportada_ddlIDOrigen").selectpicker('refresh');
                    //} else {
                    data.empty();

                    data.append($('<option></option>').text(IDClaveUbicacion))
                       // $("#Mercancias_Mercancia_CantidadTransportada_ddlIDDestino").removeAttr('disabled');
                    data.selectpicker('refresh');
                    //}

                   
                    ubicacionesJson.push({
                        "text": IDClaveUbicacion,
                        "value": IDClaveUbicacion
                    });
                   
                });
                //var json = jQuery.parseJSON(ubicacionesJson);
                $.each(ubicacionesJson, function () {
                    $.each(this, function (key, val) {
                        $("#Mercancias_Mercancia_CantidadTransportada_ddlIDOrigen").append($('<option></option>').text(val))


                    });
                });
                
               
                
            }
        });
     });
    $(function () {
        $('#TranspInternac').change(function () {

            if ($('#TranspInternac').prop('checked')) {
                $('.divValidaTransInternc').show(200);
                $('#EntradaSalidaMerc').prop('checked', true);

        } else {
                $('.divValidaTransInternc').hide(200);
                $('#EntradaSalidaMerc').prop('checked', false);
        }
        });

    });
    $(function () {
        $('#Mercancias_Mercancia_MaterialPeligrosos').change(function () {

            if ($('#Mercancias_Mercancia_MaterialPeligrosos').prop('checked')) {
                $('.ActivaCampoMatPeligroso').show(200);
                $('#Mercancias_Mercancia_MaterialPeligrosos').val(true);
            } else {
                $('.ActivaCampoMatPeligroso').hide(200);
                $('#Mercancias_Mercancia_MaterialPeligrosos').val(false);
            }
        });

    });
    //DETALLE MERCANCIAS
    $(function () {
    /*$('.addPedimento').change(function () {
        if ($('.addPedimento').prop('checked')) {
            $('.divPedimento').show(200);
            $('.divPedimento').css('display', 'inline');
        } else {
            $('.divPedimento').hide(200);
        }
    });

        $('.addGIdentificacion').change(function () {
            if ($('.addGIdentificacion').prop('checked')) {
                $('.divGIdentificacion').show(200);
                $('.divGIdentificacion').css('display', 'inline');
            } else {
                $('.divGIdentificacion').hide(200);
            }
        });*/


        $('.addCTransportada').change(function () {
            if ($('.addCTransportada').prop('checked')) {
                $('.divCTransportada').show(200);
                $('.divCTransportada').css('display', 'inline');
            } else {
                $('.divCTransportada').hide(200);
            }
        });

    });
    //ACTIVA CAMPOS CON TRANSPORTE INTERNACIONAL Y COMPROBANTE INGRESO
    $(function () {
        $('.ActivaCheckTransInter').change(function () {
            var ClaveTransporteId = $('#claveTransporteId').val();


            if ($('#TranspInternac').prop('checked') && (ClaveTransporteId === "1" || ClaveTransporteId ==="3")) {
                $('.DivPedimento').show(200);
                $('#activaFraccionArancelaria').show(200);
                $('.DivCantidadTransportada').show(200);
                

            } else {
                $('.DivPedimento').hide(200);
                $('#activaFraccionArancelaria').hide(200);
                //$('.DivCantidadTransportada').hide(200);

            }
        });


    });

    $(function () {
        $('#claveTransporteId').change(function () {
            var ClaveTransporteId = $('#claveTransporteId').val();

            if (ClaveTransporteId === "1" || ClaveTransporteId === "3") {
                if ($('#TranspInternac').prop('checked')) {
                    $('.DivPedimento').show(200);
                    $('#activaFraccionArancelaria').show(200);
                    $('.DivCantidadTransportada').show(200);

                } else {
                    $('.DivPedimento').hide(200);
                    $('#activaFraccionArancelaria').hide(200);
                    $('.DivCantidadTransportada').hide(200);

                }
            }
        });


    });


    $(function () {
        //Agrega total peso tara mercancia
        $('#pesoNeto').on("keyup", function () {
            if ($('#pesoNeto').val() > 0 && $('#pesoBruto').val() > 0) {
                var pesoNeto = parseFloat($('#pesoNeto').val());
                var pesoBruto = parseFloat($('#pesoBruto').val());
                var Total;
                if ($('#pesoNeto').val() === "") { pesoNeto = 0; }
                if ($('#pesoBruto').val() === "") { pesoBruto = 0; }
                Total = pesoBruto - pesoNeto;
                $('#pesoTara').val(Total);
            } else {
                $('#pesoTara').val(0);
            }
        });
        $('#pesoBruto').on("keyup", function () {
            if ($('#pesoBruto').val() > 0 && $('#pesoNeto').val() > 0) {
                var pesoNeto = parseFloat($('#pesoNeto').val());
                var pesoBruto = parseFloat($('#pesoBruto').val());
                var Total;
                if ($('#pesoNeto').val() === "") { pesoNeto = 0; }
                if ($('#pesoBruto').val() === "") { pesoBruto = 0; }
                Total = pesoBruto - pesoNeto;
               
                $('#pesoTara').val(Total);
            } else {
                $('#pesoTara').val(0);
            }
        });
    });
    //DETALLE MERCANCIA
    $(function () {
    $('#agregarDetalleMercancia').click(function () {
        var contador = $(".mercancia").size() + 1;
        $(".contadorMercancias").replaceWith('<span class="contadorMercancias font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleMercancia").on('click', function () {
        var CPSI = false;
        var D = false;
        var C = false;
        var CUI = false;
        var PKG = false;
        var CTC = true;
        var CTCTI = true;
        var CTCO = true;
        var CTCD = true;
        var message;

        /*var ClaveProdServID = $('#Mercancias_Mercancia_ClaveProdServCP').val();
        message = "#ClaveProdServID"
        CPSI = Boolean(ValidaCampos(ClaveProdServID, message));
        var Descripcion = $('#Mercancias_Mercancia_Descripcion').val();
        message = "#Descripcion"
        D = Boolean(ValidaCampos(Descripcion, message));
        var Cantidad = $('#Mercancias_Mercancia_Cantidad').val();
        message = "#Cantidad"
        C = Boolean(ValidaCampos(Cantidad, message));
        var ClaveUnidadID = $('#Mercancias_Mercancia_ClaveUnidad_Id').val();
        message = "#ClaveUnidadId"
        CUI = Boolean(ValidaCampos(ClaveUnidadID, message));
        var PesoEnKg = $('#Mercancias_Mercancia_PesoEnKg').val();
        message = "#PesoEnKg"
        PKG = Boolean(ValidaCampos(PesoEnKg, message));

        //valida check Cantidad Transportada
        if ($('.addCTransportada').prop('checked')) {
            var CTCantidad= $('#Mercancias_Mercancia_CantidadTransportada_Cantidad').val();
            message = "#CTCantidad"
            CTC = Boolean(ValidaCampos(CTCantidad, message));
            var CTCveTransporteID = $('#Mercancias_Mercancia_CantidadTransportada_CveTransporte_Id').val();
            message = "#CveTransporteId"
            CTCTI = Boolean(ValidaCampos(CTCveTransporteID, message));
            var CTCveOrigen = $('#Mercancias_Mercancia_CantidadTransportada_UbicacionOrigen_Id').val();
            message = "#UbicacionOrigenId"
            CTCO = Boolean(ValidaCampos(CTCveOrigen, message));
            var CTCveDestino = $('#Mercancias_Mercancia_CantidadTransportada_UbicacionDestino_Id').val();
            message = "#UbicacionDestinoId"
            CTCD = Boolean(ValidaCampos(CTCveDestino, message));
        }


        if (!CPSI || !D || !C || !CUI || !PKG || !CTC || !CTCTI || !CTCO || !CTCD ) {

        }
        else {*/
            //pedimento
            var jsonPedimentos = [];
            $(".Pedimentos").each(function (index, element) {

                var Pedimento = $(element).find('#Pedimento').text().trim();
       
                jsonPedimentos.push({
                    "Pedimento": Pedimento
                });
            });
            //Guia identificacion
            var jsonGIdentificacion = [];

            $(".GIdentificacion").each(function (index, element) {

                var NumGuiaIdentificacion = $(element).find('#NumGuiaIdentificacion').text().trim();
                var DescripGuiaIdentificacion = $(element).find('#DescripGuiaIdentificacion').text().trim();
                var PesoGuiaIdentificacion = $(element).find('#PesoGuiaIdentificacion').text().trim();

                jsonGIdentificacion.push({
                    "NumeroGuiaIdentificacion": NumGuiaIdentificacion, "DescripGuiaIdentificacion": DescripGuiaIdentificacion, "PesoGuiaIdentificacion": PesoGuiaIdentificacion
                });
            });
            //Cantidad transportada
            var jsonCTransportadas = [];

            $(".CTransportadas").each(function (index, element) {

                var Cantidad = $(element).find('#Cantidad').text().trim();
                var CveTransporte = $(element).find('#CveTransporte').text().trim();
                var IDOrigen = $(element).find('#IDOrigen').text().trim();
                var IDDestino = $(element).find('#IDDestino').text().trim();

                jsonCTransportadas.push({
                    "Cantidad": Cantidad, "CveTransporte_Id": CveTransporte, "IDOrigen": IDOrigen, "IDDestino": IDDestino
                });
            });
       
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarMercancia", "AjaxOperaciones")',
                data: JSON.stringify({
                    ClaveProdServID: $('#Mercancias_Mercancia_ClaveProdServCP').val(),//option:selected
                    ClaveProdSTCCID: $('#Mercancias_Mercancia_ClaveProdSTCC').val(),//option:selected
                    Descripcion: $('#Mercancias_Mercancia_Descripcion').val(),
                    Cantidad: $('#Mercancias_Mercancia_Cantidad').val(),
                    Unidad: $('#Mercancias_Mercancia_Unidad').val(),
                    ClaveUnidadID: $('#Mercancias_Mercancia_ClavesUnidad').val(),
                    Dimensiones: $('#Mercancias_Mercancia_Dimensiones').val(),
                    MaterialPeligorosoSN: $('#Mercancias_Mercancia_MaterialPeligrosos').val(),
                    MaterialPeligrosoID: $('#Mercancias_Mercancia_ClaveMaterialPeligroso').val(),
                    DescripcionEmbalaje: $('#Mercancias_Mercancia_DescripEmbalaje option:selected').text(),
                    TipoEmbalajeID: $('#Mercancias_Mercancia_TipoEmbalaje_Id').val(),
                    PesoEnKg: $('#Mercancias_Mercancia_PesoEnKg').val(),
                    ValorMercancia: $('#Mercancias_Mercancia_ValorMercancia').val(),
                    Moneda: $('#Mercancias_Mercancia_Moneda').val(),
                    FraccionArancelariaID: $('#Mercancias_Mercancia_FraccionArancelaria_Id option:selected').val(),//option:selected
                    UUIDComercioExt: $('#Mercancias_Mercancia_UUIDComecioExt').val(),
                    /*PPedimento: $('#Mercancias_Mercancia_Pedimentos_Pedimento').val(),
                    GINumIdent: $('#Mercancias_Mercancia_GuiasIdentificacion_NumeroGuiaIdentificacion').val(),
                    GIDescripIdent: $('#Mercancias_Mercancia_GuiasIdentificacion_DescripGuiaIdentificacion').val(),
                    GIPesoIdent: $('#Mercancias_Mercancia_GuiasIdentificacion_PesoGuiaIdentificacion').val(),
                    CTCantidad: $('#Mercancias_Mercancia_CantidadTransportada_Cantidad').val(),
                    CTCveTransporteID: $('#Mercancias_Mercancia_CantidadTransportada_CveTransporte_Id').val(),//option:selected
                    CTCveOrigen: $('#Mercancias_Mercancia_CantidadTransportada_UbicacionOrigen_Id').val(),//option:selected
                    CTCveDestino: $('#Mercancias_Mercancia_CantidadTransportada_UbicacionDestino_Id').val(),//option:selected
                    */
                    DEClaveUnidadPesoID: $('#Mercancias_Mercancia_DetalleMercancia_ClaveUnidadPeso_Id').val(),//option:selected
                    DEPesoBruto: $('#pesoBruto').val(),
                    DEPEsoNeto: $('#pesoNeto').val(),
                    DEPesoTara: $('#pesoTara').val(),
                    DENumPiezas: $('#Mercancias_Mercancia_DetalleMercancia_NumPiezas').val(),
                    PedimentoArray: jsonPedimentos,
                    GIdentificacionArray: jsonGIdentificacion,
                    CTransportadaArray: jsonCTransportadas,
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesMercancias').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        /*}*/
        });
    });

    function removeDetalleMercancia(elem) {
        var totalU = $(".mercancia").size();
        if (totalU > 0) {
            var contador = $(".mercancia").size() - 1;
            $(".contadorMercancias").replaceWith('<span class="contadorMercancias font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorMercancias").replaceWith('<span class="contadorMercancias font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

    


    //DETALLE FIGURA TRANSPORTE
    var contadorPTransporte = 0;
    $(function () {
    $('#agregarDetalleFTransporte').click(function () {
        var contador = $(".FTransporte").size() + 1;
        $(".contadorFTransporte").replaceWith('<span class="contadorFTransporte font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleFTransporte").on('click', function () {
        var TFT = false;
        var PTransporte = $('.PTransporte');
        var message;
        var FTransporte = $('#TipoFiguraTransporte').val();
        message = "#TFFiguraTransporte";
        TFT = Boolean(ValidaCampos(FTransporte, message));

        if (!TFT) {

        } else {
            var jsonParteTransporte = [];

            $(".PTransporte").each(function (index, element) {

                var ParteTransporte = $(element).find('#ParteTransporte').text().trim();
                var Pais = $(element).find('#Pais').text().trim();
                var Estado = $(element).find('#Estado').text().trim();
                var Municipio = $(element).find('#Municipio').text().trim();
                var CodigoPostal = $(element).find('#CodigoPostal').text().trim();
                var Localidad = $(element).find('#Localidad').text().trim();
                var Colonia = $(element).find('#Colonia').text().trim();
                var Calle = $(element).find('#Calle').text().trim();
                var NumExterior = $(element).find('#NumExterior').text().trim();
                var NumInterior = $(element).find('#NumInterior').text().trim();
                var Referencia = $(element).find('#Referencia').text().trim();
                jsonParteTransporte.push({
                    "ParteTransporte": ParteTransporte, "Pais": Pais, "Estado": Estado,
                    "Municipio": Municipio, "CodigoPostal": CodigoPostal, "Localidad": Localidad,
                    "Colonia": Colonia, "Calle": Calle, "NumeroExterior": NumExterior,
                    "NumeroInterior": NumInterior, "Referencia": Referencia
                });



            });

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarFTransporte", "AjaxOperaciones")',
                data: JSON.stringify({
                    FTransporte: $('#TiposFigura_FiguraTransporte option:selected').val(),
                    RFCFigura: $('#TiposFigura_RFCFigura').val(),
                    NumLicencia: $('#TiposFigura_NumLicencia').val(),
                    NombreFigura: $('#TiposFigura_NombreFigura').val(),
                    NumRegIdTribFigura: $('#TiposFigura_NumRegIdTribFigura').val(),
                    ResidenciaFiscalFigura: $('#TiposFigura_ResidenciaFiscalFigura').val(),
                    PartesTransporte: jsonParteTransporte
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
               /* for (var x = 0; x < PTransporte.length; x++) { PTransporte.parent().parent().parent().remove(); }
                $(".contadorPTransporte").replaceWith('<span class="contadorPTransporte font-blue">: ' + 0 + '</span >');
                */$('#detallesFTransporte').append(partialView);

            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        }
        });
    });

    function removeDetalleFTransporte(elem) {
        var totalU = $(".FTransporte").size();
        if (totalU > 0) {
            var contador = $(".FTransporte").size() - 1;
            $(".contadorFTransporte").replaceWith('<span class="contadorFTransporte font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorFTransporte").replaceWith('<span class="contadorFTransporte font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }
    //DETALLE PARTES TRANSPORTE

    $(function () {
    $('#agregarDetallePTransporte').click(function () {
        contadorPTransporte = $(".PTransporte").size() + 1;
        $(".contadorPTransporte").replaceWith('<span class="contadorPTransporte font-blue">: ' + contadorPTransporte + '</span >');
    });
    });

    $(function () {
    $("#agregarDetallePTransporte").on('click', function () {
        var FTPT = false;
        var FTE = false;
        var FTP = false;
        var FTCP = false;

        var message;
        /*var PTransporte = $('#TiposFigura_PartesTransporte_ParteTransporte').val();
        message = "#FTPartesTransporte";
        FTPT = Boolean(ValidaCampos(PTransporte, message));
        var Estado = $('#TiposFigura_PartesTransporte_Domicilio_ddlEstados').val();
        message = "#UEstados";
        FTE = Boolean(ValidaCampos(Estado, message));
        if (!FTE) {
            Estado = $('#TiposFigura_PartesTransporte_Domicilio_Estado').val();
            message = "#UEstados"
            FTE = Boolean(ValidaCampos(Estado, message));
        }
        var Pais = $('#TiposFigura_PartesTransporte_Domicilio_Paises').val();
        message = "#UPaiss";
        FTP = Boolean(ValidaCampos(Pais, message));
        var CodigoPostal = $('#TiposFigura_PartesTransporte_Domicilio_CodigoPostal').val();
        message = "#UCodigoPostal";
        FTCP = Boolean(ValidaCampos(CodigoPostal, message));*/
         //se toman valores de  campos de select o input

        var ORPais = $("#TiposFigura_PartesTransporte_Domicilio_Paises option:selected").val();
        var ORPaisText = $("#TiposFigura_PartesTransporte_Domicilio_Paises option:selected").text();

        var OREstado = $('#TiposFigura_PartesTransporte_Domicilio_ddlEstados option:selected').val();
        var OREstadoText = $("#TiposFigura_PartesTransporte_Domicilio_ddlEstados option:selected").text();
        if (OREstado === "" || OREstado=== null || OREstado == undefined) {
            OREstado = $('#TiposFigura_PartesTransporte_Domicilio_Estado').val();
            OREstadoText = OREstado;
        }

        var DEMunicipio = $('#TiposFigura_PartesTransporte_Domicilio_ddlMunicipios option:selected').val();
        var DEMunicipioText = $("#TiposFigura_PartesTransporte_Domicilio_ddlMunicipios option:selected").text();
        if (DEMunicipio === "" || DEMunicipio === null || DEMunicipio == undefined) {
            DEMunicipio = $('#TiposFigura_PartesTransporte_Domicilio_Municipio').val();
            DEMunicipioText = DEMunicipio;
        }
        var DELocalidad = $('#TiposFigura_PartesTransporte_Domicilio_ddlLocalidades option:selected').val();
        var DELocalidadText = $("#TiposFigura_PartesTransporte_Domicilio_ddlLocalidades option:selected").text();
        if (DELocalidad === "" || DELocalidad === null || DELocalidad == undefined) {
            DELocalidad = $('#TiposFigura_PartesTransporte_Domicilio_Localidad').val();
            DELocalidadText = DELocalidad;
        }
        var DEColonia = $('#TiposFigura_PartesTransporte_Domicilio_ddlColonias option:selected').val();
        var DEColoniaText = $("#TiposFigura_PartesTransporte_Domicilio_ddlColonias option:selected").text();
        if (DEColonia === "" || DEColonia === null || DEColonia == undefined) {
            DEColonia = $('#TiposFigura_PartesTransporte_Domicilio_Colonia').val();
            DEColoniaText = DEColonia;
        }

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarPTransporte", "AjaxOperaciones")',
                data: JSON.stringify({
                    PTransporte: $('#TiposFigura_PartesTransporte_ParteTransporte').val(),
                    Pais: $('#TiposFigura_PartesTransporte_Domicilio_Paises').val(),
                    PaisText: ORPaisText,
                    Estado: OREstado,
                    EstadoText: OREstadoText,
                    Municipio: DEMunicipio,
                    MunicipioText: DEMunicipioText,
                    Localidad: DELocalidad,
                    LocalidadText: DELocalidadText,
                    CodigoPostal: $('#TiposFigura_PartesTransporte_Domicilio_CodigoPostal').val(),
                    Colonia: DEColonia,
                    ColoniaText: DEColoniaText,
                    Calle: $('#TiposFigura_PartesTransporte_Domicilio_Calle').val(),
                    NumExterior: $('#TiposFigura_PartesTransporte_Domicilio_NumeroExterior').val(),
                    NumInterior: $('#TiposFigura_PartesTransporte_Domicilio_NumeroInterior').val(),
                    Referencia: $('#TiposFigura_PartesTransporte_Domicilio_Referencia').val()
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesPTransporte').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        });
    });

    function removeDetallePTransporte(elem) {
        var totalU = $(".PTransporte").size();
        if (totalU > 0) {
            var contador = $(".PTransporte").size() - 1;
            contadorPTransporte = contador;
            $(".contadorPTransporte").replaceWith('<span class="contadorPTransporte font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorPTransporte").replaceWith('<span class="contadorPTransporte font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }
    

    //DETALLE TRANSPORTE MARITIMO CONTENEDOR
    $(function () {
    $('#agregarDetalleTMContenedor').click(function () {
        var contador = $(".TMContenedor").size() + 1;
        $(".contadorTMContenedor").replaceWith('<span class="contadorTMContenedor font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
        $("#agregarDetalleTMContenedor").on('click', function () {
            var MT = false;
            var CMI = false;


            var message;
            var MatContenedor = $('#Mercancias_TransporteMaritimo_ContenedorM_MatriculaContenedor').val();
            message = "#MatContenedor";
            MT = Boolean(ValidaCampos(MatContenedor, message));
            var ContenedorMaritId = $('#contenedorMaritimo option:selected').val();
            message = "#ContenedorMaritId";
            CMI = Boolean(ValidaCampos(ContenedorMaritId, message));
            if (!MT || !CMI) {

            } else {

                $.ajax({
                    type: 'POST',
                    url: ' @Url.Action("AgregarTMContenedor", "AjaxOperaciones")',
                    data: JSON.stringify({
                        MatContenedor: $('#Mercancias_TransporteMaritimo_ContenedorM_MatriculaContenedor').val(),
                        ContenedorMaritId: $('#contenedorMaritimo option:selected').val(),//option:selected
                        NumPrecinto: $('#Mercancias_TransporteMaritimo_ContenedorM_NumPrecinto').val()
                    }),
                    dataType: 'html',
                    contentType: "application/json; charset=utf-8",
                }).success(function (partialView) {
                    $('#detallesTMContenedor').append(partialView);
                })
                    .fail(function (jqxhr, textStatus, error) {
                        alert("Favor de llenar todos los datos para los detalles");
                    });
                return false;
            }
        });
    });

    function removeDetalleTMContenedor(elem) {
        var totalU = $(".TMContenedor").size();
        if (totalU > 0) {
            var contador = $(".TMContenedor").size() - 1;
            $(".contadorTMContenedor").replaceWith('<span class="contadorTMContenedor font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorTMContenedor").replaceWith('<span class="contadorTMContenedor font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

    //DETALLE TRANSPORTE FERROVIARIO DERECHOS DE PASO
    $(function () {
    $('#agregarDetalleTFDPaso').click(function () {
        var contador = $(".TFDPaso").size() + 1;
        $(".contadorTFDPaso").replaceWith('<span class="contadorTFDPaso font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleTFDPaso").on('click', function () {
        var TDPI = false;
        var KP = false;

        var message;
        var TipoDPasoID = $('#Mercancias_TransporteFerroviario_DerechosDePasos_TipoDerechoDePaso_Id').val();
        message = "#TipoDerechosDePasoId";
        TDPI = Boolean(ValidaCampos(TipoDPasoID, message));
        var KilPagado = $('#Mercancias_TransporteFerroviario_DerechosDePasos_KilometrajePagado').val();
        message = "#KilPagado";
        KP = Boolean(ValidaCampos(KilPagado, message));


        if (!TDPI || !KP) {

        } else {
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarTFDPaso", "AjaxOperaciones")',
                data: JSON.stringify({
                    TipoDPasoID: $('#Mercancias_TransporteFerroviario_DerechosDePasos_TipoDerechoDePaso_Id').val(),//option:selected
                    KilPagado: $('#Mercancias_TransporteFerroviario_DerechosDePasos_KilometrajePagado').val()
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesTFDPaso').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        }
        });
    });

    function removeDetalleTFDPaso(elem) {
        var totalU = $(".TFDPaso").size();
        if (totalU > 0) {
            var contador = $(".TFDPaso").size() - 1;
            $(".contadorTFDPaso").replaceWith('<span class="contadorTFDPaso font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorTFDPaso").replaceWith('<span class="contadorTFDPaso font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

     //DETALLE TRANSPORTE FERROVIARIO CARRO
    $(function () {
    $('#agregarDetalleTFCarro').click(function () {
        var contador = $(".TFCarro").size() + 1;

        $(".contadorTFCarro").replaceWith('<span class="contadorTFCarro font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleTFCarro").on('click', function () {
        var TCI = false;
        var MC = false;
        var GC = false;
        var TNC = false;
        var Contenedor = $('.TFContenedor');
        var message;
        var TipoCarroID = $('#Mercancias_TransporteFerroviario_Carro_TipoCarro_Id').val();
        message = "#TFTipoCarroID";
        TCI = Boolean(ValidaCampos(TipoCarroID, message));
        var MatriculaCarro = $('#Mercancias_TransporteFerroviario_Carro_MatriculaCarro').val();
        message = "#TFMatriculaCarro";
        MC = Boolean(ValidaCampos(MatriculaCarro, message));
        var GuiaCarro = $('#Mercancias_TransporteFerroviario_Carro_GuiaCarro').val();
        message = "#TFGuiaCarro";
        GC = Boolean(ValidaCampos(GuiaCarro, message));
        var TonNetasCarro = $('#Mercancias_TransporteFerroviario_Carro_ToneladasNetasCarro').val();
        message = "#TFTNetasCarro";
        TNC = Boolean(ValidaCampos(TonNetasCarro, message));

        if (!TCI || !MC || !GC || !TNC) {

        } else {

            var jsonCarroContenedor = [];

            $(".TFContenedor").each(function (index, element) {

                var ContenedorId = $(element).find('#ContenedorId').text().trim();
                var PesoCVacio = $(element).find('#PesoCVacio').text().trim();
                var PesoNMercancia = $(element).find('#PesoNMercancia').text().trim();

                jsonCarroContenedor.push({
                    "Contenedor_Id": ContenedorId, "PesoContenedorVacio": PesoCVacio, "PesoNetoMercancia": PesoNMercancia
                });
               
            });

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarTFCarro", "AjaxOperaciones")',
                data: JSON.stringify({
                    TipoCarroID: $('#Mercancias_TransporteFerroviario_Carro_TipoCarro_Id').val(),//option:selected
                    MatriculaCarro: $('#Mercancias_TransporteFerroviario_Carro_MatriculaCarro').val(),
                    GuiaCarro: $('#Mercancias_TransporteFerroviario_Carro_GuiaCarro').val(),
                    TonNetasCarro: $('#Mercancias_TransporteFerroviario_Carro_ToneladasNetasCarro').val(),
                    ContenedorC: jsonCarroContenedor
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                
               /* for (var x = 0; x < Contenedor.length; x++) { Contenedor.parent().parent().parent().remove(); }
                $(".contadorTFContenedor").replaceWith('<span class="contadorTFContenedor font-blue">: ' + 0 + '</span >');*/
                $('#detallesTFCarro').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        }
        });
    });

    function removeDetalleTFCarro(elem) {
        var totalU = $(".TFCarro").size();
        if (totalU > 0) {
            var contador = $(".TFCarro").size() - 1;
            $(".contadorTFCarro").replaceWith('<span class="contadorTFCarro font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorTFCarro").replaceWith('<span class="contadorTFCarro font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

     //DETALLE TRANSPORTE FERROVIARIO CARRO CONTENEDOR
    $(function () {
    $('#agregarDetalleTFContenedor').click(function () {
        var contador = $(".TFContenedor").size() + 1;
        $(".contadorTFContenedor").replaceWith('<span class="contadorTFContenedor font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
        $("#agregarDetalleTFContenedor").on('click', function () {
            var C = false;
            var PCV = false;
            var PNM = false;

            var message;
            var ContenedorID = $('#contenedorTransFerr option:selected').val();
            message = "#MTFcontenedorId";
            C = Boolean(ValidaCampos(ContenedorID, message));
            var PesoContenedorVacio = $('#Mercancias_TransporteFerroviario_Carro_ContenedorC_PesoContenedorVacio').val();
            message = "#MTFPesoContenedorVacio";
            PCV = Boolean(ValidaCampos(PesoContenedorVacio, message));
            var pesoNetoMercancia = $('#Mercancias_TransporteFerroviario_Carro_ContenedorC_PesoNetoMercancia').val();
            message = "#MTFPesoNetoMercancia";
            PNM = Boolean(ValidaCampos(pesoNetoMercancia, message));

            if (!C || !PCV || !PNM ) {

            } else {

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarTFContenedor", "AjaxOperaciones")',
                data: JSON.stringify({
                    ContenedorID: $('#contenedorTransFerr option:selected').val(),//option:selected
                    PesoContenedorVacio: $('#Mercancias_TransporteFerroviario_Carro_ContenedorC_PesoContenedorVacio').val(),
                    pesoNetoMercancia: $('#Mercancias_TransporteFerroviario_Carro_ContenedorC_PesoNetoMercancia').val()
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesTFContenedor').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
                return false;
                }
        });
    });

    function removeDetalleTFContenedor(elem) {
        var totalU = $(".TFContenedor").size();
        if (totalU > 0) {
            var contador = $(".TFContenedor").size() - 1;
            $(".contadorTFContenedor").replaceWith('<span class="contadorTFContenedor font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorTFContenedor").replaceWith('<span class="contadorTFContenedor font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

    function ValidaCampos(input, div) {
        console.log(input);
        if (input === "" || input === null || input == undefined) {
            console.log("entra input html");
            $(div).html("Campo Obligatorio");
            $(div).show(200);
            return false;
        } else {
            $(div).html("");
            $(div).hide(200);
            return true;
        }

    }

    //DETALLE MERCANCIA PEDIMENTOS
    $(function () {
    $('#agregarDetallePedimentos').click(function () {
        var contador = $(".Pedimentos").size() + 1;
        $(".contadorPedimentos").replaceWith('<span class="contadorPedimentos font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetallePedimentos").on('click', function () {

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarPedimentos", "AjaxOperaciones")',
                data: JSON.stringify({
                    Pedimento: $('#Mercancias_Mercancia_Pedimentos_Pedimento').val()
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesPedimentos').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        });
    });

    function removeDetallePedimentos(elem) {
        var totalU = $(".Pedimentos").size();
        if (totalU > 0) {
            var contador = $(".Pedimentos").size() - 1;
            $(".contadorPedimentos").replaceWith('<span class="contadorPedimentos font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorPedimentos").replaceWith('<span class="contadorPedimentos font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

    //DETALLE MERCANCIA GUIAS  DE IDENTIFICACION
    $(function () {
    $('#agregarDetalleGIdentificacion').click(function () {
        var contador = $(".GIdentificacion").size() + 1;
        $(".contadorGIdentificacion").replaceWith('<span class="contadorGIdentificacion font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleGIdentificacion").on('click', function () {

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarGIdentificacion", "AjaxOperaciones")',
                data: JSON.stringify({
                    NumGuiIdentificacion: $('#Mercancias_Mercancia_GuiasIdentificacion_NumeroGuiaIdentificacion').val(),
                    DescripGuiaIdentificacion: $('#Mercancias_Mercancia_GuiasIdentificacion_DescripGuiaIdentificacion').val(),
                    PesoGuiaIdentificacion: $('#Mercancias_Mercancia_GuiasIdentificacion_PesoGuiaIdentificacion').val()
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesGIdentificacion').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        });
    });

    function removeDetalleGIdentificacion(elem) {
        var totalU = $(".GIdentificacion").size();
        if (totalU > 0) {
            var contador = $(".GIdentificacion").size() - 1;
            $(".contadorGIdentificacion").replaceWith('<span class="contadorGIdentificacion font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorGIdentificacion").replaceWith('<span class="contadorGIdentificacion font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

    //DETALLE MERCANCIA CANTIDAD TRANSPORTADAS
    $(function () {
    $('#agregarDetalleCTransportadas').click(function () {
        var contador = $(".CTransportadas").size() + 1;
        $(".contadorCTransportadas").replaceWith('<span class="contadorCTransportadas font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleCTransportadas").on('click', function () {

            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarCTransportadas", "AjaxOperaciones")',
                data: JSON.stringify({
                    Cantidad: $('#Mercancias_Mercancia_CantidadTransportada_Cantidad').val(),
                    CveTransporteID: $('#Mercancias_Mercancia_CantidadTransportada_CveTransporte_Id').val(),
                    UbicacionOrigenID: $('#Mercancias_Mercancia_CantidadTransportada_IDOrigen').val(),
                    UbicacionDestinoID: $('#Mercancias_Mercancia_CantidadTransportada_IDDestino').val()
                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesCTransportadas').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                });
            return false;
        });
    });

    function removeDetalleCTransportadas(elem) {
        var totalU = $(".CTransportadas").size();
        if (totalU > 0) {
            var contador = $(".CTransportadas").size() - 1;
            $(".contadorCTransportadas").replaceWith('<span class="contadorCTransportadas font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorCTransportadas").replaceWith('<span class="contadorCTransportadas font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }
    //DETALLE CONCEPTOS
    $(function () {
    $('#agregarDetalleConceptos').click(function () {
        var contador = $(".conceptos").size() + 1;
        $(".contadorConceptos").replaceWith('<span class="contadorConceptos font-blue">: ' + contador + '</span >');
    });
    });

    $(function () {
    $("#agregarDetalleConceptos").on('click', function () {
        
            $.ajax({
                type: 'POST',
                url: ' @Url.Action("AgregarConceptos", "AjaxOperaciones")',
                data: JSON.stringify({
                    ClaveProdServID: $('#Conceptos_ClavesProdServ').val(),
                    ClaveUnidadID: $('#Conceptos_ClavesUnidad').val(),
                    Descripcion: $('#Conceptos_Descripcion').val(),
                    TBase: $('#TBase').val(),
                    TImpuesto: $('#Conceptos_Traslado_Impuesto').val(),
                    TTipoFactor: $('#Conceptos_Traslado_TipoFactor').val(),
                    TTasaOCuota: $('#TTasaOCuota').val(),
                    TImporte: $('#TImporte').val(),
                    TTImpuestosTR: $('#TTotal').val(),
                    RBase: $('#RBase').val(),
                    RImpuesto: $('#Conceptos_Retencion_Impuesto').val(),
                    RTipofactor: $('#Conceptos_Retencion_TipoFactor').val(),
                    RTasaOCuota: $('#RTasaOCuota').val(),
                    RImporte: $('#RImporte').val(),
                    RTImpuestoTR: $('#TTotal').val()

                }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
            }).success(function (partialView) {
                $('#detallesConceptos').append(partialView);
            })
                .fail(function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles ");
                });
            return false;
        });
    });

    function removeDetalleConceptos(elem) {
        var totalU = $(".conceptos").size();
        if (totalU > 0) {
            var contador = $(".conceptos").size() - 1;
            $(".contadorConceptos").replaceWith('<span class="contadorConceptos font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorConceptos").replaceWith('<span class="contadorConceptos font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }

    // DETALLE REMOLQUES

     $(function () {
         $('#agregarDetalleRemolqueAuTransp').click(function () {
             var RemolqueLegth = $('.RemolqueAutoTransp').length;
             if (RemolqueLegth < 2) {
                 var contador = $(".RemolqueAutoTransp").size() + 1;
                 $(".contadorRemolquesAuTransp").replaceWith('<span class="contadorRemolquesAuTransp font-blue">: ' + contador + '</span >');
             }
             });
    });

    $(function () {
        $("#agregarDetalleRemolqueAuTransp").on('click', function () {
            var RemolqueLegth = $('.RemolqueAutoTransp').length;
            if (RemolqueLegth > 1) {
                alert("No puedes agregar mas de dos Remolques")
            } else {
                $.ajax({
                    type: 'POST',
                    url: ' @Url.Action("AgregarRemolque", "AjaxOperaciones")',
                    data: JSON.stringify({
                        Placa: $('#Mercancias_AutoTransporte_Remolque_Placa').val(),
                        TipoRemolqueId: $('#Mercancias_AutoTransporte_Remolque_SubTipoRem_Id').val(),
                        TipoRemolque: $('#Mercancias_AutoTransporte_Remolque_SubTipoRem_Id').text()
                    }),
                    dataType: 'html',
                    contentType: "application/json; charset=utf-8",
                }).success(function (partialView) {
                    $('#detallesRemolqueAuTransp').append(partialView);
                })
                    .fail(function (jqxhr, textStatus, error) {
                        alert("Favor de llenar todos los datos para los detalles");
                    });
                return false;
            }
        });
    });

    function removeDetalleRemolque(elem) {
        var totalU = $(".RemolqueAutoTransp").size();
        if (totalU > 0) {
            var contador = $(".RemolqueAutoTransp").size() - 1;
            $(".contadorRemolquesAuTransp").replaceWith('<span class="contadorRemolquesAuTransp font-blue">: ' + contador + '</span >');
        } else {
            $(".contadorRemolquesAuTransp").replaceWith('<span class="contadorRemolquesAuTransp font-blue">');
        }
        $(elem).parent().parent().parent().remove();
    }


    //Activa datetime input
    $(function () {
        $('.datetimepicker').datetimepicker({ format: 'DD/MM/YYYY HH:mm' }); // format: 'YYYY/MM/DD HH:mm A'
        $('.time').datetimepicker({ format: 'HH:mm:ss' });
    });

    //valida campos por clave
    $(function () {
         //get descripcion claveProdServCP
         $('#Mercancias_Mercancia_ClaveProdServCP').on('keyup', function () {
             var claveProdServCP = $('#Mercancias_Mercancia_ClaveProdServCP').val();
            var div = "#ClaveProdServID";
             if (claveProdServCP != "") {
                 $.get("/ComplementosCartaPorte/DatosClaveProdServCP", { ClaveProdServCP: claveProdServCP }, function (data) {
                     if (data.length > 0) {
                         $.each(data, function (index, row) {
                             $("#Mercancias_Mercancia_Descripcion").val(row.Descripcion);
                         });
                         $(div).html("");
                     } else {
                         $(div).html("El dato ingresado no existe");
                         $("#Mercancias_Mercancia_Descripcion").val("");
                     }
                 });
             } else {
                 $(div).html("");
                 $("#Mercancias_Mercancia_Descripcion").val("");
             }

        });
         //valida claveProdSTCC de mercancia
         $('#Mercancias_Mercancia_ClaveProdSTCC').on('keyup', function () {
             var dato = $('#Mercancias_Mercancia_ClaveProdSTCC').val();
          var div = "#ClaveProdSTCC";

            var valid;
             if (dato != "") {
                 valid = ValidaEntrada(dato, div, "stcc");
             } else {
                 $(div).html("");
             }

         });
        //valida claveMaterialPeligroso
        $('#Mercancias_Mercancia_ClaveMaterialPeligroso').on('keyup', function () {
            var dato = $('#Mercancias_Mercancia_ClaveMaterialPeligroso').val();
            var div = "#ClaveMatPeligroso";

            var valid;
            if (dato != "") {
                valid = ValidaEntrada(dato, div, "MaterialPeligroso");
            } else {
                $(div).html("");
            }

        });

        //valida Clave unidad de mercancia y get descripcion
         $('#Mercancias_Mercancia_ClavesUnidad').on('keyup', function () {
             var claveUnidad = $('#Mercancias_Mercancia_ClavesUnidad').val();
             var div = "#ClaveUnidadId";
             if (claveUnidad != "") {
                 $.get("/ComplementosCartaPorte/DatosClaveUnidad", { ClaveUnidad: claveUnidad }, function (data) {
                     if (data.length > 0) {
                         $.each(data, function (index, row) {
                             $("#Mercancias_Mercancia_Unidad").val(row.Nombre);
                         });
                         $(div).html("");
                     } else {
                         $(div).html("El dato ingresado no existe");
                         $("#Mercancias_Mercancia_Unidad").val("");
                     }
                 });
             } else {
                 $(div).html("");
                 $("#Mercancias_Mercancia_Unidad").val("");
             }
            

         });
         

         //conceptos clave unidad
         $('#Conceptos_ClavesUnidad').on('keyup', function () {
             var claveUnidad = $('#Conceptos_ClavesUnidad').val();
             var div = "#ClaveUnidadConcepto";
             if (claveUnidad != "") {
                 $.get("/ComplementosCartaPorte/DatosClaveUnidad", { ClaveUnidad: claveUnidad }, function (data) {
                     if (data.length > 0) {
                         $(div).html("");
                         
                     } else {
                         $(div).html("El dato ingresado no existe");
                       
                     }
                 });
             } else {
                 $(div).html("");
                 
             }


         });
         //conceptos clave produdServCP
         $('#Conceptos_ClavesProdServ').on('keyup', function () {
             var dato = $('#Conceptos_ClavesProdServ').val();
             var div = "#ClaveProdServCPConceptos";
             var valid;
             if (dato != "") {
                 valid = ValidaEntrada(dato, div, "serv");
             } else {
                 $(div).html("");
             }

         });

         //set  Tipo embalaje_id
         $('#Mercancias_Mercancia_DescripEmbalaje').change(function () {
             var tipoEmbalaje = $('#Mercancias_Mercancia_DescripEmbalaje option:selected').val();
             $('#Mercancias_Mercancia_TipoEmbalaje_Id').val(tipoEmbalaje);
         });
    });
    function ValidaEntrada(input, div,t) {
         $.ajax({
                type: 'POST',
                url: ' @Url.Action("Buscar", "AjaxOperaciones")',
             data: JSON.stringify({
                 valor: input,
                 tipo: t
         }),
          dataType: 'html',
            contentType: "application/json; charset=utf-8",
         }).success(function (valor) {
             console.log(valor);
             if (valor == 0) {
                 $(div).html("El dato ingresado no existe");
             }
             else {
                 $(div).html("");
             }

         })
         .fail(function (jqxhr, textStatus, error) {

         });
    }

   
</script>
