@model API.Operaciones.ComplementoCartaPorte.CantidadTransportada


@using (Html.BeginCollectionItem("CantidadTransportadass"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <div class="content-box mrg20L mrg20R">
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-money"></i>
            Cantidad Transportadas
            <div class="header-buttons-separator">
                <a href="#" class="icon-separator" onclick="removeDetalleCTransportadas(this)">
                    <i class="glyph-icon icon-times font-red"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper CTransportadas">
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Cantidad)<br />
                <p id="Cantidad">@Model.Cantidad</p>
                @Html.HiddenFor(model => model.Cantidad)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.CveTransporte_Id)<br />
               <p id="CveTransporte">@Model.CveTransporte_Id</p>
                @Html.HiddenFor(model => model.CveTransporte_Id)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.IDOrigen)<br />
                <p id="IDOrigen">@Model.IDOrigen</p>
                @Html.HiddenFor(model => model.IDOrigen)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.IDDestino)<br />
                <p id="IDDestino">@Model.IDDestino</p>
                @Html.HiddenFor(model => model.IDDestino)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}


