@model API.Operaciones.ComplementoCartaPorte.ContenedorM


@using (Html.BeginCollectionItem("ContenedoresM"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <div class="content-box mrg20L mrg20R">
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-money"></i>
            Contenedor Maritimo
            <div class="header-buttons-separator">
                <a href="#" class="icon-separator" onclick="removeDetalleTMContenedor(this)">
                    <i class="glyph-icon icon-times font-red"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper TMContenedorEdit">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TransporteMaritimo_Id)
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.ContenedorMaritimo_Id)<br />
                @Html.DisplayFor(model => model.ContenedorMaritimo_Id)
                @Html.HiddenFor(model => model.ContenedorMaritimo_Id)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.MatriculaContenedor)<br />
                @Html.DisplayFor(model => model.MatriculaContenedor)
                @Html.HiddenFor(model => model.MatriculaContenedor)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.NumPrecinto)<br />
                @Html.DisplayFor(model => model.NumPrecinto)
                @Html.HiddenFor(model => model.NumPrecinto)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}

