@model API.Operaciones.ComplementoCartaPorte.ContenedorM


@using (Html.BeginCollectionItem("Mercancias.TransporteMaritimo.ContenedoresM"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

<div class="card shadow-sm">
    <div class="card-header" style="background-color: #6D84C2;">
        <h3 class="card-title text-white">
            Contenedor Maritimo
        </h3>
            <div class="card-toolbar">
                <a href="#" class="icon-separator" onclick="removeDetalleTMContenedorC(this)">
                    <!--begin::Svg Icon -->
                    <span class="svg-icon svg-icon-3x">
                        <img src="~/_CDN/assets/media/icons/duotune/general/gen034.svg" width="30" height="30" />
                    </span>
                    <!--end::Svg Icon-->
                </a>
            </div>
    </div>
    <div class="card-body row TMContenedor">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TransporteMaritimo_Id)
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.ContenedorMaritimo_Id, new { @class = "fw-bold" })<br />
            @Html.DisplayFor(model => model.ContenedorMaritimo_Id)
            @Html.HiddenFor(model => model.ContenedorMaritimo_Id)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.MatriculaContenedor, new { @class = "fw-bold" })<br />
            @Html.DisplayFor(model => model.MatriculaContenedor)
            @Html.HiddenFor(model => model.MatriculaContenedor)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.NumPrecinto, new { @class = "fw-bold" })<br />
            @Html.DisplayFor(model => model.NumPrecinto)
            @Html.HiddenFor(model => model.NumPrecinto)
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div><br />
}
