@model API.Operaciones.ComplementoCartaPorte.DerechosDePasos


@using (Html.BeginCollectionItem("DerechosDePasoss"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">
                Derechos de Paso
            </h3>
            <div class="card-toolbar">
                <a href="#" class="icon-separator" onclick="removeDetalleTFDPaso(this)">
                    <!--begin::Svg Icon -->
                    <span class="svg-icon svg-icon-3x">
                        <img src="~/_CDN/assets/media/icons/duotune/general/gen034.svg" width="30" height="30" />
                    </span>
                    <!--end::Svg Icon-->
                </a>
            </div>
        </div>
        <div class="card-body row TFDPasoEdit">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.TransporteFerroviario_Id)
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.TipoDerechoDePaso_Id)<br />
                @Html.DisplayFor(model => model.TipoDerechoDePaso_Id)
                @Html.HiddenFor(model => model.TipoDerechoDePaso_Id)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.KilometrajePagado)<br />
                @Html.DisplayFor(model => model.KilometrajePagado)
                @Html.HiddenFor(model => model.KilometrajePagado)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
}
