@model API.Operaciones.ComplementoCartaPorte.TiposFigura


@using (Html.BeginCollectionItem("FiguraTransporte"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

<div class="row">
    <div class="content-box mrg20L mrg20R">
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-money"></i>
            Figura Transporte
            <div class="header-buttons-separator">
                <a href="#" class="icon-separator" onclick="removeDetalleFTransporte(this)">
                    <i class="glyph-icon icon-times font-red"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper FTransporte">
            <h3 class="title-hero">
                Figura Transporte : Tipos Figura
            </h3>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.FiguraTransporte)<br />
                @Html.DisplayFor(model => model.FiguraTransporte)
                @Html.HiddenFor(model => model.FiguraTransporte)
            </div>
            <div class="form-group col-xs-12 col-sm-3 rfcFT">
                @Html.LabelFor(model => model.RFCFigura)<br />
                @Html.DisplayFor(model => model.RFCFigura)
                @Html.HiddenFor(model => model.RFCFigura)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.NumLicencia)<br />
                @Html.DisplayFor(model => model.NumLicencia)
                @Html.HiddenFor(model => model.NumLicencia)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.NombreFigura)<br />
                @Html.DisplayFor(model => model.NombreFigura)
                @Html.HiddenFor(model => model.NombreFigura)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.NumRegIdTribFigura)<br />
                @Html.DisplayFor(model => model.NumRegIdTribFigura)
                @Html.HiddenFor(model => model.NumRegIdTribFigura)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.ResidenciaFiscalFigura)<br />
                @Html.DisplayFor(model => model.ResidenciaFiscalFigura)
                @Html.HiddenFor(model => model.ResidenciaFiscalFigura)
            </div>
            <div class="clearfix"></div>
            @if (Model.PartesTransportes != null)
            {

                for (var i = 0; i < Model.PartesTransportes.Count; i++)
                {
                    <hr />
                    <h3 class="title-hero">
                        Figura Transporte : Partes Transporte
                    </h3>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].ParteTransporte)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].ParteTransporte)
                        @Html.HiddenFor(x => x.PartesTransportes[i].ParteTransporte)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Pais)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Pais)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Pais)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Estado)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Estado)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Estado)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Municipio)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Municipio)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Municipio)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Localidad)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Localidad)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Localidad)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.CodigoPostal)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.CodigoPostal)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.CodigoPostal)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Calle)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Calle)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Calle)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Colonia)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Colonia)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Colonia)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.NumeroExterior)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.NumeroExterior)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.NumeroExterior)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.NumeroInterior)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.NumeroInterior)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.NumeroInterior)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.PartesTransportes[i].Domicilio.Referencia)<br />
                        @Html.DisplayFor(x => x.PartesTransportes[i].Domicilio.Referencia)
                        @Html.HiddenFor(x => x.PartesTransportes[i].Domicilio.Referencia)
                    </div>
                    <div class="clearfix"></div>
                    <hr />


                }
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
}

