@model API.Operaciones.ComplementoCartaPorte.GuiasIdentificacion


@using (Html.BeginCollectionItem("GuiasIdentificacioness"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <div class="content-box mrg20L mrg20R">
        <h3 class="content-box-header bg-default">
            <i class="glyph-icon icon-money"></i>
            Guia Identificación
            <div class="header-buttons-separator">
                <a href="#" class="icon-separator" onclick="removeDetalleGIdentificacion(this)">
                    <i class="glyph-icon icon-times font-red"></i>
                </a>
            </div>
        </h3>
        <div class="content-box-wrapper GIdentificacion">
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.NumeroGuiaIdentificacion)<br />
                <p id="NumGuiaIdentificacion">@Model.NumeroGuiaIdentificacion</p>
                @Html.HiddenFor(model => model.NumeroGuiaIdentificacion)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.DescripGuiaIdentificacion)<br />
               <p id="DescripGuiaIdentificacion">@Model.DescripGuiaIdentificacion</p>
                @Html.HiddenFor(model => model.DescripGuiaIdentificacion)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.PesoGuiaIdentificacion)<br />
                <p id="PesoGuiaIdentificacion">@Model.PesoGuiaIdentificacion</p>
                @Html.HiddenFor(model => model.PesoGuiaIdentificacion)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}



