@model API.Operaciones.ComplementoCartaPorte.Mercancia

@using Aplicacion.Utilidades
@using (Html.BeginCollectionItem("Mercancias.Mercanciass"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <div class="card shadow-sm">
        <div class="card-header" style="background-color: #6D84C2;">
            <h3 class="card-title text-white">
                Mercancías
            </h3>
            <div class="card-toolbar">
                <a href="#" class="icon-separator" onclick="removeDetalleMercanciaEdit(this)">
                    <!--begin::Svg Icon -->
                    <span class="svg-icon svg-icon-3x">
                        <img src="~/_CDN/assets/media/icons/duotune/general/gen034.svg" width="30" height="30" />
                    </span>
                    <!--end::Svg Icon-->
                </a>
            </div>
        </div>
        <div class="card-body row mercanciaEdit">
            <h3 class="title-hero">
                Mercancía
            </h3>
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Mercancias_Id)
            @Html.HiddenFor(model => model.DetalleMercanciaId)
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.ClaveProdServCP, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.ClaveProdServCP)
                @Html.HiddenFor(model => model.ClaveProdServCP)
            </div>
            @if (Model.ClaveProdSTCC != "")
            {
                <div class="form-group col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.ClaveProdSTCC, new { @class = "fw-bold" })<br />
                    @Html.DisplayFor(model => model.ClaveProdSTCC)
                    @Html.HiddenFor(model => model.ClaveProdSTCC)
                </div>
            }
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Descripcion, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.Descripcion)
                @Html.HiddenFor(model => model.Descripcion)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Cantidad, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.Cantidad)
                @Html.HiddenFor(model => model.Cantidad)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.ClavesUnidad, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.ClavesUnidad)
                @Html.HiddenFor(model => model.ClavesUnidad)

            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Unidad, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.Unidad)
                @Html.HiddenFor(model => model.Unidad)
            </div>
            @if (Model.Dimensiones != "")
            {
                <div class="form-group col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.Dimensiones, new { @class = "fw-bold" })<br />
                    @Html.DisplayFor(model => model.Dimensiones)
                    @Html.HiddenFor(model => model.Dimensiones)
                </div>
            }
            @*<div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Mercancia.MaterialPeligrosos)
            @Html.DisplayFor(model => model.Mercancia.MaterialPeligrosos)
            @Html.HiddenFor(model => model.Mercancia.MaterialPeligrosos)
        </div>*@
            @if (Model.MaterialPeligrosos)
            {

                if (Model.ClaveMaterialPeligroso != "")
                {
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(model => model.ClaveMaterialPeligroso, new { @class = "fw-bold" })<br />
                        @Html.DisplayFor(model => model.ClaveMaterialPeligroso)
                        @Html.HiddenFor(model => model.ClaveMaterialPeligroso)
                    </div>

                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(model => model.DescripEmbalaje, new { @class = "fw-bold" })<br />
                        @Html.DisplayFor(model => model.DescripEmbalaje)
                        @Html.HiddenFor(model => model.DescripEmbalaje)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(model => model.TipoEmbalaje_Id, new { @class = "fw-bold" })<br />
                        @Html.DisplayFor(model => model.TipoEmbalaje_Id)
                        @Html.HiddenFor(model => model.TipoEmbalaje_Id)
                    </div>
                    if (Model.SectorCofepris != null)
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.SectorCofepris, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.SectorCofepris)
                            @Html.HiddenFor(model => model.SectorCofepris)
                        </div>
                    }
                    if (Model.NombreIngredienteActivo != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.NombreIngredienteActivo, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.NombreIngredienteActivo)
                            @Html.HiddenFor(model => model.NombreIngredienteActivo)
                        </div>
                    }
                    if (Model.NomQuimico != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.NomQuimico, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.NomQuimico)
                            @Html.HiddenFor(model => model.NomQuimico)
                        </div>
                    }
                    if (Model.DenominacionGenericaProd != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DenominacionGenericaProd, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DenominacionGenericaProd)
                            @Html.HiddenFor(model => model.DenominacionGenericaProd)
                        </div>
                    }
                    if (Model.DenominacionDistintivaProd != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DenominacionDistintivaProd, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DenominacionDistintivaProd)
                            @Html.HiddenFor(model => model.DenominacionDistintivaProd)
                        </div>
                    }
                    if (Model.Fabricante != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Fabricante, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.Fabricante)
                            @Html.HiddenFor(model => model.Fabricante)
                        </div>
                    }
                    if (Model.FechaCaducidad != null)
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.FechaCaducidad, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.FechaCaducidad)
                            @Html.HiddenFor(model => model.FechaCaducidad)
                        </div>
                    }
                    if (Model.LoteMedicamento != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.LoteMedicamento, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.LoteMedicamento)
                            @Html.HiddenFor(model => model.LoteMedicamento)
                        </div>
                    }
                    if (Model.FormaFarmaceutica != null)
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.FormaFarmaceutica, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.FormaFarmaceutica)
                            @Html.HiddenFor(model => model.FormaFarmaceutica)
                        </div>
                    }
                    if (Model.CondicionesEspecialesTransp != null)
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.CondicionesEspecialesTransp, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.CondicionesEspecialesTransp)
                            @Html.HiddenFor(model => model.CondicionesEspecialesTransp)
                        </div>
                    }
                    if (Model.RegistroSanitarioFolioAutorizacion != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.RegistroSanitarioFolioAutorizacion, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.RegistroSanitarioFolioAutorizacion)
                            @Html.HiddenFor(model => model.RegistroSanitarioFolioAutorizacion)
                        </div>
                    }
                    if (Model.PermisoImportacion != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.PermisoImportacion, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.PermisoImportacion)
                            @Html.HiddenFor(model => model.PermisoImportacion)
                        </div>
                    }
                    if (Model.FolioImpoVucem != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.FolioImpoVucem, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.FolioImpoVucem)
                            @Html.HiddenFor(model => model.FolioImpoVucem)
                        </div>
                    }
                    if (Model.NumCas != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.NumCas, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.NumCas)
                            @Html.HiddenFor(model => model.NumCas)
                        </div>
                    }
                    if (Model.RazonSocialEmpImp != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.RazonSocialEmpImp, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.RazonSocialEmpImp)
                            @Html.HiddenFor(model => model.RazonSocialEmpImp)
                        </div>
                    }
                    if (Model.NumRegSanPlagCofepris != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.NumRegSanPlagCofepris, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.NumRegSanPlagCofepris)
                            @Html.HiddenFor(model => model.NumRegSanPlagCofepris)
                        </div>
                    }
                    if (Model.DatosFabricante != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DatosFabricante, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DatosFabricante)
                            @Html.HiddenFor(model => model.DatosFabricante)
                        </div>
                    }
                    if (Model.DatosFormulador != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DatosFormulador, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DatosFormulador)
                            @Html.HiddenFor(model => model.DatosFormulador)
                        </div>
                    }
                    if (Model.DatosMaquilador != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DatosMaquilador, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DatosMaquilador)
                            @Html.HiddenFor(model => model.DatosMaquilador)
                        </div>
                    }
                    if (Model.UsoAutorizado != "")
                    {
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.UsoAutorizado, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.UsoAutorizado)
                            @Html.HiddenFor(model => model.UsoAutorizado)
                        </div>
                    }
                }
            }
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.PesoEnKg, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.PesoEnKg)
                @Html.HiddenFor(model => model.PesoEnKg)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.ValorMercancia, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.ValorMercancia)
                @Html.HiddenFor(model => model.ValorMercancia)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Moneda, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.Moneda)
                @Html.HiddenFor(model => model.Moneda)
            </div>
            @if (Model.TipoMateria != null)
            {
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.TipoMateria, new { @class = "fw-bold" })<br />
                @Html.DisplayFor(model => model.TipoMateria)
                @Html.HiddenFor(model => model.TipoMateria)
            </div>
                if (Model.DescripcionMateria != "")
                {
                <div class="form-group col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.DescripcionMateria, new { @class = "fw-bold" })<br />
                    @Html.DisplayFor(model => model.DescripcionMateria)
                    @Html.HiddenFor(model => model.DescripcionMateria)
                </div>
                }
            }
            @if (Model.FraccionArancelarias != "")
            {
                <div class="form-group col-xs-12 col-sm-3">
                    @Html.LabelFor(model => model.PesoEnKg, new { @class = "fw-bold" })<br />
                    @Html.DisplayFor(model => model.PesoEnKg)
                    @Html.HiddenFor(model => model.PesoEnKg)
                </div>
            }
            <div class="clearfix"></div>
            @if (Model.DocumentacionAduaneras != null)
            {
                for (var i = 0; i < Model.DocumentacionAduaneras.Count; i++)
                {
                    <hr />
                    <h3 class="title-hero">
                        Mercancía : Doc Aduanera
                    </h3>
                    @Html.HiddenFor(x => x.DocumentacionAduaneras[i].TipoDocumento)
                    @Html.HiddenFor(x => x.DocumentacionAduaneras[i].NumPedimento)
                    @Html.HiddenFor(x => x.DocumentacionAduaneras[i].IdentDocAduanero)
                    @Html.HiddenFor(x => x.DocumentacionAduaneras[i].RfcImpo)
                    @Html.HiddenFor(x => x.DocumentacionAduaneras[i].Mercancia_Id)
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.DocumentacionAduaneras[i].TipoDocumento, new { @class = "fw-bold" })<br />
                        @*@Html.DisplayFor(x => x.DocumentacionAduaneras[i].TipoDocumento)*@
                        <p>@DescripcionesEnum.ObtenerDescripcionEnum(Model.DocumentacionAduaneras[i].TipoDocumento)</p>
                        @Html.HiddenFor(x => x.DocumentacionAduaneras[i].TipoDocumento)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.DocumentacionAduaneras[i].NumPedimento, new { @class = "fw-bold" })<br />
                        @Html.DisplayFor(x => x.DocumentacionAduaneras[i].NumPedimento)
                        @Html.HiddenFor(x => x.DocumentacionAduaneras[i].NumPedimento)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.DocumentacionAduaneras[i].IdentDocAduanero, new { @class = "fw-bold" })<br />
                        @Html.DisplayFor(x => x.DocumentacionAduaneras[i].IdentDocAduanero)
                        @Html.HiddenFor(x => x.DocumentacionAduaneras[i].IdentDocAduanero)
                    </div>
                    <div class="form-group col-xs-12 col-sm-3">
                        @Html.LabelFor(x => x.DocumentacionAduaneras[i].RfcImpo, new { @class = "fw-bold" })<br />
                        @Html.DisplayFor(x => x.DocumentacionAduaneras[i].RfcImpo)
                        @Html.HiddenFor(x => x.DocumentacionAduaneras[i].RfcImpo)
                    </div>
                    }
                }
                <div class="clearfix"></div>
                @if (Model.GuiasIdentificacionss != null)
                {
                    for (var y = 0; y < Model.GuiasIdentificacionss.Count; y++)
                    {
                        <hr />
                        <h3 class="title-hero">
                            Mercancía : Guias de Identificación
                        </h3>
                        @Html.HiddenFor(x => x.GuiasIdentificacionss[y].Id)
                        @Html.HiddenFor(x => x.GuiasIdentificacionss[y].Mercancia_Id)
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(x => x.GuiasIdentificacionss[y].NumeroGuiaIdentificacion, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(x => x.GuiasIdentificacionss[y].NumeroGuiaIdentificacion)
                            @Html.HiddenFor(x => x.GuiasIdentificacionss[y].NumeroGuiaIdentificacion)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(x => x.GuiasIdentificacionss[y].DescripGuiaIdentificacion, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(x => x.GuiasIdentificacionss[y].DescripGuiaIdentificacion)
                            @Html.HiddenFor(x => x.GuiasIdentificacionss[y].DescripGuiaIdentificacion)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(x => x.GuiasIdentificacionss[y].PesoGuiaIdentificacion, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(x => x.GuiasIdentificacionss[y].PesoGuiaIdentificacion)
                            @Html.HiddenFor(x => x.GuiasIdentificacionss[y].PesoGuiaIdentificacion)
                        </div>
                    }
                }
                <div class="clearfix"></div>
                @if (Model.CantidadTransportadass != null)
                {
                    for (var a = 0; a < Model.CantidadTransportadass.Count; a++)
                    {
                        <hr />
                        <h3 class="title-hero">
                            Mercancía : Cantidad Transportada
                        </h3>
                        @Html.HiddenFor(z => z.CantidadTransportadass[a].Id)
                        @Html.HiddenFor(z => z.CantidadTransportadass[a].Mercancia_Id)
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(z => z.CantidadTransportadass[a].Cantidad, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(z => z.CantidadTransportadass[a].Cantidad)
                            @Html.HiddenFor(z => z.CantidadTransportadass[a].Cantidad)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(z => z.CantidadTransportadass[a].IDOrigen, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(z => z.CantidadTransportadass[a].IDOrigen)
                            @Html.HiddenFor(z => z.CantidadTransportadass[a].IDOrigen)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(z => z.CantidadTransportadass[a].IDDestino, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(z => z.CantidadTransportadass[a].IDDestino)
                            @Html.HiddenFor(z => z.CantidadTransportadass[a].IDDestino)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(z => z.CantidadTransportadass[a].CveTransporte_Id, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(z => z.CantidadTransportadass[a].CveTransporte_Id)
                            @Html.HiddenFor(z => z.CantidadTransportadass[a].CveTransporte_Id)
                        </div>
                    }
                }
                <div class="clearfix"></div>
                @if (Model.DetalleMercancia != null)
                {
                    if (Model.DetalleMercancia.ClaveUnidadPeso_Id != "")
                    {
                        <hr />
                        <h3 class="title-hero">
                            Mercancía : Detalle Mercancia
                        </h3>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DetalleMercancia.ClaveUnidadPeso_Id, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DetalleMercancia.ClaveUnidadPeso_Id)
                            @Html.HiddenFor(model => model.DetalleMercancia.ClaveUnidadPeso_Id)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DetalleMercancia.PesoBruto, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DetalleMercancia.PesoBruto)
                            @Html.HiddenFor(model => model.DetalleMercancia.PesoBruto)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DetalleMercancia.PesoNeto, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DetalleMercancia.PesoNeto)
                            @Html.HiddenFor(model => model.DetalleMercancia.PesoNeto)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DetalleMercancia.PesoTara, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DetalleMercancia.PesoTara)
                            @Html.HiddenFor(model => model.DetalleMercancia.PesoTara)
                        </div>
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.DetalleMercancia.NumPiezas, new { @class = "fw-bold" })<br />
                            @Html.DisplayFor(model => model.DetalleMercancia.NumPiezas)
                            @Html.HiddenFor(model => model.DetalleMercancia.NumPiezas)
                        </div>
                    }
                }
                <div class="clearfix"></div>
            </div>
    </div>
    <div class="clearfix"></div>
    <br />
}

