@model API.Operaciones.ComplementoCartaPorte.PartesTransporte


@using (Html.BeginCollectionItem("TiposFigura.PartesTransportes"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

<div class="content-box mrg20L mrg20R">
    <h3 class="content-box-header bg-default">
        <i class="glyph-icon icon-money"></i>
        Partes Transporte
        <div class="header-buttons-separator">
            <a href="#" class="icon-separator" onclick="removeDetallePTransporte(this)">
                <i class="glyph-icon icon-times font-red"></i>
            </a>
        </div>
    </h3>
    <div class="content-box-wrapper PTransporte">
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.ParteTransporte)<br />
            <p id="ParteTransporte">@Model.ParteTransporte</p>
            @Html.HiddenFor(model => model.ParteTransporte)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Pais)<br />
            <p id="Pais">@Model.Domicilio.Pais</p>
            @Html.HiddenFor(model => model.Domicilio.Pais)
        </div>

        <h3 class="title-hero">
            Partes Transporte : Domicilio
        </h3>

        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Estado)<br />
            <p id="Estado">@Model.Domicilio.Estado</p>
            @Html.HiddenFor(model => model.Domicilio.Estado)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Municipio)<br />
            <p id="Municipio">@Model.Domicilio.Municipio</p>
            @Html.HiddenFor(model => model.Domicilio.Municipio)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.CodigoPostal)<br />
            <p id="CodigoPostal">@Model.Domicilio.CodigoPostal</p>
            @Html.HiddenFor(model => model.Domicilio.CodigoPostal)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Localidad)<br />
            <p id="Localidad">@Model.Domicilio.Localidad</p>
            @Html.HiddenFor(model => model.Domicilio.Localidad)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Colonia)<br />
            <p id="Colonia">@Model.Domicilio.Colonia</p>
            @Html.HiddenFor(model => model.Domicilio.Colonia)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Calle)<br />
            <p id="Calle">@Model.Domicilio.Calle</p>
            @Html.HiddenFor(model => model.Domicilio.Calle)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.NumeroExterior)<br />
            <p id="NumExterior">@Model.Domicilio.NumeroExterior</p>
            @Html.HiddenFor(model => model.Domicilio.NumeroExterior)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.NumeroInterior)<br />
            <p id="NumInterior">@Model.Domicilio.NumeroInterior</p>
            @Html.HiddenFor(model => model.Domicilio.NumeroInterior)
        </div>
        <div class="form-group col-xs-12 col-sm-3">
            @Html.LabelFor(model => model.Domicilio.Referencia)<br />
            <p id="Referencia">@Model.Domicilio.Referencia</p>
            @Html.HiddenFor(model => model.Domicilio.Referencia)
        </div>
        <div class="clearfix"></div>
    </div>
</div>
}
