
@model API.Models.Dto.AddendaDto

@{
    ViewBag.Title = "Addenda";
}

@Html.Partial("_AddendaScripts")


<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
            <h2>Carga el CFDI V4.0 en formato XML</h2>
        </div>
    </div>
    @Html.HiddenFor(model => model.Procesado)
    <!--end::Card header-->
    <div class="card-body pt-0">
        <div class="row">
            @using (Html.BeginForm("Index", "Addenda", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.ValidationSummary(true, "", new { @class = "label-blue-alt", @style = "color:red;" })
                <div class="row">

                    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <label class="text-gray-600 mt-1 fw-semibold fs-6" for="Grupos">Cargar archivo XML</label><br />
                        <input class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" type="file" name="Archivo" typeof="Archivo" accept=".xml, .XML" />
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        <span class="indicator-label">Procesar</span>
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="separator my-5"></div>
            }
        </div>
        <br />
        @if (Model.Procesado) { 
        <div class="activa-form-addenda">
            <form id="addendaForm">
                @Html.HiddenFor(model => model.Procesado)
                @Html.HiddenFor(model => model.Fecha)
                @Html.HiddenFor(model => model.Iva)
                @Html.HiddenFor(model => model.IvaPCT)
                @Html.HiddenFor(model => model.Subtotal)
                @Html.HiddenFor(model => model.Total)
                @Html.HiddenFor(model => model.PathArchivo)
                <!--hiddenDiv-->
                <div class="card shadow-sm">
                    <div class="card-body row">
                        <h3 class="title-hero">
                            Datos Generales
                        </h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content-box">
                                    <div class="content-box-wrapper">
                                        <div class="form row">
                                            
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.EmisorRegInter, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.EmisorRegInter, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.EmisorRegInter, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.ReceptorREgInter, htmlAttributes: new { @class = "form-label" })
                                                <select id="ReceptorREgInter" name="ReceptorREgInter" class="form-control mb-2">
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="0166155">0166155 - ACCIONAMOS TUS DATOS</option>
                                                    <option value="000095">000095 - AEROTAXIS</option>
                                                    <option value="0114264">0114264 - ALTA EMPRESA SA DE CV</option>
                                                    <option value="0172724">0172724 - AROCKET MX</option>
                                                    <option value="0123744">0123744 - ARRENDADORA AZTECA</option>
                                                    <option value="503340">503340 - AZTECA DIGITAL</option>
                                                    <option value="0508013">0508013 - AZTECA NOVELAS</option>
                                                    <option value="0502652">0502652 - BANCO AZTECA</option>
                                                    <option value="0000915">0000915 - COMERCIALIZADORA DE MOTOS</option>
                                                    <option value="0120856">0120856 - COMERCIALIZADORA DE MOTOS Y GARANTIAS CMG</option>
                                                    <option value="0165484">0165484 - CONMA CONSTRUYE</option>
                                                    <option value="0148368">0148368 - DOPAMINA</option>
                                                    <option value="000100">000100 - ELMEX</option>
                                                    <option value="0113769">0113769 - EVEN ENERGIAS VERDES</option>
                                                    <option value="0140133">0140133 - GESALM</option>
                                                    <option value="0140132">0140132 - GESALM CONSULTORES</option>
                                                    <option value="0143401">0143401 - GESALM SERVICIOS</option>
                                                    <option value="0502648">0502648 - GRUPO ELEKTRA</option>
                                                    <option value="0000923">0000923 - ELEKTRAFIN</option>
                                                    <option value="0125224">0125224 - GS DEFINICION</option>
                                                    <option value="0165446">0165446 - IMIDE CONSTRUCCIONES</option>
                                                    <option value="0123744">0123744 - NUEVA ELEKTRA DEL MILENIO</option>
                                                    <option value="0000912">0000912 - OPERADORA EN SERVICIOS</option>
                                                    <option value="0503354">0503354 - OPERADORA MEXICANA DE TV</option>
                                                    <option value="0125225">0125225 - PROCESOS BOFF</option>
                                                    <option value="0503333">0503333 - PRODUCCIONES ESPECIALIZADAS</option>
                                                    <option value="0159071">0159071 - PROMOTORA DE TORNEOS</option>
                                                    <option value="104125">104125 - PUBLICIDAD ESPECIALIZADA EN MEDIOS</option>
                                                    <option value="500525">500525 - SCI DE MEXICO</option>
                                                    <option value="0114145">0114145 - SERVICIO DE ASESORIA EN MEDIOS</option>
                                                    <option value="0061">0061 - TELECOMUNICACIONES 360</option>
                                                    <option value="0503347">0503347 - TELEVISION AZTECA</option>
                                                    <option value="0109990">0109990 - TOTAL PLAY</option>
                                                    <option value="0131201">0131201 - TOTALBOX</option>
                                                    <option value="0145248">0145248 - TOTALSEC</option>
                                                    <option value="0175833">0175833 - TP GO</option>
                                                    <option value="0163862">0163862 - TRANSMISION Y VISION DIGITAL</option>
                                                    <option value="500">500 - TV AZTECA</option>
                                                    <option value="0131657">0131657 - TYPHOON</option>
                                                    <option value="153828">153828 - UPAX</option>
                                                    <option value="0181126">0181126 - TELEXTANTE</option>
                                                    <option value="0502655">0502655 - AFORE AZTECA</option>
                                                </select>
                                                @Html.ValidationMessageFor(model => model.ReceptorREgInter, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.Moneda, htmlAttributes: new { @class = "form-label" })
                                                @Html.EnumDropDownListFor(model => model.Moneda, new { @class = "form-select select mb-2", @data_control = "select2" })
                                                @Html.ValidationMessageFor(model => model.Moneda, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.NumProveedor, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.NumProveedor, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.NumProveedor, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.FolioOrdenCompra, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.FolioOrdenCompra, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.FolioOrdenCompra, "", new { @class = "text-danger" })
                                            </div>
                                            @*<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.TipoProveedorEKT, htmlAttributes: new { @class = "form-label" })
                                                @Html.EnumDropDownListFor(model => model.TipoProveedorEKT, new { @class = "form-select select mb-2", @data_control = "select2" } )
                                                @Html.ValidationMessageFor(model => model.TipoProveedorEKT, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.Observaciones, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
                                            </div>*@
                                            @*<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.Produccion, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.Produccion, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.Produccion, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.CentroCosto, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.CentroCosto, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.CentroCosto, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.RenglonNotaRecepcion, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.RenglonNotaRecepcion, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.RenglonNotaRecepcion, "", new { @class = "text-danger" })
                                            </div>*@
                                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                @Html.LabelFor(model => model.FolioNotaRecepcion, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.FolioNotaRecepcion, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.FolioNotaRecepcion, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="separator my-5"></div>
                                            <div class="activa-list-concepto ">
                                                <!--hiddenDiv-->
                                                <div class="card shadow-sm">
                                                    <div class="card-body row">
                                                        <h3 class="title-hero">
                                                            DATOS REQUERIDOS POR CADA CONCEPTO FACTURADO
                                                        </h3>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="content-box">

                                                                    <div class="content-box-wrapper">
                                                                        <div>
                                                                            <div class="row" id="detallesConcepto">
                                                                                @if (Model.ConceptosAddenda != null)
                                                                                {
                                                                                    foreach (var concepto in Model.ConceptosAddenda)
                                                                                    {
                                                                                        @Html.Partial("~/Views/Addenda/Concepto.cshtml", concepto)}
                                                                                }
                                                                                <div class="separator my-5"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <br /><br />
                                            <div class="d-flex justify-content-end">
                                                <!--begin::Button-->
                                                <a href="@Url.Action("Index", ViewBag.Controller)" class="btn btn-light me-5">Cancelar</a>
                                                <!--end::Button-->

                                                <button type="submit" class="btn btn-primary">
                                                    <span class="indicator-label">Crear Y Descargar Addenda</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
       }
    </div>
</div>