@model API.Catalogos.Sucursal

@{
    ViewBag.Title = "Crear";
}

<script>
    $(function () {
        $("#agregarBanco").on('click', function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BancosSucursales", "AjaxCatalogos")',
                data: JSON.stringify({ bancoId: $('#BancoId').val(), nombre: $('#Banco_Nombre').val(), numeroCuenta: $('#Banco_NumeroCuenta').val() }),
                dataType: 'html',
                contentType: "application/json; charset=utf-8",
                success: function (partialView) {
                    $('#bancos').append(partialView);
                    return false;
                },
                error: function (jqxhr, textStatus, error) {
                    alert("Favor de llenar todos los datos para los detalles");
                    return false;
                }
            });
            return false;
        });
    });
</script>


<div class="card card-flush py-4">


        <div class="card-header">
            <div class="card-title">
                <h2>Nuevo</h2>
            </div>
        </div>

        

        <div class="card-body pt-0">
            <div class="row">
                <div class="pb-10">
                    <!--begin::Information-->
                    <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                        <!--begin::Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                        <span class="svg-icon svg-icon-3x svg-icon-primary me-5">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"></rect>
                                <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"></rect>
                                <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"></rect>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--end::Icon-->
                        <!--begin::Description-->
                        <div class="text-gray-700 fw-bold fs-5">
                            Información

                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::Information-->
                </div>
            </div>
        

                @using (Html.BeginForm("Create", "Sucursales", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.GrupoId)
                    @Html.HiddenFor(model => model.Cer)
                    @Html.HiddenFor(model => model.NombreArchivoCer)
                    @Html.HiddenFor(model => model.Key)
                    @Html.HiddenFor(model => model.NombreArchivoKey)
                    @Html.HiddenFor(model => model.Logo)
                    @Html.HiddenFor(model => model.NombreLogo)

                    <div class="form row">
                        @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "form-label" })
                            @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-select select mb-2" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.MailEmisor, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.MailEmisor, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.MailEmisor, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.MailConfirmacion, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.MailConfirmacion, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.MailConfirmacion, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.ArchivoLogo, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.ArchivoLogo, new { type = "file", @class = "btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary", @accept = ".jpg, .jpeg, .png" })
                            @Html.ValidationMessageFor(model => model.ArchivoLogo, "", new { @class = "text-danger" })
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator my-5"></div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Rfc, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Rfc, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.Rfc, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.CodigoPostal, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Pais, htmlAttributes: new { @class = "form-label" })
                            @Html.EnumDropDownListSpecialFor(model => model.Pais)
                            @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.RegimenFiscal, htmlAttributes: new { @class = "form-label" })
                            @Html.EnumDropDownListSpecialFor(model => model.RegimenFiscal)
                            @Html.ValidationMessageFor(model => model.RegimenFiscal, "", new { @class = "text-danger" })
                        </div>

                        @*<div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Serie, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Serie, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Folio, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Folio, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.SerieCartaPorte, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.SerieCartaPorte, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SerieCartaPorte, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.FolioCartaPorte, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.FolioCartaPorte, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FolioCartaPorte, "", new { @class = "text-danger" })
                        </div>*@
                        <div class="clearfix"></div>
                        <div class="separator my-5"></div>
                        <table>
                            <tr>
                                <th></th>
                                <th>Serie</th>
                                <th>Folio</th>
                            </tr>
                            <tr>
                                <td rowspan="1"> Carta-Porte</td>
                                <td>
                                    @Html.EditorFor(model => model.SerieCartaPorte, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.FolioCartaPorte, new { htmlAttributes = new { @class = "form-control" } })
                                </td>


                            </tr>
                            <tr>
                                <td rowspan="1">Pagos</td>
                                <td>
                                    @Html.EditorFor(model => model.Serie, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Folio, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1">Ingreso</td>
                                <td>
                                    @Html.EditorFor(model => model.SerieIngreso, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.FolioIngreso, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1">Egreso</td>
                                <td>
                                    @Html.EditorFor(model => model.SerieEgreso, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.FolioEgreso, new { htmlAttributes = new { @class = "form-control" } })
                                </td>
                            </tr>
                        </table>
                        <div class="clearfix"></div>
                        <div class="separator my-5"></div>

                        <div class="form-group col-xs-12 col-lg-5">
                            @Html.LabelFor(model => model.ArchivoKey, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.ArchivoKey, new { type = "file", @class = "btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary", @accept = ".key" })
                            @Html.ValidationMessageFor(model => model.ArchivoKey, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-lg-5">
                            @Html.LabelFor(model => model.ArchivoCer, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.ArchivoCer, new { type = "file", @class = "btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary", @accept = ".cer" })
                            @Html.ValidationMessageFor(model => model.ArchivoCer, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-lg-2">
                            @Html.LabelFor(model => model.PasswordKey, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.PasswordKey, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.PasswordKey, "", new { @class = "text-danger" })
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator my-5"></div>

                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="panel panel-default">

                                <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                                    <h3 class="text-gray-700 fw-bold fs-5">
                                        Bancos
                                    </h3>
                                </div>

                                <div>
                                    <br />

                                </div>

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            @Html.LabelFor(model => model.Banco.BancoId, htmlAttributes: new { @class = "form-label" })
                                            @Html.DropDownList("BancoId", null, "Favor de hacer su selección", new { @class = "form-select select mb-2" })
                                            @Html.ValidationMessageFor(model => model.Banco.BancoId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            @Html.LabelFor(model => model.Banco.Nombre, htmlAttributes: new { @class = "form-label" })
                                            @Html.EditorFor(model => model.Banco.Nombre, new { htmlAttributes = new { @class = "form-control mb-2 banco" } })
                                            @Html.ValidationMessageFor(model => model.Banco.Nombre, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-xs-11 col-sm-11 col-md-3 col-lg-3">
                                            @Html.LabelFor(model => model.Banco.NumeroCuenta, htmlAttributes: new { @class = "form-label" })
                                            @Html.EditorFor(model => model.Banco.NumeroCuenta, new { htmlAttributes = new { @class = "form-control mb-2 cuenta" } })
                                            @Html.ValidationMessageFor(model => model.Banco.NumeroCuenta, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            <label class="control-label">Agregar</label> <br />
                                            <div id="agregarBanco" style="cursor:pointer">
                                                <span class="fa fa-plus-circle fa-2x text-success"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>


                                    <div>
                                        <br />

                                    </div>

                                    <div class="col-xs-12">
                                        <div class="panel panel-default">

                                            <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                                                <h3 class="text-gray-700 fw-bold fs-5">
                                                    Bancos Asignados
                                                </h3>
                                            </div>

                                            <div>
                                                <br />
                                            </div>

                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <b class="text-gray-700">Banco</b>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b class="text-gray-700">Nombre</b>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <b class="text-gray-700">Número de Cuenta</b>
                                                    </div>

                                                </div>


                                                <div>
                                                    <br />
                                                </div>


                                                <div>
                                                    <div id="bancos">
                                                        @if (Model.Bancos != null)
                                                        {
                                                            foreach (var banco in Model.Bancos)
                                                            {
                                                                @Html.Partial("~/Views/Sucursales/Bancos.cshtml", banco)}
                                                        }
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>






                        <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                            <h3 class="text-gray-700 fw-bold fs-5">
                                Tipo de Timbrado para CFDI Ingreso y Egreso
                            </h3>
                        </div>

                        <div>
                            <br />

                        </div>


                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Trv, htmlAttributes: new { @class = "form-label" })
                            @*@Html.CheckBoxFor(model => model.Trv)*@
                            @Html.EditorFor(model => model.Trv, new { htmlAttributes = new { @class = "form-check-input" } })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            @Html.LabelFor(model => model.Txsa, htmlAttributes: new { @class = "form-label" })
                            @*@Html.CheckBoxFor(model => model.Txsa)*@
                            @Html.EditorFor(model => model.Txsa, new { htmlAttributes = new { @class = "form-check-input" } })
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator my-5"></div>


                        <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                            <h3 class="text-gray-700 fw-bold fs-5">
                                Información XSA - Web Services
                            </h3>
                        </div>

                        <div>
                            <br />

                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.LabelFor(model => model.Servidor, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Servidor, new { htmlAttributes = new { @class = "form-control mb-2 minusculas" } })
                            @Html.ValidationMessageFor(model => model.Servidor, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.LabelFor(model => model.KeyXsa, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.KeyXsa, new { htmlAttributes = new { @class = "form-control mb-2 minusculas" } })
                            @Html.ValidationMessageFor(model => model.KeyXsa, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.LabelFor(model => model.TipoCfdXsa, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.TipoCfdXsa, new { htmlAttributes = new { @class = "form-control mb-2 minusculas" } })
                            @Html.ValidationMessageFor(model => model.TipoCfdXsa, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.LabelFor(model => model.IdSucursalXsa, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.IdSucursalXsa, new { htmlAttributes = new { @class = "form-control mb-2 minusculas" } })
                            @Html.ValidationMessageFor(model => model.IdSucursalXsa, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            @Html.LabelFor(model => model.FechaInicial, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator my-5"></div>


                        <div class="d-flex align-items-center rounded py-5 px-5 bg-light-primary">
                            <h3 class="text-gray-700 fw-bold fs-5">
                                Información adicional de correo
                            </h3>
                        </div>

                        <div>
                            <br />

                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @Html.LabelFor(model => model.EncabezadoCorreo, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.EncabezadoCorreo, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.EncabezadoCorreo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @Html.LabelFor(model => model.CuerpoCorreo, htmlAttributes: new { @class = "form-label" })
                            @Html.TextAreaFor(model => model.CuerpoCorreo, new { Class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CuerpoCorreo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            @Html.LabelFor(model => model.PasswordCorreo, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.PasswordCorreo, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.PasswordCorreo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            @Html.LabelFor(model => model.Smtp, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Smtp, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.Smtp, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            @Html.LabelFor(model => model.Puerto, htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Puerto, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.Puerto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-3">
                            @Html.LabelFor(model => model.Ssl, htmlAttributes: new { @class = "form-label" })
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Ssl, new { htmlAttributes = new { @class = "form-check-input mb-2" } })
                                @Html.ValidationMessageFor(model => model.Ssl, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator my-5"></div>
                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="@Url.Action("Index", "Sucursales")" class="btn btn-light me-5">Cancelar</a>
                            <!--end::Button-->
                            <!--begin::Button-->

                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">Crear</span>

                            </button>
                        </div>
                    </div>
                }
            
        </div>

 </div>
    
