@model API.Operaciones.OperacionesProveedores.DocumentosRecibidosDR

@{
    string activaMotivoRechazoReturn = "hiddenDiv";
    activaMotivoRechazoReturn = Model.MotivoRechazo != null ? "visibleDiv" : "hiddenDiv";
    activaMotivoRechazoReturn = Model.EstadoComercial.ToString() == "2" ? "visibleDiv" : "hiddenDiv";
}
<div class="modal fade" tabindex="-1" id="kt_modal_1" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Validar Documento</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                @if (ViewBag.Success != null)
                {
                    <span style="color: green;">@ViewBag.Success</span>
                    <br /><br />
                }
                <p>¿selecciona el estatus comercial asignar al documento recibido?</p>
                <form action="Cancelar" error-data="@ViewBag.Error" success-data="@ViewBag.Success">
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group col-xs-12">
                        @Html.LabelFor(model => model.EstadoComercial, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.EstadoComercial, (IEnumerable<SelectListItem>)ViewBag.estadoComercial, "Favor de hacer su selección", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.EstadoComercial, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-xs-12 motivo-rechazo @activaMotivoRechazoReturn">
                        @Html.LabelFor(model => model.MotivoRechazo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.MotivoRechazo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MotivoRechazo, "", new { @class = "text-danger" })
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                @if (@ViewBag.Estatus == "ok")
                {
                    @Html.ActionLink("Close", "Index", "DocumentosRecibidos", null, new { @class = "btn btn-primary" })
                }
                else
                {
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" id="close-modal" data-bs-backdrop="false">Close</button>
                    <button type="button" class="btn btn-primary" id="submit-valida" data-bs-dismiss="modal">guardar</button>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $("#EstadoComercial").change(function () {
        if ($(this).val() === "2") {
            $('.motivo-rechazo').show();

        } else {
            $('.motivo-rechazo').hide();
            $('#MotivoRechazo').val("");
        }
    });
</script>
