@model API.Operaciones.OperacionesProveedores.DocumentoRecibido

@using APBox.Context;
@{
    var _db = new APBoxContext();
    var sucursalId = Convert.ToInt32(Session["SucursalId"]);
    var sucursal = _db.Sucursales.Find(sucursalId);
    var sucursalRazonSocial = sucursalId == 0 ? "" : sucursal.RazonSocial;
    var sucursalNombre = sucursalId == 0 ? "" : sucursal.Nombre;
    ViewBag.Title = "Carga CFDI";

}

<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
    <!--begin:::Tab item-->
    <li class="nav-item" role="presentation">
        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#Cfdi" aria-selected="true" role="tab">Factura electrónica - CFDi</a>
    </li>
    <!--end:::Tab item-->
    <!--begin:::Tab item-->
    <li class="nav-item" role="presentation">
        <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#NoFiscales" data-kt-initialized="1" aria-selected="false" role="tab" tabindex="-1">Comprobantes no fiscales</a>
    </li>
    <!--end:::Tab item-->
    <!--begin:::Tab item-->
    <li class="nav-item" role="presentation">
        <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#FacturasExtranjeras" aria-selected="false" role="tab" tabindex="-1">Facturas Extranjeras</a>
    </li>
    <!--end:::Tab item-->
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="Cfdi" role="tabpanel">
        @using (Html.BeginForm("CargaCfdi", "DocumentosRecibidos", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Procesado)
            @Html.Hidden("TipoDocumentoRecibido", "CFDI")
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">

                <div class="col-6">
                    <!--begin::List Widget 1-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Archivos</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">Selecciona el CFDi en XML y su PDF correspondiente</span>
                            </h3>
                        </div>

                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-5">
                            <!--begin::Section-->
                            <div class="form-group mb-6">
                                <label class="form-label fw-semibold fs-6" for="Grupos"> Carga archivo XML</label><br />
                                <input class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" id="CfdiRecibidosXmlId" type="file" name="Archivo" typeof="Archivo" accept=".xml, .XML" />
                            </div>

                            <div class="form-group mb-6">
                                <label class="form-label fw-semibold fs-6" for="Grupos">Carga archivo PDF</label><br />
                                <input class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" id="CfdiRecibidosPdfId" type="file" name="Archivo" typeof="Archivo" accept=".pdf, .PDF" />
                            </div>
                            <!--end::Section-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end mt-12">
                                <button type="submit" class="btn btn-primary">
                                    <span class="indicator-label">Procesar</span>
                                </button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 1-->
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="col-6">
                        <!--begin::List Widget 2-->
                        <div class="card card-stretch mb-xl-8">
                            <!--begin::Header-->
                            <div class="card-header border-0">
                                <h3 class="card-title fw-bold text-gray-900">Resultado de la validación</h3>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-2">
                                <!--begin::Alert-->
                                <div class="alert bg-light-danger d-flex flex-column flex-sm-row p-5 mb-10">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-shield-cross fs-2hx text-danger me-4 mb-5 mb-sm-0">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                    <!--end::Icon-->
                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column pe-0 pe-sm-10">
                                        <!--begin::Title-->
                                        <h4 class="fw-semibold fs-6">CFDi con errores</h4>
                                        <!--end::Title-->
                                        <!--begin::Content-->
                                        <span>El CFDi no ha cumplido con las especificaciones comerciales o fiscales para procesarlo exitosamente.</span>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-7">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-50px me-5">
                                            <span class="symbol-label bg-light-danger">
                                                <i class="ki-duotone ki-disconnect fs-2x text-danger">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                </i>
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Text-->
                                        <div class="d-flex flex-column">
                                            <span class="">@modelError.ErrorMessage</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                }
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 2-->
                    </div>
                }
            </div>
            <!--end::Row-->
        }
    </div>
    <div class="tab-pane fade" id="NoFiscales" role="tabpanel">
        <!--begin::Row-->
        @using (Html.BeginForm("CargaCfdi", "DocumentosRecibidos", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Procesado)
            @Html.Hidden("TipoDocumentoRecibido", "ComprobanteNoFiscal")

            <div class="row g-5 g-xl-8">
                <div class="col-6">
                    <!--begin::List Widget 1-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Archivos</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">Tu comprobante No Fiscal y llena los campos necesarios para completar los datos.</span>
                            </h3>
                        </div>

                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-5">
                            <!--begin::Section-->
                            <div class="form-group mb-6">
                                <label class="form-label fw-semibold fs-6" for="Grupos"> Carga archivo Comprobante</label><br />
                                <input class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" id="ArchivoComprobanteNoFiscal" name="ArchivoComprobanteNoFiscal" type="file" accept="" />
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 1-->
                </div>

                <div class="col-6">
                    <!--begin::List Widget 1-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Detalle</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">Completa la información de tu comprobante no fiscal.</span>
                            </h3>
                        </div>

                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-5">

                            <!--begin::Section-->
                            <div class="mb-5 row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.MonedaId, htmlAttributes: new { @class = "form-label" })
                                    @Html.EnumDropDownListFor(model => model.MonedaId, "Seleccionar", new { @class = "form-select select mb-2", @data_control = "select2" })
                                    @Html.ValidationMessageFor(model => model.MonedaId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "form-label" })
                                    @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.FechaComprobante, htmlAttributes: new { @class = "form-label" })
                                    @Html.EditorFor(model => model.FechaComprobante, new { htmlAttributes = new { @class = "form-control fecha" } })
                                    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="mb-5 row">
                                <div class="form-group col-8">
                                    <label class="form-label" for="Referencia">Referencia o descripción del gasto</label>
                                    @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--end::Section-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end mt-12">
                                <button type="submit" class="btn btn-primary">
                                    <span class="indicator-label">Procesar</span>
                                </button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 1-->
                </div>


                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="col-6">
                        <!--begin::List Widget 2-->
                        <div class="card card-stretch mb-xl-8">
                            <!--begin::Header-->
                            <div class="card-header border-0">
                                <h3 class="card-title fw-bold text-gray-900">Resultado de la validación</h3>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-2">
                                <!--begin::Alert-->
                                <div class="alert bg-light-danger d-flex flex-column flex-sm-row p-5 mb-10">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-shield-cross fs-2hx text-danger me-4 mb-5 mb-sm-0">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                    <!--end::Icon-->
                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column pe-0 pe-sm-10">
                                        <!--begin::Title-->
                                        <h4 class="fw-semibold fs-6">CFDi con errores</h4>
                                        <!--end::Title-->
                                        <!--begin::Content-->
                                        <span>El CFDi no ha cumplido con las especificaciones comerciales o fiscales para procesarlo exitosamente.</span>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-7">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-50px me-5">
                                            <span class="symbol-label bg-light-danger">
                                                <i class="ki-duotone ki-disconnect fs-2x text-danger">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                </i>
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Text-->
                                        <div class="d-flex flex-column">
                                            <span class="">@modelError.ErrorMessage</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                }
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 2-->
                    </div>
                }
            </div>
        }
        <!--end::Row-->
    </div>
    <div class="tab-pane fade" id="FacturasExtranjeras" role="tabpanel">
        <!--begin::Row-->
        @using (Html.BeginForm("CargaCfdi", "DocumentosRecibidos", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Procesado)
            @Html.Hidden("TipoDocumentoRecibido", "ComprobanteExtranjero")

            <div class="row g-5 g-xl-8">
                <div class="col-6">
                    <!--begin::List Widget 1-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Archivos</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">Tu comprobante No Fiscal y llena los campos necesarios para completar los datos.</span>
                            </h3>
                        </div>

                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-5">
                            <!--begin::Section-->
                            <div class="form-group mb-6">
                                <label class="form-label fw-semibold fs-6" for="Grupos"> Carga archivo Comprobante</label><br />
                                <input class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" id="ArchivoComprobanteExtranjero" name="ArchivoComprobanteExtranjero" type="file" typeof="Archivo" accept="" />
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 1-->
                </div>

                <div class="col-6">
                    <!--begin::List Widget 1-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold text-gray-900">Detalle</span>
                                <span class="text-muted mt-1 fw-semibold fs-7">Completa la información de tu Factura Extranjera.</span>
                            </h3>
                        </div>

                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-5">

                            <!--begin::Section-->
                            <div class="mb-5 row">
                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.MonedaId, htmlAttributes: new { @class = "form-label" })
                                    @Html.EnumDropDownListFor(model => model.MonedaId, "Seleccionar", new { @class = "form-select select mb-2", @data_control = "select2" })
                                    @Html.ValidationMessageFor(model => model.MonedaId, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "form-label" })
                                    @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-4">
                                    @Html.LabelFor(model => model.FechaComprobante, htmlAttributes: new { @class = "form-label" })
                                    @Html.EditorFor(model => model.FechaComprobante, new { htmlAttributes = new { @class = "form-control fecha" } })
                                    @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div class="mb-5 row">
                                <div class="form-group col-8">
                                    <label class="form-label" for="Referencia">Referencia o descripción del gasto</label>
                                    @Html.EditorFor(model => model.Referencia, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Referencia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!--end::Section-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end mt-12">
                                <button type="submit" class="btn btn-primary">
                                    <span class="indicator-label">Procesar</span>
                                </button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::List Widget 1-->
                </div>


                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="col-6">
                        <!--begin::List Widget 2-->
                        <div class="card card-stretch mb-xl-8">
                            <!--begin::Header-->
                            <div class="card-header border-0">
                                <h3 class="card-title fw-bold text-gray-900">Resultado de la validación</h3>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-2">
                                <!--begin::Alert-->
                                <div class="alert bg-light-danger d-flex flex-column flex-sm-row p-5 mb-10">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-shield-cross fs-2hx text-danger me-4 mb-5 mb-sm-0">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                    <!--end::Icon-->
                                    <!--begin::Wrapper-->
                                    <div class="d-flex flex-column pe-0 pe-sm-10">
                                        <!--begin::Title-->
                                        <h4 class="fw-semibold fs-6">CFDi con errores</h4>
                                        <!--end::Title-->
                                        <!--begin::Content-->
                                        <span>El CFDi no ha cumplido con las especificaciones comerciales o fiscales para procesarlo exitosamente.</span>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                                <!--end::Alert-->
                                @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <!--begin::Item-->
                                    <div class="d-flex align-items-center mb-7">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-50px me-5">
                                            <span class="symbol-label bg-light-danger">
                                                <i class="ki-duotone ki-disconnect fs-2x text-danger">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                </i>
                                            </span>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Text-->
                                        <div class="d-flex flex-column">
                                            <span class="">@modelError.ErrorMessage</span>
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Item-->
                                }
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::List Widget 2-->
                    </div>
                }
            </div>
        }
        <!--end::Row-->
    </div>
</div>