@model API.Operaciones.ComplementosPagos.ComplementoPago

@{
    ViewBag.Title = "Editar";
}

@Html.Partial("_ComplementosPagosScripts")

<!--begin::Row-->
<div class="row g-5 g-xl-8">
    <div class="col-12">
        <!--begin::List Widget 1-->
        <div class="card card-xl-stretch mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bold text-gray-900">Información Inicial</span>
                </h3>
            </div>
            <!--end::Header-->
            <div class="card-body pt-0">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.Generado)
                    @Html.HiddenFor(model => model.SucursalId)
                    @Html.HiddenFor(model => model.ExportacionId)
                    @Html.HiddenFor(model => model.TotalesPagoImpuestoId)
                    @Html.HiddenFor(model => model.IdTipoRelacion)
                    @Html.HiddenFor(model => model.Version)

                    <div class="form">
                        @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

                        <div class="row">
                            <div class="form-group col-6">
                                @Html.LabelFor(model => model.ReceptorId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("ReceptorId", null, "Favor de hacer su selección", new { @class = "form-select mb-2 clean readonly", @data_control = "select2" })
                                @Html.ValidationMessageFor(model => model.ReceptorId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-3">
                                <label class="form-label" for="Version">Fecha Emisión</label>
                                @Html.EditorFor(model => model.FechaDocumento, new { htmlAttributes = new { @class = "form-control mb-2 date" } })
                                @Html.ValidationMessageFor(model => model.FechaDocumento, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-6 justify-content-end">
                                <button id="toggleButton" type="button" class="btn btn-light-primary btn-sm"
                                        data-kt-toggle="true"
                                        data-kt-toggle-state="active"
                                        data-kt-toggle-target="#toggleTarget"
                                        data-kt-toggle-name="custom-toggle">
                                    <i class="ki-duotone ki-abstract-26">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i> CFDI Relacionados
                                </button>
                                <button id="toggleButton2" type="button" class="btn btn-light-primary btn-sm"
                                        data-kt-toggle="true"
                                        data-kt-toggle-state="active"
                                        data-kt-toggle-target="#toggleTarget2"
                                        data-kt-toggle-name="custom-toggle">
                                    <i class="ki-duotone ki-abstract-26">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i> Addenda
                                </button>
                            </div>

                        </div>
                        <!--begin::Row-->
                        <div class="row g-5 g-xl-8" id="toggleTarget" data-kt-custom-toggle="on">
                            <div class="col-12">
                                <!--begin::List Widget 1-->
                                <div class="card card-xl-stretch mb-xl-8">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bold text-gray-900">CFDI Relacionados</span>
                                            <div id="contador">
                                                Número de Divs:
                                                <span id="numeroDivs">0</span>
                                            </div>
                                        </h3>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body pt-2">
                                        <!--begin::Item-->
                                        <!--begin::Form group-->
                                        <div class="row form-group">
                                            <div class="col-md-6">
                                                @Html.LabelFor(model => model.CfdiRelacionado.TipoRelacion, new { @class = "form-label" })
                                                @Html.DropDownListFor(model => model.CfdiRelacionado.TipoRelacion, (IEnumerable<SelectListItem>)ViewBag.tipoRelacion, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                                                @Html.ValidationMessageFor(model => model.CfdiRelacionado.TipoRelacion, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, new { @class = "form-label" })
                                                @Html.EditorFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <a id="agregarCfdiRelacionado" href="javascript:;" class="btn btn-light-primary mt-8">
                                                    <i class="ki-duotone ki-plus fs-3"></i>
                                                    Agregar
                                                </a>
                                            </div>

                                            <div id="detallesCRelacionado">
                                                @if (Model.CfdiRelacionados != null)
                                                {
                                                    foreach (var cfdiRelacionado in Model.CfdiRelacionados)
                                                    {
                                                        @Html.Partial("~/Views/CfdiRelacionados/CfdiRelacionado.cshtml", cfdiRelacionado)
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <!--end::Form group-->
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::List Widget 1-->
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Row-->
                        <div class="row g-5 g-xl-8" id="toggleTarget2" data-kt-custom-toggle="on">
                            <div class="col-12">
                                <!--begin::List Widget 1-->
                                <div class="card card-xl-stretch mb-xl-8">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bold text-gray-900">Addenda</span>
                                        </h3>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body pt-2">
                                        <!--begin::Item-->
                                        <div class="row">
                                            <div class="form-group col-6">
                                                @Html.LabelFor(model => model.ReferenciaAddenda, htmlAttributes: new { @class = "form-label" })
                                                @Html.EditorFor(model => model.ReferenciaAddenda, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                                @Html.ValidationMessageFor(model => model.ReferenciaAddenda, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::List Widget 1-->
                            </div>
                        </div>
                        <!--end::Row-->
                        <div class="row">
                            <h3 class="title-hero">
                                Pagos Recibidos
                            </h3>

                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Agregar Pago
                                    </h3>
                                    <div class="card-toolbar">
                                        <div class="col-md-2 text-center">
                                            <a id="agregarDetalle" href="javascript:;" class="btn btn-light-primary mt-8">
                                                <i class="ki-duotone ki-plus fs-3"></i>
                                                Agregar
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body row">
                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.FechaPago, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Pago.FechaPago, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
                                        @Html.ValidationMessageFor(model => model.Pago.FechaPago, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.FormaPago, new { @class = "form-label" })
                                        @Html.DropDownListFor(model => model.Pago.FormaPago, (IEnumerable<SelectListItem>)ViewBag.formaPago, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                                        @Html.ValidationMessageFor(model => model.Pago.FormaPago, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.Moneda, new { @class = "form-label" })
                                        @Html.EnumDropDownListFor(model => model.Pago.Moneda, "", new { @class = "form-select mb-2", @data_control = "select2" })
                                        @Html.ValidationMessageFor(model => model.Pago.Moneda, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.TipoCambio, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Pago.TipoCambio, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                        @Html.ValidationMessageFor(model => model.Pago.TipoCambio, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.Monto, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Pago.Monto, new { htmlAttributes = new { @class = "form-control dinero" } })
                                        @Html.ValidationMessageFor(model => model.Pago.Monto, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.NumeroOperacion, new { @class = "form-label" })
                                        @Html.EditorFor(model => model.Pago.NumeroOperacion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Pago.NumeroOperacion, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.BancoBeneficiarioId, new { @class = "form-label" })
                                        @Html.DropDownList("BancoBeneficiarioId", null, "Favor de hacer su selección", new { @id = "Pago_BancoBeneficiarioId", @class = "form-select mb-2" })
                                        @Html.ValidationMessageFor(model => model.Pago.BancoBeneficiarioId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-3">
                                        @Html.LabelFor(model => model.Pago.BancoOrdenanteId, new { @class = "form-label" })
                                        @Html.DropDownList("BancoOrdenanteId", null, "Favor de hacer su selección", new { @id = "Pago_BancoOrdenanteId", @class = "form-select mb-2" })
                                        @Html.ValidationMessageFor(model => model.Pago.BancoOrdenanteId, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="content-box hiddenDiv">
                                        <h3 class="content-box-header bg-green">
                                            <i class="glyph-icon icon-money"></i>
                                            Bancarizado
                                        </h3>
                                        <div class="content-box-wrapper">

                                            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <input type="file" id="file" name="FileUpload" value="Favor de subir su archivo de SPEI" accept=".xml" class="fileSpei" />
                                            </div>

                                        </div>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-xs-12">
                                        <div class="content-box">
                                            <h3 class="content-box-header bg-default">
                                                <i class="glyph-icon icon-inbox"></i>
                                                Pagos Agregados
                                                <span class="contadorPagos font-blue">

                                                </span>
                                            </h3>
                                            <div id="detalles">
                                                @if (Model.Pagos != null)
                                                {
                                                    foreach (var pago in Model.Pagos)
                                                    {
                                                        @Html.Partial("~/Views/ComplementosPagos/Pagos.cshtml", pago)
                                                    }
                                                }
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator my-5"></div>

                        <div class="d-flex justify-content-end">
                            <!--begin::Button-->
                            <a href="@Url.Action("Index", ViewBag.Controller)" class="btn btn-light me-5">Cancelar</a>
                            <!--end::Button-->
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">Guardar</span>
                            </button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    
    if ($("#IdTipoRelacion").val() > 0) {

        $('.cfdiRelacionadoSeccion').show();
        $('.cfdiRelacionadoSeccion').css('display', 'inline');
    } else { $('.cfdiRelacionadoSeccion').hide(); }
</script>
<style>
    [data-kt-custom-toggle="on"] {
        display: none;
    }
</style>