@model API.Operaciones.ComplementosPagos.ComplementoPago

@{
    ViewBag.Title = "Generar";
}

<script src="~/Content/Infodextra/ComplementosPago.js"></script>
@*<script src="~/_CDN/FechaActual.js"></script>*@


<div class="card card-flush" id="areaImprimir">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
            <h2>Generar CFDI</h2>
        </div>
        
    </div>
    <!--end::Card header-->
    <div class="card-body pt-0">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Status)
            @Html.HiddenFor(model => model.Version)
            @Html.HiddenFor(model => model.Generado)
            @Html.HiddenFor(model => model.SucursalId)
            @Html.HiddenFor(model => model.Sucursal.Id)
            @Html.HiddenFor(model => model.Sucursal.Nombre)
            @Html.HiddenFor(model => model.Sucursal.RazonSocial)
            @Html.HiddenFor(model => model.Sucursal.Rfc)
            @Html.HiddenFor(model => model.Sucursal.CodigoPostal)
            @Html.HiddenFor(model => model.Sucursal.Pais)

            @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" , @style = "color:red;" })

            <div class="row">
                <h2 class="title-hero">
                    @Model.Sucursal.Nombre
                </h2>
                <h3 class="title-hero">
                    Complemento de Recepción de Pagos
                </h3>

                <table class="table">
                    <tr>
                        <td class="font-bold">Versión Complemento</td>
                        <td class="font-bold">Fecha de Generación</td>
                        <td class="font-bold" colspan="4">Receptor</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Version)
                            @Html.HiddenFor(model => model.Version)
                        </td>
                        <td>
                            @*@Html.DisplayFor(model => model.FechaDocumento)
        @Html.HiddenFor(model => model.FechaDocumento)*@
                            @Html.EditorFor(model => model.FechaDocumento, new { htmlAttributes = new { @class = "form-control mb-2 date" } })
                            @Html.ValidationMessageFor(model => model.FechaDocumento, "", new { @class = "text-danger" })
                        </td>
                        <td colspan="4">
                            @Html.DropDownList("ReceptorId", null, "Favor de hacer su selección", htmlAttributes: new { @class = "form-select mb-2", @data_control = "select2" })
                            @Html.ValidationMessageFor(model => model.ReceptorId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>

            <div class="clearfix"></div>

           
            <div class="separator my-5"></div>

            <div class="d-flex justify-content-end">
                <!--begin::Button-->
                <a href="@Url.Action("Index", ViewBag.Controller)" class="btn btn-light me-5">Cancelar</a>
                <!--end::Button-->
                <button type="submit" class="btn btn-primary">
                    <span class="indicator-label">Timbrar</span>
                </button>
            </div>
            }
    </div>
</div>
