@model API.Operaciones.ComplementosPagos.ComplementoPago

<link href="~/_CDN/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.Generado)
    @Html.HiddenFor(model => model.SucursalId)
    @Html.HiddenFor(model => model.ExportacionId)
    @Html.HiddenFor(model => model.Version)
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <!--begin::Row-->
    <div class="row g-5 g-xl-8">
        <div class="col-12">
            <!--begin::List Widget 1-->
            <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Información Inicial</span>
                    </h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <!--begin::Item-->
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.ReceptorId, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("ReceptorId", null, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                            @Html.ValidationMessageFor(model => model.ReceptorId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-3">
                            <label class="form-label" for="Version">Fecha Emisión</label>
                            @Html.EditorFor(model => model.FechaDocumento, new { htmlAttributes = new { @class = "form-control fecha mb-2" } })
                            @Html.ValidationMessageFor(model => model.FechaDocumento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 justify-content-end">
                            <button id="toggleButton" type="button" class="btn btn-light-primary btn-sm"
                                    data-kt-toggle="true"
                                    data-kt-toggle-state="active"
                                    data-kt-toggle-target="#toggleTarget"
                                    data-kt-toggle-name="custom-toggle">
                                <i class="ki-duotone ki-abstract-26">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i> CFDI Relacionados
                            </button>
                            <button id="toggleButton" type="button" class="btn btn-light-primary btn-sm"
                                    data-kt-toggle="true"
                                    data-kt-toggle-state="active"
                                    data-kt-toggle-target="#toggleTarget"
                                    data-kt-toggle-name="custom-toggle">
                                <i class="ki-duotone ki-abstract-26">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i> Addenda
                            </button>
                        </div>
                    </div>
                    <!--end::Item-->

                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 1-->
        </div>
    </div>
    <!--end::Row-->


    <!--begin::Row-->
    <div class="row g-5 g-xl-8" id="toggleTarget" data-kt-custom-toggle="on">
        <div class="col-12">
            <!--begin::List Widget 1-->
            <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">CFDI Relacionados</span>
                    </h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <!--begin::Item-->
                    <!--begin::Form group-->
                    <div class="row form-group" id="repeater">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.CfdiRelacionado.TipoRelacion, new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.CfdiRelacionado.TipoRelacion, (IEnumerable<SelectListItem>)ViewBag.tipoRelacion, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                            @Html.ValidationMessageFor(model => model.CfdiRelacionado.TipoRelacion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, new { @class = "form-label" })
                            @Html.EditorFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:;" class="btn btn-sm btn-light-danger mt-10">
                                <i class="ki-duotone ki-trash fs-5">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                </i>
                                Borrar
                            </a>
                        </div>
                        <div class="content-box-wrapper visually-hidden">
                            <div>
                                <div class="row" id="detallesCRelacionado">
                                    @if (Model.CfdiRelacionados != null)
                                    {
                                        foreach (var cfdiRelacionado in Model.CfdiRelacionados)
                                        {
                                            @Html.Partial("~/Views/CfdiRelacionados/CfdiRelacionado.cshtml", cfdiRelacionado)
                                        }
                                    }
                                    <div class="separator my-5"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end::Form group-->
                    <!--begin::Form group-->
                    <div class="form-group mt-5">
                        <a href="javascript:;" data-repeater-create class="btn btn-light-primary">
                            <i class="ki-duotone ki-plus fs-3"></i>
                            Agregar
                        </a>
                    </div>
                    <!--end::Form group-->
                    <!--end::Item-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 1-->
        </div>
    </div>
    <!--end::Row-->



    <!--begin::Row-->
    <div class="row g-5 g-xl-8" id="toggleTarget" data-kt-custom-toggle="on">
        <div class="col-12">
            <!--begin::List Widget 1-->
            <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-900">Información Inicial</span>
                    </h3>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-2">
                    <!--begin::Item-->
                    <div class="row">
                        <div class="form-group col-6">
                            @Html.LabelFor(model => model.ReceptorId, htmlAttributes: new { @class = "form-label" })
                            @Html.DropDownList("ReceptorId", null, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                            @Html.ValidationMessageFor(model => model.ReceptorId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-3">
                            <label class="form-label" for="Version">Fecha Emisión</label>
                            @Html.EditorFor(model => model.FechaDocumento, new { htmlAttributes = new { @class = "form-control fecha mb-2" } })
                            @Html.ValidationMessageFor(model => model.FechaDocumento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 1-->
        </div>
    </div>
    <!--end::Row-->



    <!--begin::Guardar-->
    <div class="d-flex justify-content-end">
        <!--begin::Button-->
        <a href="@Url.Action("Index","DocumentosRecibidos")" class="btn btn-light me-5">
            Cancelar
        </a>
        <!--end::Button-->
        <!--begin::Button-->
        <button type="submit" class="btn btn-primary">
            <span class="indicator-label">
                Guardar
            </span>
        </button>
        <!--end::Button-->
    </div>

}


<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
            <h2>Crear Complemento de Pago</h2>
        </div>
    </div>
    <!--end::Card header-->
    <div class="card-body pt-0">
        <div class="form">

            <div class="row">
                <h3 class="title-hero">
                    Información del Cliente y CFDi
                </h3>


            </div>

            <div class="clearfix"></div><br />

            <div class="row">
                <div class="form-group col-xs-12 col-sm-6 col-md-6">
                    <div class="checkbox">
                        <input type="checkbox" class="form-check-input cfdiRelacionado" />
                        <label class="form-label">Relacionar CFDi Cancelado</label>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="cfdiRelacionadoSeccion">
                    <h3 class="title-hero">
                        CFDI Relacionado
                    </h3>
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="glyph-icon icon-cog"></i>
                                Agregar Cfdi Relacionado
                            </h3>
                            <div class="card-toolbar disableCRelacionado">
                                <a href="#" id="agregarDetalleCRelacionado">
                                    <!--begin::Svg Icon -->
                                    <span class="svg-icon svg-icon-3x">
                                        <img src="~/_CDN/assets/media/icons/duotune/general/gen041.svg" width="40" height="40" />
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    @Html.LabelFor(model => model.CfdiRelacionado.TipoRelacion, new { @class = "form-label" })
                                    @Html.DropDownListFor(model => model.CfdiRelacionado.TipoRelacion, (IEnumerable<SelectListItem>)ViewBag.tipoRelacion, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                                    @Html.ValidationMessageFor(model => model.CfdiRelacionado.TipoRelacion, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    @Html.LabelFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, new { @class = "form-label" })
                                    @Html.EditorFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, new { htmlAttributes = new { @class = "form-control mb-2" } })
                                    @Html.ValidationMessageFor(model => model.CfdiRelacionado.UUIDCfdiRelacionado, "", new { @class = "text-danger" })
                                </div>

                                <div class="clearfix"></div>
                                <hr />
                                <div class="col-xs-12">
                                    <div class="content-box">
                                        <h3 class="content-box-header bg-default">
                                            <i class="glyph-icon icon-inbox"></i>
                                            Cfdi Relacion Agregados
                                            <span class="contadorCRelacionado font-blue">

                                            </span>
                                        </h3>

                                        <div class="content-box-wrapper">
                                            <div>
                                                <div class="row" id="detallesCRelacionado">
                                                    @if (Model.CfdiRelacionados != null)
                                                    {
                                                        foreach (var cfdiRelacionado in Model.CfdiRelacionados)
                                                        {
                                                            @Html.Partial("~/Views/CfdiRelacionados/CfdiRelacionado.cshtml", cfdiRelacionado)
                                                        }
                                                    }
                                                    <div class="separator my-5"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <hr />

            <h3 class="title-hero">
                Addenda
            </h3>

            <div class="row">
                <i class="col-xs-12">*Puedes agregar los detalles correspondientes</i>
                <br />

                <div class="form-group col-xs-12 col-sm-6 col-md-12">
                    @Html.LabelFor(model => model.ReferenciaAddenda, htmlAttributes: new { @class = "form-label" })
                    @Html.EditorFor(model => model.ReferenciaAddenda, new { htmlAttributes = new { @class = "form-control mb-2" } })
                    @Html.ValidationMessageFor(model => model.ReferenciaAddenda, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="clearfix"></div><br />
            <div class="row">
                <h3 class="title-hero">
                    Pagos Recibidos
                </h3>

                <div class="card shadow-sm">
                    <div class="card-header  ">
                        <h3 class="card-title">
                            Agregar Pago
                        </h3>
                        <div class="card-toolbar">
                            <a href="#" class="icon-separator" id="agregarDetalle">
                                <!--begin::Svg Icon -->
                                <span class="svg-icon svg-icon-3x">
                                    <img src="~/_CDN/assets/media/icons/duotune/general/gen041.svg" width="40" height="40" />
                                </span>
                                <!--end::Svg Icon-->
                            </a>
                        </div>
                    </div>

                    <div class="card-body row">
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.FechaPago, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Pago.FechaPago, new { htmlAttributes = new { @class = "form-control mb-2 datetimepicker" } })
                            @Html.ValidationMessageFor(model => model.Pago.FechaPago, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.FormaPago, new { @class = "form-label" })
                            @Html.DropDownListFor(model => model.Pago.FormaPago, (IEnumerable<SelectListItem>)ViewBag.formaPago, "Favor de hacer su selección", new { @class = "form-select mb-2" })
                            @Html.ValidationMessageFor(model => model.Pago.FormaPago, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.Moneda, new { @class = "form-label" })
                            @Html.EnumDropDownListFor(model => model.Pago.Moneda, "", new { @class = "form-select mb-2", @data_control = "select2" })
                            @Html.ValidationMessageFor(model => model.Pago.Moneda, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.TipoCambio, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Pago.TipoCambio, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.Pago.TipoCambio, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.Monto, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Pago.Monto, new { htmlAttributes = new { @class = "form-control mb-2 dinero" } })
                            @Html.ValidationMessageFor(model => model.Pago.Monto, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.NumeroOperacion, new { @class = "form-label" })
                            @Html.EditorFor(model => model.Pago.NumeroOperacion, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.Pago.NumeroOperacion, "", new { @class = "text-danger" })
                        </div>

                        @*Bancos*@
                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.BancoBeneficiarioId, new { @class = "form-label" })
                            @Html.DropDownList("BancoBeneficiarioId", null, "Favor de hacer su selección", new { @id = "Pago_BancoBeneficiarioId", @class = "form-select mb-2" })
                            @Html.ValidationMessageFor(model => model.Pago.BancoBeneficiarioId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group col-xs-12 col-sm-3">
                            @Html.LabelFor(model => model.Pago.BancoOrdenanteId, new { @class = "form-label" })
                            @Html.DropDownList("BancoOrdenanteId", null, "Favor de hacer su selección", new { @id = "Pago_BancoOrdenanteId", @class = "form-select mb-2" })
                            @Html.ValidationMessageFor(model => model.Pago.BancoOrdenanteId, "", new { @class = "text-danger" })
                        </div>

                        <div class="clearfix"></div>

                        <div class="content-box hiddenDiv">
                            <h3 class="content-box-header bg-green">
                                <i class="glyph-icon icon-money"></i>
                                Bancarizado
                            </h3>
                            <div class="content-box-wrapper">

                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input type="file" id="file" name="FileUpload" value="Favor de subir su archivo de SPEI" accept=".xml" class="fileSpei" />
                                </div>

                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-xs-2">
                            <div class="content-box">
                                <h3 class="content-box-header bg-default">
                                    <i class="glyph-icon icon-inbox"></i>
                                    Pagos Agregados
                                    <span class="contadorPagos font-blue">

                                    </span>
                                </h3>
                                <div class="content-box-wrapper">
                                    <div>
                                        <div class="row" id="detalles">
                                            @*@if (Model.Pagos != null)
                                                {
                                                    foreach (var pago in Model.Pagos)
                                                    {
                                                        @Html.Partial("~/Views/ComplementosPagos/Pagos.cshtml", pago)}
                                                }*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="separator my-5"></div>

            <div class="d-flex justify-content-end">
                <!--begin::Button-->
                <a href="@Url.Action("Index", ViewBag.Controller)" class="btn btn-light me-5">Cancelar</a>
                <!--end::Button-->

                <button type="submit" class="btn btn-primary">
                    <span class="indicator-label">Siguiente</span>
                </button>
            </div>

        </div>
    </div>
</div>



<script>
    window.onload = function () {
        $('.cfdiRelacionado').change(function () {
            if ($('.cfdiRelacionado').prop('checked')) {
                $('.cfdiRelacionadoSeccion').show(200);
                $('.cfdiRelacionadoSeccion').css('display', 'inline');
            } else {
                $('.cfdiRelacionadoSeccion').hide(200);
            }
        });

        $('#agregarDetalle').click(function () {
            var contador = $(".pago").length + 1;
            $(".contadorPagos").replaceWith('<span class="contadorPagos font-blue">: ' + contador + '</span >');
        })
    }

    $('#repeater').repeater({
        initEmpty: false,

        defaultValues: {
            'text-input': 'foo'
        },

        show: function () {
            $(this).slideDown();
        },

        hide: function (deleteElement) {
            $(this).slideUp(deleteElement);
        }
    });
</script>
<style>
    [data-kt-custom-toggle="on"] {
        display: none;
    }
</style>

@Html.Partial("_ComplementosPagosScripts")
