@model API.Operaciones.ComplementosPagos.Pago


@using (Html.BeginCollectionItem("Pagos"))
{
@Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })


                <div class="card shadow-sm">
                    <div class="card-header" style="background-color: #6D84C2;" >
                        <h3 class="card-title text-white">
                            Pago
                        </h3>
                        <div class="card-toolbar">
                            <a href="#" class="icon-separator" onclick="$(this).parent().parent().parent().remove();">
                                <!--begin::Svg Icon -->
                                <span class="svg-icon svg-icon-3x">
                                    <img src="~/_CDN/assets/media/icons/duotune/general/gen034.svg" width="30" height="30" />
                                </span>
                                <!--end::Svg Icon-->
                            </a>
                        </div>
                    </div>
                    <div class="card-body row pago">
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.SucursalId)
                        @*@Html.HiddenFor(model => model.ComplementoPagoId)*@
                        @Html.HiddenFor(model => model.BancoOrdenanteId)
                        @Html.HiddenFor(model => model.BancoBeneficiarioId)

                        <div class="col-xs-12 col-sm-3">
                            <b>Fecha de Pago</b><br />
                            @Html.DisplayFor(model => model.FechaPago)
                            @Html.HiddenFor(model => model.FechaPago)
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <b>Forma de Pago</b><br />
                            @Html.DisplayFor(model => model.FormaPago)
                            @Html.HiddenFor(model => model.FormaPago)
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <b>Moneda</b><br />
                            @Html.DisplayFor(model => model.Moneda)
                            @Html.HiddenFor(model => model.Moneda)
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <b>Tipo de Cambio</b><br />
                            @Html.DisplayFor(model => model.TipoCambio)
                            @Html.HiddenFor(model => model.TipoCambio)
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <b>Monto</b><br />
                            @Model.Monto.ToString("c")
                            @*@Html.DisplayFor(model => model.Monto)*@
                            @Html.HiddenFor(model => model.Monto)
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <b>Número de Operación</b><br />
                            @if (Model.NumeroOperacion != null || Model.NumeroOperacion == "")
                            {
            @Html.DisplayFor(model => model.NumeroOperacion)
                                @Html.HiddenFor(model => model.NumeroOperacion) }
                            else
                            {
            @Html.Raw("Sin Definir")}
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <b>Banco Ordenante</b><br />
                            @if (Model.BancoOrdenanteId != null)
                            {
            @Html.HiddenFor(model => model.BancoOrdenanteId)
                                @Html.DisplayFor(model => model.BancoOrdenante.Nombre)
                                                    @Html.HiddenFor(model => model.BancoOrdenante.Nombre)
                                                                        @Html.HiddenFor(model => model.BancoOrdenante.BancoId)
                                                                                            @Html.HiddenFor(model => model.BancoOrdenante.Nombre)
                                                                                                                @Html.HiddenFor(model => model.BancoOrdenante.Id)
                                                                                                                                    @Html.HiddenFor(model => model.BancoOrdenante.NumeroCuenta)
                                                                                                                                                        @Html.HiddenFor(model => model.BancoOrdenante.ClienteId)

                                                                                                                                                                            @Html.HiddenFor(model => model.BancoOrdenante.Banco.Id)
                                                                                                                                                                                                @Html.HiddenFor(model => model.BancoOrdenante.Banco.RazonSocial)
                                                                                                                                                                                                                    @Html.HiddenFor(model => model.BancoOrdenante.Banco.NombreCorto)
                                                                                                                                                                                                                                        @Html.HiddenFor(model => model.BancoOrdenante.Banco.Rfc)
                                                                                                                                                                                                                                                            @Html.HiddenFor(model => model.BancoOrdenante.Banco.Status) }
                                                                                                                                                                                                                                                        else
                                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                        @Html.Raw("Sin Definir")}
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            <b>Banco Beneficiario</b><br />
                            @if (Model.BancoBeneficiarioId != null)
                            {
            @Html.HiddenFor(model => model.BancoBeneficiarioId)
                                @Html.DisplayFor(model => model.BancoBeneficiario.Nombre)
                                                    @Html.HiddenFor(model => model.BancoBeneficiario.Nombre)
                                                                        @Html.HiddenFor(model => model.BancoBeneficiario.BancoId)
                                                                                            @Html.HiddenFor(model => model.BancoBeneficiario.SucursalId)
                                                                                                                @Html.HiddenFor(model => model.BancoBeneficiario.NumeroCuenta)

                                                                                                                                    @Html.HiddenFor(model => model.BancoBeneficiario.Banco.Id)
                                                                                                                                                        @Html.HiddenFor(model => model.BancoBeneficiario.Banco.RazonSocial)
                                                                                                                                                                            @Html.HiddenFor(model => model.BancoBeneficiario.Banco.NombreCorto)
                                                                                                                                                                                                @Html.HiddenFor(model => model.BancoBeneficiario.Banco.Rfc)
                                                                                                                                                                                                                    @Html.HiddenFor(model => model.BancoBeneficiario.Banco.Status) }
                                                                                                                                                                                                                else
                                                                                                                                                                                                                {
                                                                                                                                                                                                @Html.Raw("Sin Definir")}
                        </div>




                        <div class="clearfix"></div>
                    </div>

                </div>
                                <div class="clearfix"></div>
                                <br />}