@model  API.Operaciones.ComplementosPagos.RetencionDR


@using (Html.BeginCollectionItem("Retenciones"))
{
    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

    <div class="card shadow-sm">
        <div class="card-header" style="background-color: #6D84C2;">
            <h3 class="card-title text-white">
                Retencion
            </h3>
            <div class="card-toolbar">
                <a href="#" class="icon-separator" onclick="removeDetalleRetencion(this)">
                    <!--begin::Svg Icon -->
                    <span class="svg-icon svg-icon-3x">
                        <img src="~/_CDN/assets/media/icons/duotune/general/gen034.svg" width="30" height="30" />
                    </span>
                    <!--end::Svg Icon-->
                </a>
            </div>

        </div>
        <div class="card-body row DRetencion">
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Base, new { @class = "fw-bold" })<br />
                <p id="BaseRetencion">@Model.Base.ToString("0.000000")</p>
                @Html.HiddenFor(model => model.Base)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Impuesto, new { @class = "fw-bold" })<br />
                <p id="ImpuestoRetencion">@Model.Impuesto</p>
                @Html.HiddenFor(model => model.Impuesto)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.TipoFactor, new { @class = "fw-bold" })<br />
                <p id="TipoFactorRetencion">@Model.TipoFactor</p>
                @Html.HiddenFor(model => model.TipoFactor)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.TasaOCuota, new { @class = "fw-bold" })<br />
                <p id="TasaOCuotaRetencion">@Model.TasaOCuota</p>
                @Html.HiddenFor(model => model.TasaOCuota)
            </div>
            <div class="form-group col-xs-12 col-sm-3">
                @Html.LabelFor(model => model.Importe, new { @class = "fw-bold" })<br />
                <p id="ImporteRetencion">@Model.Importe.ToString("0.000000")</p>
                @Html.HiddenFor(model => model.Importe)
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
}

