@model API.Operaciones.ComplementoCartaPorte.Cat_Conceptos
@{
    ViewBag.Title = "Create";
}
@Html.Partial("_ComplementoConceptos")
@Html.Partial("_Modal")


<div class="card card-flush">
    <!--begin::Card header-->
    <div class="card-header">
        <div class="card-title">
            <h2>Nuevo</h2>
        </div>
        <div class="d-flex align-items-center py-3 py-md-1">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                <span class="fa fa-question-circle"></span>
            </button>
        </div>
    </div>
    <!--end::Card header-->
    
    <div class="card-body pt-0">
        <div class="form row">
            <div class="clearfix"></div>

            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                @Html.LabelFor(model => model.ClavesProdServ, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.ClavesProdServ, new { htmlAttributes = new { @class = "form-control md-2", @id = "ClaveProdServ_IdConceptos" } })
                @Html.ValidationMessageFor(model => model.ClavesProdServ, "", new { @class = "text-danger" })
                <div id="ClaveProdServcon" style="color:red;"></div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                <br />
                @Html.LabelFor(model => model.ClavesUnidad, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.ClavesUnidad, new { htmlAttributes = new { @class = "form-control md.2", @id = "ClavesUnidadConc" } })
                @Html.ValidationMessageFor(model => model.ClavesUnidad, "", new { @class = "text-danger" })
                <div id="ClaveUnidadConcepto" style="color:red;"></div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                <br />
                @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control md-2", @id = "Cantidad" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                <div id="CantidadConcepto" style="color:red;"></div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                <br />
                @Html.LabelFor(model => model.Unidad, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Unidad, new { htmlAttributes = new { @class = "form-control md-2", @id = "UnidadConceptos", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Unidad, "", new { @class = "text-danger" })
                <div id="UnidadConceptosCon" style="color:red;"></div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                <br />
                @Html.LabelFor(model => model.NoIdentificacion, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.NoIdentificacion, new { htmlAttributes = new { @class = "form-control md-2", @id = "NoIdentificacion" } })
                @Html.ValidationMessageFor(model => model.NoIdentificacion, "", new { @class = "text-danger" })
                <div id="NoIdentificacionConcepto" style="color:red;"></div>
            </div>
            @*<div class="row">*@
            <div class="form-group col-xs-12 col-sm-6 col-md-6">
                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control md-2", @id = "DescripcionConc" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
            @*</div>*@
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                @Html.LabelFor(model => model.ValorUnitario, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.ValorUnitario, new { htmlAttributes = new { @class = "form-control md-2", @id = "ValorUnitario" } })
                @Html.ValidationMessageFor(model => model.ValorUnitario, "", new { @class = "text-danger" })
                <div id="ValorUnitarioConceptos" style="color:red;"></div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                @Html.LabelFor(model => model.Importe, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Importe, new { htmlAttributes = new { @class = "form-control md-2", @id = "Importe", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Importe, "", new { @class = "text-danger" })
                <div id="ImporteConceptos" style="color:red;"></div>
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control md-2", @id = "Descuento" } })
                @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
                <div id="DescuentoConceptos" style="color:red;"></div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-2">
                @Html.LabelFor(model => model.ObjetoImpuesto, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.ObjetoImpuesto, (IEnumerable<SelectListItem>)ViewBag.objetoImpuesto, "Favor de hacer su selección", new { @class = "form-select", @id = "objetoImpuestoDrop" })
                @Html.ValidationMessageFor(model => model.ObjetoImpuesto, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-2 habilita-impuesto" style="display:none">
                @Html.LabelFor(model => model.ImpuestoIdTras, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.ImpuestoIdTras, (IEnumerable<SelectListItem>)ViewBag.ImpuestoT, "Favor de hacer su selección", new { @class = "form-select", @id = "CImpuestoT" })
                @Html.ValidationMessageFor(model => model.ImpuestoIdTras, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-xs-12 col-sm-6 col-md-2 habilita-impuesto" style="display:none">
                @Html.LabelFor(model => model.ImpuestoIdRet, htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.ImpuestoIdRet, (IEnumerable<SelectListItem>)ViewBag.ImpuestoR, "Favor de hacer su selección", new { @class = "form-select", @id = "CImpuestoR" })
                @Html.ValidationMessageFor(model => model.ImpuestoIdRet, "", new { @class = "text-danger" })
            </div>



            <div class="separator my-5"></div>
            <div class="d-flex justify-content-end">
                <!--begin::Button-->
                <a href="@Url.Action("Index", ViewBag.Controller)" class="btn btn-light me-5">Cancelar</a>
                <!--end::Button-->
                <!--begin::Button-->

                <button type="submit" id="crearConcepto" class="btn btn-alt btn-primary">
                    <span class="indicator-label">Crear</span>
                </button>
                <!--end::Button-->
            </div>
        </div>
    </div>
</div>

