@model IEnumerable<API.Operaciones.Facturacion.FacturaRecibida>

@{
    ViewBag.Title = "Ver Gastos de Proveedores";
}

<div id="page-title">
    <div class="row">
        <div class="col-lg-9">
            <h2>CFDi Recibidos - Proveedores</h2>
            <p>Lista general de CFDi recibidos a través del Portal de Proveedores</p>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form">
                    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

                    <table class="table table-condensed dataTable">
                        <thead>
                            <tr>
                                <th>Proveedor</th>
                                <th>Centro de Costos</th>
                                <th>Departamento</th>
                                <th>Fecha de Status</th>
                                <th>Status</th>
                                <th>SAT</th>
                                <th>OC</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var factura in Model)
                            {
                                <tr>
                                    <td>@factura.Emisor.RazonSocial</td>
                                    <td>@factura.CentroCosto.Nombre</td>
                                    <td>@factura.Departamento.Nombre</td>
                                    <td>
                                        @if (factura.FechaAutorizacion == null)
                                        {
                                            <br />
                                        }
                                        else
                                        {
                                            @factura.FechaAutorizacion.Value.ToString("dd MMM yy");
                                        }
                                    </td>
                                    <td>
                                        @if (factura.Autorizada == null)
                                        {
                                            <p><span class="fa fa-envelope font-gray"></span> Recibida</p>
                                        }
                                        else
                                        {
                                            if (factura.Autorizada == true)
                                            {
                                                <p><span class="fas fa-calendar-check font-green"></span> Aprobada</p>
                                            }
                                            else
                                            {
                                                <p><span class="fas fa-calendar-times font-red"></span> Rechazada</p>
                                            }
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (factura.Validacion.Correcto == true)
                                        {
                                            <p><span class="fas fa-check-circle font-green"></span></p>
                                        }
                                        else
                                        {
                                            <p><span class="fas fa-exclamation-triangle font-red"></span></p>
                                        }
                                    </td>
                                    <td>
                                        @if (factura.Autorizada == true || factura.Autorizada == null)
                                        {
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="modal" data-target="#modalOC">
                                                <span class="fa fa-file"></span> Asignar OC
                                            </button>


                                            <div id="modalOC" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-lg">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Adjuntar Orden de Compra</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal">
                                                                <div class="form-group col-lg-4">
                                                                    <label for="email" class="control-label">OC Disponibles</label>
                                                                    <select class="form-control" id="sel1">
                                                                        <option>00092727</option>
                                                                        <option>00092232</option>
                                                                        <option>00092223</option>
                                                                        <option>00092655</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-lg-4">
                                                                    <label for="email" class="control-label">Línea de OC</label>
                                                                    <select class="form-control" id="sel1">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-sm-4">
                                                                    <label>Línea Parcial</label>                                                                    <div class="col-md-10">
                                                                        <div class="checkbox">
                                                                            <input type="checkbox">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                                <hr />

                                                                <div class="form-group col-lg-2">
                                                                    <label for="email" class="control-label">Cantidad</label>
                                                                    <input type="text" name="name" value="" />
                                                                </div>

                                                                <div class="form-group col-lg-2">
                                                                    <label for="email" class="control-label">Precio Unitario</label>
                                                                    <input type="text" name="name" value="" />
                                                                </div>

                                                                <div class="form-group col-lg-2">
                                                                    <label for="email" class="control-label">IEPS</label>
                                                                    <input type="text" name="name" value="" />
                                                                </div>

                                                                <div class="form-group col-lg-2">
                                                                    <label for="email" class="control-label">Subtotal</label>
                                                                    <input type="text" name="name" value="" />
                                                                </div>

                                                                <div class="form-group col-lg-2">
                                                                    <label for="email" class="control-label">IVA</label>
                                                                    <input type="text" name="name" value="" />
                                                                </div>

                                                                <div class="form-group col-lg-2">
                                                                    <label for="email" class="control-label">Total</label>
                                                                    <input type="text" name="name" value="" />
                                                                </div>

                                                                <div class="clearfix"></div>
                                                                <hr />

                                                                <div class="form-group col-lg-4">
                                                                    <label for="email" class="control-label">Seleccionar Recepción</label>
                                                                    <select class="form-control clean" id="sel1">
                                                                        <option>00092</option>
                                                                        <option>00095</option>
                                                                        <option>00094</option>
                                                                        <option>00093</option>
                                                                    </select>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                                <hr />

                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Guardar</button>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>



                                        }
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-cog"></span> Opciones
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>@Html.ActionLink("Aprobar", "Aprobar", new { facturaRecibidaId = factura.Id }, new { @class = "edit" })</li>
                                                <li>@Html.ActionLink("Rechazar", "Rechazar", new { facturaRecibidaId = factura.Id }, new { @class = "delete" })</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="clearfix"></div>
                    <hr />
                    <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
                        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>