@model API.Models.Facturas.FacturasEmitidasModel

@{
    ViewBag.Title = "Facturas Emitidas";
}

@if (User.IsInRole("FACTURASEMITIDAS"))//SE LE APLICO PERMISO DEPENDIENDO A LOS TIPOS DE ROLES QUE TIENE ASIGNADO CADA USUARIO
{
    <div class="card card-flush">
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
            
            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                <!--begin::Export dropdown-->
                <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    <i class="fa fa-file-export"></i>
                    Exportar
                </button>
                <!--begin::Menu-->
                <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4" data-kt-menu="true">
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="copy">
                            Copiar a portapapeles
                        </a>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="excel">
                            Exportar a Excel
                        </a>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="csv">
                            Exportar a CSV
                        </a>
                    </div>
                    <!--end::Menu item-->
                    <!--begin::Menu item-->
                    <div class="menu-item px-3">
                        <a href="#" class="menu-link px-3" data-kt-export="pdf">
                            Exportar a PDF
                        </a>
                    </div>
                    <!--end::Menu item-->
                </div>
                <!--end::Menu-->
                <!--end::Export dropdown-->
                <!--begin::Hide default export buttons-->
                <div id="kt_datatable_example_buttons" class="d-none"></div>
                <!--end::Hide default export buttons-->
            </div>
        </div>

        <div class="card-body pt-0">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form">
                    @Html.ValidationSummary(true, "", new { @class = "label-blue-alt" })

                    @Html.HiddenFor(model => model.SucursalId)

                    <div class="sub-title">
                        <span class="fa fa-bars text-muted"></span> Periodos de Tiempo
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <span class="input-group-addon">Fecha Inicial</span>
                            @Html.EditorFor(model => model.FechaInicial, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.FechaInicial, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <span class="input-group-addon">Fecha Final</span>
                            @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control mb-2" } })
                            @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3 pull-right">
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />

                    <div id="cancelar-view"></div>
                    <table class="table align-middle rounded table-row-dashed fs-6 g-5" id="kt_datatable">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase">
                                <th class="min-w-100px">
                                    RFC Receptor-Nombre
                                </th>
                                <th class="min-w-100px">
                                    Serie-Folio-UUID
                                </th>
                                <th class="min-w-100px">
                                    Fecha
                                </th>
                                <th class="min-w-100px">
                                    Moneda-Tipo de Cambio
                                </th>
                                <th>
                                    UUID CfdiRelacionado
                                </th>
                                <th>
                                    Tipo Relación
                                </th>
                                <th class="min-w-100px">
                                    Total
                                </th>
                                <th>
                                    Total Impuestos Trasladados
                                </th>
                                <th>
                                    Total Impuestos Retenidos
                                </th>
                                <th>
                                    Tipo Comprobante
                                </th>
                                @*<th>
                                    Status
                                </th>*@
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.FacturasEmitidas)
                            {
                                var concaRfcNombre = item.Receptor.Rfc + "-" + item.Receptor.RazonSocial;
                                var concaSerieFolioUuid = item.Serie + "-" + item.Folio + "-" + item.Uuid;
                            <tr class="odd">
                                <td>
                                    @Html.Raw(concaRfcNombre)
                                </td>
                                <td>
                                    @Html.Raw(concaSerieFolioUuid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>

                                <td>

                                    @Html.Raw("Moneda: ") @Html.DisplayFor(modelItem => item.Moneda)  <br />
                                    @if (item.Moneda == API.Enums.c_Moneda.USD)
                                    {
                                        @Html.Raw("Tipo Cambio: ") @Html.DisplayFor(modelItem => item.TipoCambio)
                                    }

                                </td>
                                <td>
                                    @{
                                        var db = new APBox.Context.APBoxContext();
                                        var pagos = db.ComplementosPago.Where(p => p.FacturaEmitidaId == item.Id).FirstOrDefault();
                                        var cartaPorte = db.ComplementoCartaPortes.Where(p => p.FacturaEmitidaId == item.Id).FirstOrDefault();
                                        var comprobanteCfdi = db.ComprobantesCfdi.Where(p => p.FacturaEmitidaId == item.Id).FirstOrDefault();
                                        if (pagos != null)
                                        {
                                            @pagos.UUIDCfdiRelacionado
                                        }
                                        else if (cartaPorte != null)
                                        {
                                            @cartaPorte.UUIDCfdiRelacionado
                                        }
                                        else if (comprobanteCfdi != null)
                                        {
                                            @comprobanteCfdi.UUIDCfdiRelacionado
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (pagos != null)
                                        {
                                            @pagos.TipoRelacion
                                        }
                                        else if (cartaPorte != null)
                                        {
                                            @cartaPorte.TipoRelacion
                                        }
                                        else if (comprobanteCfdi != null)
                                        {
                                            @comprobanteCfdi.TipoRelacion
                                        }
                                    }
                                </td>
                                <td class="text-right">
                                    @item.Total.ToString("C")
                                </td>
                                <td class="text-right">
                                    @{
                                        if (pagos != null)
                                        {
                                            @Html.Raw("0")
                                        }
                                        else if (cartaPorte != null)
                                        {
                                            @cartaPorte.TotalImpuestoTrasladado.ToString("C")
                                        }
                                        else if (comprobanteCfdi != null)
                                        {
                                            @comprobanteCfdi.TotalImpuestoTrasladado.ToString("C")
                                        }
                                    }
                                </td>
                                <td class="text-right">
                                    @{
                                        if (pagos != null)
                                        {
                                            @Html.Raw("0")
                                        }
                                        else if (cartaPorte != null)
                                        {
                                            @cartaPorte.TotalImpuestoRetenidos.ToString("C")
                                        }
                                        else if (comprobanteCfdi != null)
                                        {
                                            @comprobanteCfdi.TotalImpuestoRetenidos.ToString("C")
                                        }
                                    }
                                </td>
                                <td class="text-center">
                                    @item.TipoComprobante
                                </td>
                                @*<td>
            @switch (item.Status)
            {
                case API.Enums.Status.Activo:
                    <div class="badge badge-light-success">Activo</div>
                    break;
                case API.Enums.Status.Cancelado:
                    <div class="badge badge-light-danger">Cancelado</div>
                    break;
                default:
                    break;
            }
        </td>*@

                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }
        </div>

    </div>
}

