@using APBox.Context;
@{
    if (!User.IsInRole("CFDI") || !User.IsInRole("COMPLEMENTOSPAGOS") || !User.IsInRole("COMPLEMENTOCARTAPORTE"))
    {
        if (User.IsInRole("PROVEEDOR") || User.IsInRole("RECEPCION"))
        {
            ViewBag.Active = "active";
        }
    }
    var _db = new APBoxContext();
    var usuario = _db.Usuarios.Find(Convert.ToInt32(Session["UsuarioId"]));

    if (usuario.esProveedor == true)
    {
        ViewBag.MiscomprobantesTitulo = "Mis Comprobantes";
        ViewBag.MiscomprobanesUrl = "miscomprobantes";
        ViewBag.MiscomprobanesTooltip = "Adminisitra los comprobates que has cargado";

        ViewBag.TodoscomprobanesTitulo = "Todos los Comprobantes";
        ViewBag.TodoscomprobanesUrl = "todoscomprobantes";
        ViewBag.TodoscomprobantesTooltip = "Todos los Comprobantes";

    }
    else
    {
        ViewBag.MiscomprobantesTitulo = "Mis Comprobantes";
        ViewBag.MiscomprobantesUrl = "miscomprobantes";
        ViewBag.MiscomprobantesTooltip = "Adminisitra los comprobates que has cargado";

        ViewBag.AutorizarcomprobantesTitulo = "Autorizar Comprobantes";
        ViewBag.AutorizarcomprobantesUrl = "autorizarcomprobantes";
        ViewBag.AutorizarcomprobantesTooltip = "Lista de Comprobantes por Autorizar";

        ViewBag.TodoscomprobantesTitulo = "Todos los Comprobantes";
        ViewBag.TodoscomprobanesUrl = "todoscomprobantes";
        ViewBag.TodoscomprobantesTooltip = "Todos los Comprobantes";
    }

}
<!--begin:Pages menu-->
<div class="menu-active-bg px-4 px-lg-0">
    <!--begin:Tabs nav-->
    <div class="d-flex w-100 overflow-auto">
        <ul class="nav nav-stretch nav-line-tabs fw-bold fs-6 p-0 p-lg-10 flex-nowrap flex-grow-1">
            <!--begin:Nav item-->
            @if (User.IsInRole("CFDI") || User.IsInRole("COMPLEMENTOSPAGOS") || User.IsInRole("COMPLEMENTOCARTAPORTE"))
            {
                <li class="nav-item mx-lg-1">
                    <a class="nav-link py-3 py-lg-6 active text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#emision">
                        Emisión de CFDi
                    </a>
                </li>
                <!--end:Nav item-->
            }
            @if (User.IsInRole("PROVEEDOR") || User.IsInRole("RECEPCION"))
            {
                <!--begin:Nav item-->
                <li class="nav-item mx-lg-1">
                    <a class="nav-link py-3 py-lg-6 @ViewBag.Active text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#recepcion">
                        Recepción de Comprobantes
                    </a>
                </li>
                <!--end:Nav item-->
            }
            @if (User.IsInRole("PAGOS"))
            {
                <!--begin:Nav item-->
                <li class="nav-item mx-lg-1">
                    <a class="nav-link py-3 py-lg-6  text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#pagos">
                        Pagos
                    </a>
                </li>
                <!--end:Nav item-->
            }
            @if (User.IsInRole("ADDENDA"))
            {
                <!--begin:Nav item-->
                <li class="nav-item mx-lg-1">
                    <a class="nav-link py-3 py-lg-6  text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#addendas">
                        Addendas
                    </a>
                </li>
                <!--end:Nav item-->
            }
        </ul>
    </div>
    <!--end:Tabs nav-->
    <!--begin:Tab content-->
    <div class="tab-content py-4 py-lg-8 px-lg-7">
        @if (User.IsInRole("CFDI") || User.IsInRole("COMPLEMENTOSPAGOS") || User.IsInRole("COMPLEMENTOCARTAPORTE"))
        {
            <!--begin:Tab pane-->
            <div class="tab-pane active w-lg-600px" id="emision">
                <!--begin:Row-->
                <div class="row">
                    <!--begin:Col-->
                    <div class="col-lg-8">
                        <!--begin:Row-->
                        <div class="row">
                            @if (User.IsInRole("CFDI"))
                            {
                                <!--begin:Col-->
                                <div class="col-lg-4 mb-6 mb-lg-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">CFDi</h4>
                                    <!--end:Menu heading-->
                                    @if (User.IsInRole("CFDI"))
                                    {
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="@Url.Action("Index", "ComprobantesCfdi")" class="menu-link ">
                                                <span class="menu-title">Ingreso y Egreso</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    }
                                </div>
                                <!--end:Col-->
                            }
                            <!--begin:Col-->
                            @if (User.IsInRole("COMPLEMENTOSPAGOS") || User.IsInRole("COMPLEMENTOCARTAPORTE"))
                            {
                                <div class="col-lg-8 mb-6 mb-lg-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Complementos</h4>
                                    <!--end:Menu heading-->
                                    @if (User.IsInRole("COMPLEMENTOSPAGOS"))
                                    {
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->

                                            <a href="@Url.Action("Index", "ComplementosPagos")" class="menu-link ">
                                                <span class="menu-title">Complemento de Pagos</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    }
                                    @if (User.IsInRole("COMPLEMENTOCARTAPORTE"))
                                    {
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="@Url.Action("Index", "ComplementosCartaPorte")" class="menu-link ">
                                                <span class="menu-title">Complemento de Carta Porte</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    }
                                </div>
                                <!--end:Col-->
                            }
                        </div>
                        <!--end:Row-->
                    </div>
                    <!--end:Col-->
                    <!--begin:Col-->
                    <div class="col-lg-4">
                        <img src="~/_CDN/assets/media/stock/600x600/img-83.jpg" class="rounded mw-100" alt="" />
                    </div>
                    <!--end:Col-->
                </div>
                <!--end:Row-->
            </div>
            <!--end:Tab pane-->
        }
        @if (User.IsInRole("PROVEEDOR") || User.IsInRole("RECEPCION"))
        {
            <!--begin:Tab pane-->
            <div class="tab-pane @ViewBag.Active w-lg-600px" id="recepcion">
                <!--begin:Row-->
                <div class="row">
                    <!--begin:Col-->
                    <div class="col-lg-8">
                        <!--begin:Row-->
                        <div class="row">
                            <!--begin:Col-->
                            <div class="col-lg-6 mb-6 mb-lg-0">
                                <!--begin:Menu section-->
                                <div class="mb-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Comprobantes</h4>
                                    <!--end:Menu heading-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index", "DocumentosRecibidos", new { q = ViewBag.MiscomprobantesUrl })" class="menu-link">
                                            <span class="menu-title">@ViewBag.MiscomprobantesTitulo</span> 
                                            <i data-bs-toggle="tooltip" data-bs-title="@ViewBag.MiscomprobantesTooltip" data-bs-placement="right" class="ki-duotone ki-information-2 fs-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index", "DocumentosRecibidos", new { q = ViewBag.AutorizarcomprobantesUrl })" class="menu-link">
                                            <span class="menu-title">@ViewBag.AutorizarcomprobantesTitulo</span>
                                            <i data-bs-toggle="tooltip" data-bs-title="@ViewBag.AutorizarcomprobantesTooltip" data-bs-placement="right" class="ki-duotone ki-information-2 fs-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index", "DocumentosRecibidos", new { q = ViewBag.TodoscomprobanesUrl })" class="menu-link">
                                            <span class="menu-title">@ViewBag.TodoscomprobantesTitulo</span>
                                            <i data-bs-toggle="tooltip" data-bs-title="@ViewBag.TodoscomprobantesTooltip" data-bs-placement="right" class="ki-duotone ki-information-2 fs-3">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                            </i>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>
                                <!--end:Menu section-->
                            </div>
                            <!--end:Col-->
                            <!--begin:Col-->
                            <div class="col-lg-6 mb-6 mb-lg-0">
                                <!--begin:Menu section-->
                                <div class="mb-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Solicitudes</h4>
                                    <!--end:Menu heading-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index", "ComprobacionesGastos")" class="menu-link ">
                                            <span class="menu-title">Comprobación de Gastos</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>
                                <!--end:Menu section-->
                            </div>
                            <!--end:Col-->
                        </div>
                        <!--end:Row-->
                    </div>
                    <!--end:Col-->
                    <!--begin:Col-->
                    <div class="col-lg-4">
                        <img src="~/_CDN/assets/media/stock/600x600/img-87.jpg" class="rounded mw-100" alt="" />
                    </div>
                    <!--end:Col-->
                </div>
                <!--end:Row-->
            </div>
            <!--end:Tab pane-->
        }
        @if (User.IsInRole("PAGOS"))
        {
            <!--begin:Tab pane-->
            <div class="tab-pane w-lg-600px" id="pagos">
                <!--begin:Row-->
                <div class="row">
                    <!--begin:Col-->
                    <div class="col-lg-8">
                        <!--begin:Row-->
                        <div class="row">
                            <!--begin:Col-->
                            <div class="col-lg-6 mb-6 mb-lg-0">
                                <!--begin:Menu section-->
                                <div class="mb-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-6 fw-bold mb-3 ms-4">Aprobaciones</h4>
                                    <!--end:Menu heading-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index","DocumentosPagos")" class="menu-link ">
                                            <span class="menu-title">Comprobantes aprobados</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index","DocumentosPagos")" class="menu-link ">
                                            <span class="menu-title">Cargar Complementos de Pagos</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>
                                <!--end:Menu section-->
                            </div>

                            <div class="col-lg-6 mb-6 mb-lg-0">
                                <!--begin:Menu section-->
                                <div class="mb-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-6 fw-bold mb-3 ms-4">Operaciones</h4>
                                    <!--end:Menu heading-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Pagos","DocumentosPagos")" class="menu-link ">
                                            <span class="menu-title">Cargar Pagos Realizados</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                </div>
                                <!--end:Menu section-->
                            </div>
                        </div>
                        <!--end:Row-->
                    </div>
                    <!--end:Col-->
                    <!--begin:Col-->
                    <div class="col-lg-4">
                        <img src="~/_CDN/assets/media/stock/600x600/img-80.jpg" class="rounded mw-100" alt="" />
                    </div>
                    <!--end:Col-->
                </div>
                <!--end:Row-->
            </div>
            <!--end:Tab pane-->
        }
        @if (User.IsInRole("ADDENDA"))
        {
            <!--begin:Tab pane-->
            <div class="tab-pane w-lg-600px" id="addendas">
                <!--begin:Row-->
                <div class="row">
                    <!--begin:Col-->
                    <div class="col-lg-8">
                        <!--begin:Row-->
                        <div class="row">
                            <!--begin:Col-->
                            <div class="col-lg-3 mb-6 mb-lg-0">
                                <!--begin:Menu heading-->
                                <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Agregar</h4>
                                <!--end:Menu heading-->
                                <!--begin:Menu item-->
                                <div class="menu-item p-0 m-0">
                                    <!--begin:Menu link-->
                                    <a href="@Url.Action("Index", "Addenda")" class="menu-link ">
                                        <span class="menu-title">Pega-Addenda</span>
                                    </a>
                                    <!--end:Menu link-->
                                </div>
                                <!--end:Menu item-->
                            </div>
                            <!--end:Col-->
                        </div>
                        <!--end:Row-->
                    </div>
                    <!--end:Col-->
                    <!--begin:Col-->
                    <div class="col-lg-4">
                        <img src="~/_CDN/assets/media/stock/600x600/img-68.jpg" class="rounded mw-100" alt="" />
                    </div>
                    <!--end:Col-->
                </div>
                <!--end:Row-->
            </div>
            <!--end:Tab pane-->
        }
    </div>
    <!--end:Tab content-->
</div>
<!--end:Pages menu-->