<!--begin:Pages menu-->
<div class="menu-active-bg px-4 px-lg-0">
    <!--begin:Tabs nav-->
    <div class="d-flex w-100 overflow-auto">
        <ul class="nav nav-stretch nav-line-tabs fw-bold fs-6 p-0 p-lg-10 flex-nowrap flex-grow-1">
            <!--begin:Nav item-->
            <li class="nav-item mx-lg-1">
                <a class="nav-link py-3 py-lg-6 active text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#descargas">
                    Descargas
                </a>
            </li>
            <!--end:Nav item-->
            <!--begin:Nav item-->
            <li class="nav-item mx-lg-1">
                <a class="nav-link py-3 py-lg-6  text-active-primary" href="#" data-bs-toggle="tab" data-bs-target="#reportes">
                    Reportes
                </a>
            </li>
            <!--end:Nav item-->
        </ul>
    </div>
    <!--end:Tabs nav-->
    <!--begin:Tab content-->
    <div class="tab-content py-4 py-lg-8 px-lg-7">
        @if (User.IsInRole("FACTURASEMITIDAS") || User.IsInRole("DOCUMENTOSRECIBIDOS"))
        {
            <!--begin:Tab pane-->
            <div class="tab-pane active w-lg-600px" id="descargas">
                <!--begin:Row-->
                <div class="row">
                    <!--begin:Col-->
                    <div class="col-lg-8">
                        <!--begin:Row-->
                        <div class="row">
                            <!--begin:Col-->
                            <div class="col-lg-6 mb-6 mb-lg-0">
                                <!--begin:Menu heading-->
                                <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">CFDi</h4>
                                <!--end:Menu heading-->
                                @if (User.IsInRole("FACTURASEMITIDAS"))
                                {
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index", "FacturasEmitidas")" class="menu-link ">
                                            <span class="menu-title">CFDi Emitidos</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                }
                                @if (User.IsInRole("DOCUMENTOSRECIBIDOS"))
                                {
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("Index", "Home")" class="menu-link ">
                                            <span class="menu-title">CFDi Recibidos</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                }
                                </div>
                            <!--end:Col-->
                        </div>
                        <!--end:Row-->
                    </div>
                    <!--end:Col-->
                    <!--begin:Col-->
                    <div class="col-lg-4">
                        <img src="~/_CDN/assets/media/stock/600x600/img-66.jpg" class="rounded mw-100" alt="" />
                    </div>
                    <!--end:Col-->
                </div>
                <!--end:Row-->
            </div>
            <!--end:Tab pane-->
        }
            <!--begin:Tab pane-->
            <div class="tab-pane  w-lg-600px" id="reportes">
                <!--begin:Row-->
                <div class="row">
                    <!--begin:Col-->
                    <div class="col-lg-8">
                        <!--begin:Row-->
                        <div class="row">
                            <!--begin:Col-->
                            <div class="col-lg-6 mb-6 mb-lg-0">
                                @if (User.IsInRole("FACTURASEMITIDAS") || User.IsInRole("DOCUMENTOSRECIBIDOS"))
                                {
                                    <!--begin:Menu section-->
                                <div class="mb-0">
                                    <!--begin:Menu heading-->
                                    <h4 class="fs-6 fs-lg-4 fw-bold mb-3 ms-4">Timbrado</h4>
                                    <!--end:Menu heading-->
                                    <!--begin:Menu item-->
                                    <div class="menu-item p-0 m-0">
                                        <!--begin:Menu link-->
                                        <a href="@Url.Action("ReporteFacturasEmitidas","FacturasEmitidas")" class="menu-link ">
                                            <span class="menu-title">CFDi Emitidos</span>
                                        </a>
                                        <!--end:Menu link-->
                                    </div>
                                    <!--end:Menu item-->
                                    @if (User.IsInRole("DOCUMENTOSRECIBIDOS"))
                                    {
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="@Url.Action("ReporteCfdiRecibidos", "ReporteRecibidos")" class="menu-link ">
                                                <span class="menu-title">CFDi Recibidos</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                    }
                                        <!--end:Menu item-->
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="@Url.Action("ReportePagos","FacturasEmitidas")" class="menu-link ">
                                                <span class="menu-title">CFDi Complemento Pago</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                        <!--begin:Menu item-->
                                        <div class="menu-item p-0 m-0">
                                            <!--begin:Menu link-->
                                            <a href="@Url.Action("Index","Home")" class="menu-link ">
                                                <span class="menu-title">CFDi Nómina</span>
                                            </a>
                                            <!--end:Menu link-->
                                        </div>
                                        <!--end:Menu item-->
                                    </div>
                                    <!--end:Menu section-->
                                }
                            </div>
                        </div>
                        <!--end:Row-->
                    </div>
                    <!--end:Col-->
                    <!--begin:Col-->
                    <div class="col-lg-4">
                        <img src="~/_CDN/assets/media/stock/600x600/img-72.jpg" class="rounded mw-100" alt="" />
                    </div>
                    <!--end:Col-->
                </div>
                <!--end:Row-->
            </div>
            <!--end:Tab pane-->

        </div>
    <!--end:Tab content-->
</div>
<!--end:Pages menu-->