<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="" />
    <title>APBox</title>
    <meta charset="utf-8" />
    <meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 100,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue, Asp.Net Core, Blazor, Django, Flask & Laravel versions. Grab your copy now and get life-time updates for free." />
    <meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Blazor, Django, Flask & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic | Bootstrap HTML, VueJS, React, Angular, Asp.Net Core, Blazor, Django, Flask & Laravel Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />

    <!--begin::Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/_CDN/custom/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/_CDN/custom/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/_CDN/custom/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/_CDN/custom/media/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/_CDN/custom/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/_CDN/custom/media/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="~/_CDN/custom/media/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!--end::Favicons-->
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used by this page)-->
    <link href="~/_CDN/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/_CDN/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/_CDN/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/_CDN/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    <!--begin::Custom Styles-->
    <link href="~/_CDN/custom/css-custom/custom.css" rel="stylesheet" type="text/css" />
    <!--end::Custom Styles-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="page-loading-enabled toolbar-enabled bg-image">
    <!--layout-partial:partials/theme-mode/_init.html-->
    <!--layout-partial:partials/_loader.html-->
    @Html.Partial("~/Views/Shared/partials/_loader.cshtml")

    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-column flex-column-fluid">
            <!--layout-partial:layout/header/_base.html-->
            @Html.Partial("~/Views/Shared/layout/header/_base.cshtml")

            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid container-xxl" id="kt_wrapper">

                <!--layout-partial:layout/_toolbar.html-->
                @Html.Partial("~/Views/Shared/layout/_toolbar.cshtml")

                <!--begin::Main-->
                <div class="d-flex flex-row flex-column-fluid align-items-stretch">
                    <!--begin::Content-->
                    <div class="content flex-row-fluid" id="kt_content">
                        @RenderBody()
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Main-->
                <!--layout-partial:layout/_footer.html-->
                @Html.Partial("~/Views/Shared/layout/_footer.cshtml")

            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    <!--layout-partial:partials/_drawers.html-->
    <!--end::Main-->
    <!--layout-partial:partials/_scrolltop.html-->
    @Html.Partial("~/Views/Shared/partials/_scrolltop.cshtml")

    <!--begin::Modals-->
    <!--end::Modals-->
    <!--begin::Javascript-->
    <script>var hostUrl = "~/_CDN/assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/_CDN/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/_CDN/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Vendors Javascript(used by this page)-->

    <link href="~/_CDN/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <script src="~/_CDN/assets/plugins/custom/datatables/datatables.bundle.js"></script>

    <script>
        "use strict";

        // Class definition
        var KTDatatablesExample = function () {
            // Shared variables
            var table;
            var datatable;

            // Private functions
            var initDatatable = function () {
                // Set date data order
                const tableRows = table.querySelectorAll('tbody tr');

                // Init datatable --- more info on datatables: https://datatables.net/manual/
                datatable = $(table).DataTable({
                    "info": false,
                    'order': [],
                    'pageLength': 25,
                });
            }

            // Hook export buttons
            var exportButtons = () => {
                const documentTitle = 'Customer Orders Report';
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'excelHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'csvHtml5',
                            title: documentTitle
                        },
                        {
                            extend: 'pdfHtml5',
                            title: documentTitle
                        }
                    ]
                }).container().appendTo($('#kt_datatable_example_buttons'));

                // Hook dropdown menu click event to datatable export buttons
                const exportButtons = document.querySelectorAll('#kt_datatable_example_export_menu [data-kt-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        // Get clicked export value
                        const exportValue = e.target.getAttribute('data-kt-export');
                        const target = document.querySelector('.dt-buttons .buttons-' + exportValue);

                        // Trigger click event on hidden datatable export buttons
                        target.click();
                    });
                });
            }

            // Search Datatable --- official docs reference: https://datatables.net/reference/api/search()
            var handleSearchDatatable = () => {
                const filterSearch = document.querySelector('[data-kt-filter="search"]');
                filterSearch.addEventListener('keyup', function (e) {
                    datatable.search(e.target.value).draw();
                });
            }

            // Public methods
            return {
                init: function () {
                    table = document.querySelector('#kt_datatable');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();
                    handleSearchDatatable();
                }
            };
        }();

        // On document ready
        KTUtil.onDOMContentLoaded(function () {
            KTDatatablesExample.init();
        });

    </script>

    <!--end::Vendors Javascript-->
    <!--begin::Custom Javascript(used by this page)-->
    <script src="~/_CDN/assets/js/widgets.bundle.js"></script>
    <script src="~/_CDN/assets/js/custom/widgets.js"></script>
    <script src="~/_CDN/custom/js-custom/scripts.js"></script>
    <!--end::Custom Javascript-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>